.fadeIn
  animation-name: fadeIn
  animation-fill-mode: forwards
.fadeInLeft
  animation-name: fadeInLeft
  animation-fill-mode: forwards
.fadeInRight
  animation-name: fadeInRight
  animation-fill-mode: forwards
.fadeInRightSm
  animation-name: fadeInRightSm
  animation-fill-mode: forwards
.overlayedLeft
  animation-name: fadeIn
  +before
    animation-fill-mode: forwards
    animation-duration: 1s
    html:not(.is-ie) &
      animation-name: overlayedLeft
    .is-ie &
      animation-name: overlayedLeftSimple
.fadeInBottomSm
  animation-name: fadeInBottomSm
.fadeInTopSm
  animation-name: fadeInTopSm
.slideBeforeRight
  animation-name: fadeIn  
  +before    
    animation-fill-mode: forwards
    animation-duration: 1s
    html:not(.is-ie) &
      animation-name: slideBeforeRight
    .is-ie &
      animation-name: slideBeforeRightSimple

.slideBeforeRightShort
  animation-name: fadeIn
  +before
    animation-fill-mode: forwards
    animation-duration: 1s
    html:not(.is-ie) &
      animation-name: slideBeforeRightShort
    .is-ie &
      animation-name: slideBeforeRightShortSimple
    

@keyframes fadeIn
  0%
    opacity: 0
  100%
    opacity: 1

@keyframes fadeInLeft
  0%
    opacity: 0
    transform: translate(-100%, 0)
  100%
    opacity: 1
    transform: translate(0, 0)

@keyframes fadeInRight
  0%
    opacity: 0
    transform: translate(100%, 0)
  100%
    opacity: 1
    transform: translate(0, 0)

@keyframes fadeInRightSm
  0%
    opacity: 0
    transform: translate(30px, 0)
  100%
    opacity: 1
    transform: translate(0, 0)

@keyframes overlayedLeft
  0%
    transform: translate(-100%, 0)
  30%
    transform: translate(0, 0)
  60%
    transform: translate(0, 0)
  100%
    transform: translate(calc(100% + 2px), 0)

@keyframes overlayedLeftSimple
  0%
    transform: translate(-100%, 0)
  100%
    transform: translate(102%, 0)

@keyframes fadeInBottomSm
  0%
    opacity: 0
    transform: translate(0, 30px)
  100%
    opacity: 1
    transform: translate(0, 0)

@keyframes fadeInTopSm
  0%
    opacity: 0
    transform: translate(0, -30px)
  100%
    opacity: 1
    transform: translate(0, 0)

@keyframes slideBeforeRight
  0%
    transform: translate(100%, 0)
  50%
    transform: translate(0, 0)
  100%
    transform: translate(-75%, 0)

    
@keyframes slideBeforeRightSimple
  0%
    transform: translate(100%, 0)
  100%
    transform: translate(-75%, 0)

@keyframes slideBeforeRightShort
  0%
    transform: translate(100%, 0)
  50%
    transform: translate(0, 0)
  100%
    transform: translate(-57%, 0)

@keyframes slideBeforeRightShortSimple
  0%
    transform: translate(100%, 0)
  100%
    transform: translate(-57%, 0)