body
  background: #FFF
  line-height: 1.4
  font-size: $fz
  +reg
  color: $black
  min-width: 320px
  +no-scroll
  +sm
    font-size: $fz-sm

input, textarea
  font-family: inherit
  font-size: inherit
  color: inherit
  +placeholder
    font-family: inherit
    font-size: inherit

.icon
  display: inline-block
  fill: currentColor
  font-size: inherit

.animated-img
  &[data-loaded="true"]
    animation: fadeIn 1s

.overflow-hidden
  overflow: hidden

.out
  &.has-fixed-header
    padding-top: $header-height
    +sm
      padding-top: $header-height-sm

.container
  display: block
  max-width: 1440px
  padding-left: 15px
  padding-right: 15px
  margin-left: auto
  margin-right: auto
  // +xlmin
  //   max-width: 1440px

.logo
  display: block
  font-size: 0
  .icon
    +css-lock(21, 33, 320, 575, font-size)

.scroll-to
  width: 90px
  height: 90px
  background-color: $yellow
  position: relative
  color: $white
  +flex(center, center)
  flex: 0 0 90px
  +sm
    width: 70px
    height: 70px
    flex: 0 0 70px
  .icon
    font-size: $fz-arrow    
    +tr(transform .5s)
    +sm
      font-size: $fz-arrow-sm
  &--down
    margin-top: 20px
    .icon
      transform: translate(0, -100%) rotate(90deg)
    +sm
      margin-top: 15px
    +hover
      .icon
        transform: translate(0, 0) rotate(90deg)
  &--up
    align-items: flex-end
    .icon
      transform: rotate(-90deg)
    +hover
      .icon
        transform: translate(0, -50%) rotate(-90deg)

.word
  $this: &
  // +black
  +bold
  +css-lock(70, 236, 320, 1499, font-size)
  line-height: .9
  letter-spacing: -.05em
  text-transform: uppercase
  position: absolute
  z-index: 0
  opacity: 0
  &__inner
    -webkit-text-fill-color: transparent
    -webkit-background-clip: text
    +image('black-pattern.png')
    background-repeat: repeat
    background-size: auto
    color: $gray-lighten

  &--sm
    +css-lock(70, 170, 320, 1499, font-size)
  &--purple
    // opacity: 1
    color: $purple-darken
    #{$this}__inner
      background-image: none
      -webkit-text-fill-color: $purple-darken
      -webkit-background-clip: initial




.link-arrow
  +bold
  text-transform: uppercase
  +hover
    .icon
      transform: translate(15px, 0)
  .icon
    font-size: 8px
    margin-left: 15px
    fill: $gray-light
    +tr(transform .3s)

.scrolled-text
  font-size: 10px
  max-height: 460px
  overflow: hidden
  position: relative
  padding-right: 8px  
  h1, h2, h3, h4, h5, h6
    margin-bottom: 25px
    +lg
      margin-bottom: 15px
    +md
      margin-bottom: 10px
  h1
    @extend .h6
  h2
    @extend .h6
    @extend .h6--ttn
    @extend .h6--lg
  p
    margin-bottom: 20px
    +lg
      margin-bottom: 15px
    +md
      margin-bottom: 10px

.overlayed
  position: relative
  overflow: hidden
  +before
    +coverdiv
    z-index: 2
    background-color: $yellow
    transform: translate(-100%, 0)
