---
title: about
page: about
mainClass: page-about
hero: {
  modifications: {
    section: 'hero--content'
  },
  bgImage: 'bg-hero-about.jpg',
  subttl: 'ми цінуємо свою репутацію',
  title: '<small>не вміємо робити погано,</small> <strong class="glitch" data-text="видаємо тільки">видаємо тільки найкращі</strong> <small>результати та проекти</small>',
  text: 'З перших секунд співпраці з нами ви зрозумієте, що потрапили
до правильних рук. Дружелюбні менеджери з’ясують, 
як реалізувати для вас найкращий проект. 
А професійні технічні спеціалісти втілять це у життя.',
  breadcrumbs: {
    list: [
      { link: 'Головна' },
      { item: '-' },
      { link: 'про компанію', modLink: 'is-active' }
    ]
  },
  scrollToTarget: 'numbers'
}
clients: {
  modifications: {
    table: 'clients-table--full'
  }
}
numbers: [
  { title: '100+', text: 'Успішних реалізованих проектів, які <br>
до сьогоднішнього дня працюють<br>
 на своїх власників' },
  { title: '7+', text: 'Років на ринку IT. За цей час ми отримали <br>
стільки досвіду, що не одна проблема<br>
 не встоїть перед нами' },
  { title: '0', text: 'Незадоволених клієнтів,<br>
провалених проектів,<br>
негативних відгуків' },
{ title: '10', text: 'За десятибальною шкалою - середня <br>
оцінка наших послуг клієнтами<br>
у 2019 році'}
]
principles: {
  list: [
  { nmb: '01/', title: 'Відповідаємо за якість', text: 'Ми не прагнемо «сдати» проект поскоріше,<br>
  нам важливо, щоб продукт працював<br>
  і ви розповідали про нас друзям' },
  { nmb: '02/', title: 'Чуємо клієнта', text: 'Перед початком роботи, ми уважно вислухаємо<br>
усі ваші побажання та зробимо усе,<br> 
щоб втілити їх у життя' },
  { nmb: '03/', title: 'Підходимо з розумом ', text: 'Спочатку ми продумуємо, аналізуємо та плануємо,<br> 
а вже потім починаємо розробляти, проектувати<br>
та впроваджувати' },
  { nmb: '04/', title: 'Будуємо на майбутнє', text: 'Нам цікаво працювати з вами на постійній основі,<br> 
тому ми вкладаємося у кожний проект,<br> 
як у довгострокову інвестицію' },
  { nmb: '05/', title: 'Діємо рішуче', text: 'Ми завжди орієнтуємося на розробку найкращого<br>
проекту в Україні за вашою тематикою, а це<br>
потребує сміливих ідей' },
  { nmb: '06/', title: 'Пишаємося собою', text: 'Після кожного проекту ми стаємо на декілька<br> 
пунктів щасливішими, адже ми знову<br>
створили продукт, який цінують' }
  ]
}
---
{% extends "layouts/_layout.html" %}

{% block content %}  
  {% include "partials/_hero.html" %}
  {% include "partials/sections/_s-numbers.html" %}
  {% include "partials/sections/_s-office.html" %}
  {% include "partials/sections/_s-team.html" %}
  {% include "partials/sections/_s-principles.html" %}
  {% include "partials/sections/_s-order-bg.html" %}
  {% include "partials/sections/_s-feedbacks.html" %}
  {% include "partials/sections/_s-gallery.html" %}
  {% include "partials/sections/_s-order.html" %}
{% endblock %}
