---
title: blog
page: blog
mainClass: page-blog
hero: {
  modifications: {
    section: 'hero--content'
  },
  subttl: 'щотижня ми викладаємо',
  title: '<small>найцікавіші новини та поради</small><strong class="glitch" data-text="в IT-галузі">в IT-галузі та огляди</strong><small>нових технологій</small>',
  bgImage: 'bg-hero-blog.jpg',
  breadcrumbs: {
    list: [
      { link: 'Головна' },
      { item: '-' },
      { link: 'блог', modLink: 'is-active' }
    ]
  },
  scrollToTarget: 'blog'
}
---
{% extends "layouts/_layout.html" %}

{% block content %}  
  {% include "partials/_hero.html" %}
  {% include "partials/_blog.html" %}
  {% include "partials/sections/_s-subsribe.html" %}
{% endblock %}
