---
title: home
page: home
mainClass: page-home
hero: {
  subttl: 'Створення та розробка сайтів в Україні',
  title: '<small>Допоможемо</small> <strong class="glitch" data-text="реалізувати ваші ідеї">реалізувати ваші ідеї</strong> <small>у якісний продукт</small>',
  btns: true,
  letter: true,
  bgImage: 'bg-hero.jpg',
  scrollToTarget: 'more'
}
header: {
 mod: 'header--transparent'
}
clients: {
  word: true
}
---
{% extends "layouts/_layout.html" %}

{% block content %}  
  {% include "partials/_hero.html" %}
  {% include "partials/sections/_s-home-more.html" %}
  {% include "partials/sections/_s-portfolio.html" %}
  {% include "partials/sections/_s-services.html" %}
  {% include "partials/sections/_s-we-know.html" %}
  {% include "partials/sections/_s-testimonials.html" %}
  {% include "partials/sections/_s-order.html" %}
{% endblock %}
