---
title: home
page: home
hero: {
  subttl: 'Створення та розробка сайтів в Україні',
  title: '<small>Допоможемо</small> <strong class="glitch" data-text="реалізувати">реалізувати ваші ідеї</strong> <small>у якісний продукт</small>',
  btns: true,
  letter: true,
  bgImage: 'bg-hero.jpg',
  scrollToTarget: 'more'
}
header: {
 mod: 'header--transparent'
}
services: {
  items: [
    {
      title: 'Web site development',
      text: 'Ми створюємо сайти, які є природним продовженням фірмового стилю компанії, 
  викликають довіру відвідувачів і бажання співпрацювати з компанією.'
    },
    {
      title: 'Seo + Adwords',
      text: 'Ми створимо максимальну віддачу від кожного переходу на сайт, 
  так як вашу рекламу побачать ті, хто є частиною вашої цільової аудиторії'
    },
    {
      title: 'Branding',
      text: 'Ми створимо максимальну віддачу від кожного переходу на сайт, 
  так як вашу рекламу побачать ті, хто є частиною вашої цільової аудиторії'
    },
    {
      title: 'Smm',
      text: 'Ми створимо максимальну віддачу від кожного переходу на сайт, 
  так як вашу рекламу побачать ті, хто є частиною вашої цільової аудиторії'
    }
  ]
}
portfolio: [
  {
    subttl: 'Корпоративний сайт',
    nmb: '01',
    title: 'Olmaks',
    text: 'Перший мультибрендовий салон електромобілей в Україні. 
12 років досвіду на автомобільному ринку США дозволяють «Olmaks Group»
купувати дійсно якісні електромобілі за вигідними цінами.',
    img: '1.jpg',
    logo: '1.png',
    logoColor: '#10ad44'
  },
  {
    subttl: 'Корпоративний сайт',
    nmb: '02',
    title: 'ABS',
    text: 'Компанія «ABS» є офіціальним дистриб’ютором 
ООО «МОНБАТ УКРАЇНА» - ексклюзивного представника акумуляторних 
батарей ТМ «MONBAT»; ТМ «START»; ТМ «WINMAXX» та ТМ «MONOIL».',
    img: '2.jpg',
    logo: '2.png',
    logoColor: '#d8232a'
  },
  {
    subttl: 'Інтернет-магазин',
    nmb: '03',
    title: 'Mario',
    text: 'Продукція під торговою маркою Маріо добре відома
і затребувана на території України і за її межами. Компанія 
лідирує на Україні і в країнах СНД серед виробників даної продукції.',
    img: '3.jpg',
    logo: '3.png',
    logoColor: '#ff8200'
  }
]
---
{% extends "layouts/_layout.html" %}

{% block content %}  
  {% include "partials/_hero.html" %}
  {% include "partials/sections/_s-home-more.html" %}
  {% include "partials/sections/_s-portfolio.html" %}
  {% include "partials/sections/_s-services.html" %}
  {% include "partials/sections/_s-we-know.html" %}
  {% include "partials/sections/_s-testimonials.html" %}
  {% include "partials/sections/_s-order.html" %}
{% endblock %}
