{% extends "layouts/_letter.html" %}

 {% block content %} 
  <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" style="padding: 0; width: 100%; max-width: 600px;">
    <tr>
      <td>
        <center style="max-width: 600px; width: 100%;">
          <table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" align="center" style="padding: 0;">
            <tr>
              <td width="60%" bgcolor="#ebece9" height="230" valign="center" style="padding-left: 30px">
                <h1 style="text-transform: uppercase;font-size: 28px;font-weight: 700;margin: 0;margin-bottom: 10px;">Олег, дякуємо за вашу заявку!</h1>
                <div style="font-size: 13px;">Наш менеджер зв’яжеться з вами<br> у найближчий час</div>
              </td>
              <td width="40%" bgcolor="#ebece9" height="230" valign="center">
                <img src="img/letters/thanks-img.jpg" width="238" height="243" alt="">
              </td>
            </tr>
          </table>
        </center>
      </td>
    </tr>
  </table>

  <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" style="padding: 0; width: 100%; max-width: 600px;">
    <tr>
      <td>
        <center style="max-width: 600px; width: 100%;">
          <table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" align="center" style="padding: 0;">
            <tr>
              <td width="100%" style="padding-top: 60px;padding-bottom: 60px;padding-left: 30px;padding-right: 30px;">
                <a href="#" style="text-transform: uppercase;font-size: 18px;text-align: center;padding-left: 10px;padding-right: 10px;padding-top: 24px;padding-bottom: 23px;width: 100%;display: inline-block;background-color: #ffd800;text-decoration: none;color: inherit;">переглянути всі проекти</a>
              </td>
            </tr>
          </table>
        </center>
      </td>
    </tr>
  </table>
  {% endblock %}
