{% extends "layouts/_letter.html" %}

 {% block content %}
  <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" style="padding: 0; width: 100%; max-width: 600px;">
    <tr>
      <td>
        <center style="max-width: 600px; width: 100%;">
          <table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" align="center" style="padding: 0;">
            <tr>
              <td width="60%" bgcolor="#f2f2f2" height="230" valign="center" style="padding-left: 30px">
                <h1 style="text-transform: uppercase;font-size: 28px;font-weight: 700;margin: 0;">перегляньте наші останні новини</h1>
              </td>
              <td width="40%" bgcolor="#f2f2f2" height="230" valign="center">
                <img src="img/letters/book.png" width="261" height="223" alt="">
              </td>
            </tr>
          </table>
        </center>
      </td>
    </tr>
  </table>

  {% for i in range(0, 3) %}
  <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" style="padding: 0; width: 100%; max-width: 600px;">
    <tr>
      <td>
        <center style="max-width: 600px; width: 100%;">
          <table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" align="center" style="padding: 0;">
            <tr>
              <td width="100%" style="padding-left: 30px;padding-right: 30px;padding-top: 60px;">
                <h2 style="text-transform: uppercase;margin: 0;font-weight: 700;font-size: 16px;"><a style="color: inherit;text-decoration: none;" href="#">16 вересня відбудеться IT-конференція у Стокгольмі за участі Вадима Паясу та олексія олійника</a></h2>
              </td>
            </tr>
            <tr>
              <td width="100%" style="padding-left: 30px;padding-right: 30px;padding-top: 15px;padding-bottom: 15px;">
                <p style="font-size: 12px;line-height: 1.7;margin: 0;">16 вересня нас з вами чекає неймовірна подія, яка точно буде цікава всім
                  тим, кого цікавть веб-дизайн, Front-End та Back-End розробка, 
                нові технологіїї та IT-галузь у цілому...</p>
              </td>
            </tr>
            <tr>
              <table width="100%" cellpadding="0" cellspacing="0" border="0" style="padding: 0;">
                <tr>
                  <td width="50%" style="padding-left: 30px;">
                    <img src="img/letters/blog-img.jpg" width="270" height="216" alt="">
                  </td>
                  <td width="50%" valign="center" align="center">
                    <a href="#" style="text-transform: uppercase;color: #292929;text-decoration: none;font-weight: 700;">ЧИТАТИ НОВИНУ <img style="display: inline-block;vertical-align: middle;margin-left: 10px;" src="img/letters/arrow-long@2x.png" width="70" height="8" alt=""></a>
                  </td>
                </tr>
              </table>
            </tr>
          </table>
        </center>
      </td>
    </tr>
  </table>
  {% endfor %}

  <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" style="padding: 0; width: 100%; max-width: 600px;">
    <tr>
      <td>
        <center style="max-width: 600px; width: 100%;">
          <table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" align="center" style="padding: 0;">
            <tr>
              <td width="100%" style="padding-top: 60px;padding-bottom: 60px;padding-left: 30px;padding-right: 30px;">
                <a href="#" style="text-transform: uppercase;font-size: 18px;text-align: center;padding-left: 10px;padding-right: 10px;padding-top: 24px;padding-bottom: 23px;width: 100%;display: inline-block;background-color: #ffd800;text-decoration: none;color: inherit;">переглянути всі новини</a>
              </td>
            </tr>
          </table>
        </center>
      </td>
    </tr>
  </table>  
{% endblock %}


