{% extends "layouts/_letter.html" %}

 {% block content %}
  <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" style="padding: 0; width: 100%; max-width: 600px;">
    <tr>
      <td>
        <center style="max-width: 600px; width: 100%;">
          <table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" align="center" style="padding: 0;">
            <tr>
              <td width="60%" bgcolor="#f2f2f2" height="230" valign="center" style="padding-left: 30px">
                <h1 style="text-transform: uppercase;font-size: 28px;font-weight: 700;margin: 0;">перегляньте наші останні проекти</h1>
              </td>
              <td width="40%" bgcolor="#f2f2f2" height="230" valign="center">
                <img src="img/letters/proj-img.png" width="261" height="204" alt="">
              </td>
            </tr>
          </table>
        </center>
      </td>
    </tr>
  </table>

 <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" style="padding: 0; width: 100%; max-width: 600px;">
    <tr>
      <td>
        <center style="max-width: 600px; width: 100%;">
          <table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" align="center" style="padding: 0;">
            <tr>
              <td width="50%" bgcolor="#000" style="padding-left: 30px; padding-right: 15px;">
                <div style="font-size: 13px;color: #434343;margin-bottom: 30px;">Корпоративний сайт</div>
                <div style="color: #fff; font-weight: 700;margin-bottom: 15px;">Olmaks</div>
                <div style="font-size: 12px;color: #fff;line-height: 1.7;margin-bottom: 30px;">Перший мультибрендовий салон електромобілей в Україні. </div>
                <a href="#" style="text-transform: uppercase;color: #898989;text-decoration: none;font-weight: 700;font-size: 13px;">Дивитися проект <img style="display: inline-block;vertical-align: middle;margin-left: 10px;" src="img/letters/arrow-long@2x.png" width="70" height="8" alt=""></a>
              </td>
              <td width="50%" bgcolor="#000">
                  <div style="position: relative;width: 97px;height: 52px;line-height: 52px;background-color: #10ad44;text-align: center;padding: 10px 10px;box-sizing: border-box;margin-left: -47px;margin-bottom: -52px;"><img src="img/logos/1.png" width="53" height="31" alt=""></div>
                  <img src="img/letters/proj-1.jpg" width="300" height="319" alt="">                  
              </td>
            </tr>
          </table>
        </center>
      </td>
    </tr>
  </table>

  <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" style="padding: 0; width: 100%; max-width: 600px;">
    <tr>
      <td>
        <center style="max-width: 600px; width: 100%;">
          <table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" align="center" style="padding: 0;">
            <tr>
              <td width="50%" bgcolor="#fff" style="padding-left: 30px; padding-right: 15px;">
                <div style="font-size: 13px;color: #9c9c9c;margin-bottom: 30px;">Корпоративний сайт</div>
                <div style="font-weight: 700;margin-bottom: 15px;">ABS</div>
                <div style="font-size: 12px;line-height: 1.7;margin-bottom: 30px;">Компанія «ABS» є офіціальним дистриб’ютором ООО «МОНБАТ УКРАЇНА».</div>
                <a href="#" style="text-transform: uppercase;color: #292929;text-decoration: none;font-weight: 700;font-size: 13px;">Дивитися проект <img style="display: inline-block;vertical-align: middle;margin-left: 10px;" src="img/letters/arrow-long@2x.png" width="70" height="8" alt=""></a>
              </td>
              <td width="50%" bgcolor="#000">
                  <div style="position: relative;width: 97px;height: 52px;line-height: 52px;background-color: #d8232a;text-align: center;padding: 10px 10px;box-sizing: border-box;margin-left: -47px;margin-bottom: -52px;"><img src="img/logos/2.png" width="53" height="26" alt=""></div>
                  <img src="img/letters/proj-2.jpg" width="300" height="319" alt="">                  
              </td>
            </tr>
          </table>
        </center>
      </td>
    </tr>
  </table>

  <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" style="padding: 0; width: 100%; max-width: 600px;">
    <tr>
      <td>
        <center style="max-width: 600px; width: 100%;">
          <table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" align="center" style="padding: 0;">
            <tr>
              <td width="50%" bgcolor="#000" style="padding-left: 30px; padding-right: 15px;">
                <div style="font-size: 13px;color: #434343;margin-bottom: 30px;">Інтернет-магазин</div>
                <div style="color: #fff; font-weight: 700;margin-bottom: 15px;">Mario</div>
                <div style="font-size: 12px;color: #fff;line-height: 1.7;margin-bottom: 30px;">Продукція під торговою маркою Маріо добре відома затребувана на території України і за її межами. </div>
                <a href="#" style="text-transform: uppercase;color: #898989;text-decoration: none;font-weight: 700;font-size: 13px;">Дивитися проект <img style="display: inline-block;vertical-align: middle;margin-left: 10px;" src="img/letters/arrow-long@2x.png" width="70" height="8" alt=""></a>
              </td>
              <td width="50%" bgcolor="#000">
                  <div style="position: relative;width: 97px;height: 52px;line-height: 52px;background-color: #ff8200;text-align: center;padding: 10px 10px;box-sizing: border-box;margin-left: -47px;margin-bottom: -52px;"><img src="img/logos/3.png" width="53" height="26" alt=""></div>
                  <img src="img/letters/proj-3.jpg" width="300" height="319" alt="">                  
              </td>
            </tr>
          </table>
        </center>
      </td>
    </tr>
  </table>

  <table width="600" cellpadding="0" cellspacing="0" border="0" align="center" style="padding: 0; width: 100%; max-width: 600px;">
    <tr>
      <td>
        <center style="max-width: 600px; width: 100%;">
          <table width="100%" bgcolor="#ffffff" cellpadding="0" cellspacing="0" border="0" align="center" style="padding: 0;">
            <tr>
              <td width="100%" style="padding-top: 60px;padding-bottom: 60px;padding-left: 30px;padding-right: 30px;">
                <a href="#" style="text-transform: uppercase;font-size: 18px;text-align: center;padding-left: 10px;padding-right: 10px;padding-top: 24px;padding-bottom: 23px;width: 100%;display: inline-block;background-color: #ffd800;text-decoration: none;color: inherit;">переглянути всі проекти</a>
              </td>
            </tr>
          </table>
        </center>
      </td>
    </tr>
  </table>
  {% endblock %}
