---
title: portfolio-item
page: portfolio-item
hero: {
  modifications: {
    section: 'hero--content hero--content-center'
  },
  subttl: 'Корпоративний сайт',
  subtitleMod: 'hero__subttl-ttn',
  title: '<strong class="glitch">Olmaks</strong>',
  titleMod: 'title--ttn',
  text: 'Перший мультибрендовий салон електромобілей в Україні. 
12 років досвіду на автомобільному ринку США дозволяють 
«Olmaks Group» купувати дійсно якісні електромобілі за вигідними цінами.',
  btns: true,
  bgImage: 'bg-hero-olmaks.jpg',
  breadcrumbs: {
    list: [
      { link: 'Головна' },
      { item: '-' },
      { link: 'Проекти' },
      { item: '-' },
      { link: 'Olmaks', modLink: 'is-active' }
    ]
  },
  scrollToTarget: 'portfolio-item-hero'
}
sectionOrder: {
  small: true,
  mod: 's-order--sm',
  noGlith: true
}
portfolioSlider: {
  slides: [
    {
      portfolio: {
        mod: 'portfolio--short',
        items: [
          {
            subttl: 'Інтернет-магазин',
            title: 'Olmaks Shop',
            text: 'Інтернет-магазин з найбільшим каталогом нових
        та Б/У запчастин, аксесуарів для електромобілів в Україні.',
            img: '5.jpg',
            logo: '1.png',
            logoColor: '#10ad44'
          }
        ]
      }
    },
    {
      portfolio: {
        mod: 'portfolio--short portfolio--reverse',
        items: [
          {
            subttl: 'Корпоративний сайт',
            title: 'ABS',
            text: 'Компанія «ABS» є офіціальним дистриб’ютором 
        ООО «МОНБАТ УКРАЇНА» - ексклюзивного представника акумуляторних 
        батарей ТМ «MONBAT»; ТМ «START»; ТМ «WINMAXX» та ТМ «MONOIL».',
            img: '2.jpg',
            logo: '2.png',
            logoColor: '#d8232a'
          }
        ]
      }
    },
    {
      portfolio: {
        mod: 'portfolio--short',
        items: [
          {
            subttl: 'Інтернет-магазин',
            title: 'Mario',
            text: 'Продукція під торговою маркою Маріо добре відома
        і затребувана на території України і за її межами. Компанія 
        лідирує на Україні і в країнах СНД серед виробників даної продукції.',
            img: '3.jpg',
            logo: '3.png',
            logoColor: '#ff8200'
          }
        ]
      }
    }
  ]
}
---
{% extends "layouts/_layout.html" %}

{% block content %}  
  {% include "partials/_hero.html" %}
  {% include "partials/portfolio-item/_pi-hero.html" %}
  {% include "partials/portfolio-item/_pi-preview.html" %}
  {% include "partials/portfolio-item/_pi-layers.html" %}
  {% include "partials/portfolio-item/_pi-adaptive.html" %}
  {% include "partials/portfolio-item/_pi-colors.html" %}
  {% include "partials/sections/_s-portfolio.html" %}
  {% include "partials/sections/_s-order.html" %}
{% endblock %}
