---
title: services-smm-facebook
page: services-smm-facebook
hero: {
  modifications: {
    section: 'hero--content'
  },
  title: '<strong class="glitch" data-text="Facebook">Facebook</strong>',
  text: 'Просування за допомогою Facebook тепер піддасться деяким змінам через
нові тенденції та течії у соціальних медіа. І ми робимо так, щоб ви були в курсі того, що зміниться в 2019 році, щоб результати нашої з вами роботи
привели нас до успіху.',
  bgImage: 'bg-hero-services-a-words.jpg',
  btns: {
    yellow: 'замовити консультацію',
    white: 'наші послуги'
  },
  breadcrumbs: {
    list: [
      { link: 'Головна' },
      { item: '-' },
      { link: 'послуги' },
      { item: '-' },
      { link: 'Smm' },
      { item: '-' },
      { link: 'Facebook', modLink: 'is-active' }
    ]
  },
  scrollToTarget: right-img-top
}
sectionLaptop: {
  titleBlock: {
    subttl: 'ми слідкуємо за',
    title: '<small>за сучасними</small><strong>інструментами</strong><small>facebook-просування</small>',
    text: '',
    titleMod: 'glitch--bottom glitch--xs-none',
    par: 'Ви, авжеж, знаєте, що маркетинг змінюється швидко, а Facebook тим паче. <br>
І ми слідкуємо за усіма тематичними дослідженнями і регулярно використовуємо отримані дані для того, щоб якісно зробити <br>
просування у Facebook для наших клієнтів.',
    word: 'MArketing',
    innerMod: 'title-block__inner-50'
  },
  simpleImg: 'Ipad.png',
  scrollTarget: true
}
sectionFeatures: {
  img: ''
}
sectionPrinciplesImg: {
  img: 'principles-1.jpg'
}
sectionFaq: {
  titleBlock: {
    subttl: 'які інструменти  для успішного',
    title: '<small>маркетингу</small><strong>в instagram</strong><small>ви отримаєте</small>',
    titleMod: 'glitch--bottom glitch--xs-none'
  }
}
sectionPortfolio: {
  titleBlock: {
    subttl: 'ми надали послуги по instagram-просуванню вже більше, ніж',
    title: '30 компаніям',
    text: '30 компаніям',
    word: 'instagram'
  },
  prevNext: true
}
sectionPrinciples: {
  titleBlock: {
    subttl: 'чому вам необхідно',
    title: '<small>замовити послугу</small> smm-просування',
    text: 'smm-просування',
    titleMod: 'glitch--bottom glitch--xs-none'
  }
}
portfolioMod: portfolio--short
portfolio: [
  {
    subttl: 'Інтернет-магазин',
    title: 'Olmaks Shop',
    text: 'Інтернет-магазин з найбільшим каталогом нових
та Б/У запчастин, аксесуарів для електромобілів в Україні.',
    img: '5.jpg',
    logo: '1.png',
    logoColor: '#10ad44'
  }
]
principles: {
  mod: principles--two-col-simple,
  list: [
    {
      nmb: '01/',
      title: 'Зріст кількості заявок та звернень у компанію',
      text: 'Після проведення робіт по оптимізації вашого 
сайту у пошукових системах, у вас неодмінно 
зросте кількість заявок'
    },
    {
      nmb: '02/',
      title: 'Ваш сайт знаходиться в топі пошуку Google',
     text: 'Тепер, ваш сайт побачать одним із перших
і про ваші послуги дізнаються вже
тисячі користувачів'
    },
    {
      nmb: '03/',
      title: 'Економія на інших видах реклами та просування',
      text: 'Зявдяки професійній роботі наших SEO-спеціалістів,
вам більше не доведеться витрачати зайвих
грошей та додаткові способи реклами '
    },
    {
      nmb: '04/',
      title: 'Збільшення цільових клієнтів на сайті',
      text: 'Тепер, більшість користувачів, що заходять
до вас на сайт - ваші цільові клієнти, 
які вірогідніше зроблять замовлення'
    },
    {
      nmb: '05/',
      title: 'Загальне збільшення замовлень на сайті',
      text: 'Після проведення професіної роботи збільшиться
кількість прямих замовлень ваших товарів
та послуг на сайті  '
    },
    {
      nmb: '06/',
      title: 'Тепер кількість замовлень не залежить від сезону',
      text: 'Вам більше не доведеться хвилюватися про «простійні»
місяці, коли клієнтів стає менше, або вони взагалі 
перестають залишати заявки'
    }
  ]
}
featuresMod: features--three-col
features: [
  {
    icon: 'focus',
    title: '<span class="underlined"><span>Правильне налаштування</span></span> рекламної кампанії',
    text: 'Ми використовуємо лише якісні графічні елементи: 
логотипи, фірмовий колір, бренд-персонажі і т.п.
Ми працюємо без шаблонів, лише унікальний
та сучасний дизайн, у якому ми впевнені'
  },
  {
    icon: 'flyers',
    title: '<span class="underlined"><span>Ефективні оголошення,</span></span> які продають',
    text: 'Ми використовуємо лише якісні графічні елементи: 
логотипи, фірмовий колір, бренд-персонажі і т.п.
Ми працюємо без шаблонів, лише унікальний
та сучасний дизайн, у якому ми впевнені'
  },
  {
    icon: 'shine-hashtag',
    title: '<span class="underlined"><span>Заощадження до 85% </span></span> вашого бюджету',
    text: 'Вже ні для кого не секрет, що більше 60% користувачів
відвідують сайти з мобільних пристроїв, тому ми дуже 
відповідально ставимося до створення адаптивних 
версій вашого майбутнього сайту'
  },
  {
    icon: 'social-media',
    title: <span class="underlined"><span>Правильно підібрана </span></span> вартість кліка,
    text: 'Вам не доведеться кожен раз звертатися до нас,
якщо ви захочете змінити контент на вашому
сайті. Ви будете взмозі зробити це самостійно
через зручну систему управління'
  },
  {
    icon: 'smartphone',
    title: '<span class="underlined"><span>Використання постійних</span></span> експериментів',
    text: 'Вам не доведеться кожен раз звертатися до нас,
якщо ви захочете змінити контент на вашому
сайті. Ви будете взмозі зробити це самостійно
через зручну систему управління'
  },
  {
    icon: 'secure-shield',
    title: '<span class="underlined"><span>Контроль за кількістю</span></span> переходів',
    text: 'Ваші клієнти без труднощів зможуть зв’язатися з вами
через онлайн форму зворотнього зв’язку. Таким чином
ви можете бути впевнені, що кожен клієнт потрапить
до вас і зробить замовлення'
  }
]
questions: {
  mod: faq--full,
  list: [
    {
      title: 'Индивидуальный и эксклюзивный дизайн',
      text: 'Тепер ви зможете вести на сайті блог або підбірку з новинами вашої
  компанії, а керувати цим процесом тепер зможе навіть дитина, адже
  вся робота ведеться в надзвичайно зручній адміністративній панелі.
  Новини - це відмінний засіб показати вашим клієнтам, що ваша 
  компанія живе насиченим життям та слідкує за подіями'
    },
    {
      title: 'Установка веб-сайта на хостинг',
      text: 'Тепер ви зможете вести на сайті блог або підбірку з новинами вашої
  компанії, а керувати цим процесом тепер зможе навіть дитина, адже
  вся робота ведеться в надзвичайно зручній адміністративній панелі.
  Новини - це відмінний засіб показати вашим клієнтам, що ваша 
  компанія живе насиченим життям та слідкує за подіями'
    },
    {
      title: 'Блог (Новости, Статьи, Публикации)',
      text: 'Тепер ви зможете вести на сайті блог або підбірку з новинами вашої
  компанії, а керувати цим процесом тепер зможе навіть дитина, адже
  вся робота ведеться в надзвичайно зручній адміністративній панелі.
  Новини - це відмінний засіб показати вашим клієнтам, що ваша 
  компанія живе насиченим життям та слідкує за подіями'
    },
    {
      title: 'Техническая поддержка 1 месяц',
      text: 'Тепер ви зможете вести на сайті блог або підбірку з новинами вашої
  компанії, а керувати цим процесом тепер зможе навіть дитина, адже
  вся робота ведеться в надзвичайно зручній адміністративній панелі.
  Новини - це відмінний засіб показати вашим клієнтам, що ваша 
  компанія живе насиченим життям та слідкує за подіями'
    },
    {
      title: 'Поиск',
      text: 'Тепер ви зможете вести на сайті блог або підбірку з новинами вашої
  компанії, а керувати цим процесом тепер зможе навіть дитина, адже
  вся робота ведеться в надзвичайно зручній адміністративній панелі.
  Новини - це відмінний засіб показати вашим клієнтам, що ваша 
  компанія живе насиченим життям та слідкує за подіями'
    }
  ]  
}
---
{% extends "layouts/_layout.html" %}

{% block content %}  
  {% include "partials/_hero.html" %}
  {% include "partials/services/_s-hero.html" %}
  {% include "partials/services/_s-features.html" %}
  {% include "partials/sections/_s-order-bg.html" %}


  {% set 
    sectionLaptop = {
      titleBlock: {
        subttl: 'які інструменти  для успішного',
        title: '<small>маркетингу</small><strong>в instagram</strong><small>ви отримаєте</small>',
        titleMod: 'glitch--bottom glitch--xs-none'
      }
    }
  %} 


  {% include "partials/sections/_s-faq-half.html" %}
  {% include "partials/sections/_s-portfolio.html" %}


  {%set
    principles = {
      img: 'phones.png',
      mod: 'principles--circle',
      list: [
        {
          nmb: '01/',
          title: 'Зріст кількості заявок та звернень у компанію',
          text: 'Після проведення робіт по оптимізації вашого 
    сайту у пошукових системах, у вас неодмінно 
    зросте кількість заявок'
        },
        {
          nmb: '02/',
          title: 'Ваш сайт знаходиться в топі пошуку Google',
         text: 'Тепер, ваш сайт побачать одним із перших
    і про ваші послуги дізнаються вже
    тисячі користувачів'
        },
        {
          nmb: '03/',
          title: 'Економія на інших видах реклами та просування',
          text: 'Зявдяки професійній роботі наших SEO-спеціалістів,
    вам більше не доведеться витрачати зайвих
    грошей та додаткові способи реклами '
        },
        {
          nmb: '04/',
          title: 'Збільшення цільових клієнтів на сайті',
          text: 'Тепер, більшість користувачів, що заходять
    до вас на сайт - ваші цільові клієнти, 
    які вірогідніше зроблять замовлення'
        },
        {
          nmb: '05/',
          title: 'Загальне збільшення замовлень на сайті',
          text: 'Після проведення професіної роботи збільшиться
    кількість прямих замовлень ваших товарів
    та послуг на сайті  '
        },
        {
          nmb: '06/',
          title: 'Тепер кількість замовлень не залежить від сезону',
          text: 'Вам більше не доведеться хвилюватися про «простійні»
    місяці, коли клієнтів стає менше, або вони взагалі 
    перестають залишати заявки'
        }
      ]    
    }
  %}
  {% include "partials/services/_s-features-circle.html" %}
  {% include "partials/sections/_s-order.html" %}
{% endblock %}
