---
title: services-web-site-technical
page: services-web-site-technical
mainClass: page-services-site
hero: {
  modifications: {
    section: 'hero--content'
  },
  title: '<strong class="glitch" data-text="технічна">технічна</strong> підтримка',
  text: 'Технічна підтримка від студії Demiweb - це найкраще рішення для вашого бізнесу. Це найкращий спосіб розповісти про компанію та продемонструвати її високий статус.
Фотогалерея, новини, зв’язок з клієнтами - керуйте власноруч цими параметрами',
  bgImage: 'bg-hero-services-web-site.jpg',
  btns: {
    yellow: 'замовити сайт-візитку',
    white: 'дивитися проекти'
  },
  breadcrumbs: {
    list: [
      { link: 'Головна' },
      { item: '-' },
      { link: 'послуги' },
      { item: '-' },
      { link: 'web site development' },
      { item: '-' },
      { link: 'технічна підтримка', modLink: 'is-active' }
    ]
  },
  scrollToTarget: false
}
sectionLaptop: {
  titleBlock: {
    subttl: 'яка головна задача при замовленні',
    title: '<small>технічної підтримки</small>сайту?',
    text: 'сайту?',
    titleMod: 'glitch--bottom',
    par: 'Корпоративний сайт містить в собі сторінку з основною <br> інформацією про організацію, її товари / послуги, прайс-листом, <br>
і контактними даними. Після того, як сайт готовий, ви отримуєте <br> повністю редагований ресурс, де ви самі можете <br>
змінювати інформацію.',
    word: 'web site',
    innerMod: 'title-block__inner-50'
  },
  img: 'preview-img.jpg'
}
sectionFeatures: {
  img: 'features-2.jpg'
}
sectionFaq: {
  titleBlock: {
    subttl: 'ЯКІ ФУНКЦІЇ ВХОДЯТЬ',
    title: '<small>У ПОСЛУГУ ПО технічній</small>підтримці сайт',
    text: 'підтримці',
    titleMod: 'glitch--bottom glitch--xs-none',
    par: 'Корпоративний сайт містить в собі сторінку з основною <br> інформацією про організацію, її товари / послуги, прайс-листом, і <br> контактними даними. Після того, як сайт готовий, ви отримуєте <br> повністю редагований ресурс, де ви самі можете змінювати <br> інформацію.'
  }
}
sectionPortfolio: {
  titleBlock: {
    subttl: 'дивіться сайти, яким ми надаємо',
    title: 'технічну підтримку',
    text: 'технічну',
    word: 'projects'
  },
  prevNext: true
}
sectoinPrinciples: {
  titleBlock: {
    subttl: 'ми впевнені, що у вас є як мінімум',
    title: '<small>6 причин замовити</small> технічну підтримку сайту',
    text: 'технічну підтримку',
    titleMod: 'glitch--bottom glitch--xs-none'
  }
}
portfolio: [
  {
    subttl: 'Корпоративний сайт',
    nmb: '01',
    title: 'Olmaks',
    text: 'Перший мультибрендовий салон електромобілей в Україні. 
12 років досвіду на автомобільному ринку США дозволяють «Olmaks Group»
купувати дійсно якісні електромобілі за вигідними цінами.',
    img: '1.jpg',
    logo: '1.png',
    logoColor: '#10ad44'
  }
]
principles: {
  img: 'laptop-rotate-2.png',
  mod: 'principles--circle',
  list: [
    {
      nmb: '01/',
      title: 'Ідеально презентує бізнес',
      text: 'Інструмент, завдяки якому, ми максимально якісно  презентуємо вашу лінійку товарів презентуємо  вашу лінійку товарів шу ліній шу ліній'
    },
    {
      nmb: '02/',
      title: 'Чуємо клієнта',
     text: 'Інструмент, завдяки якому, ми максимально якісно  презентуємо вашу лінійку товарів презентуємо  вашу лінійку товарів шу ліній шу ліній'
    },
    {
      nmb: '03/',
      title: 'Підходимо з розумом ',
      text: 'Інструмент, завдяки якому, ми максимально якісно  презентуємо вашу лінійку товарів презентуємо  вашу лінійку товарів шу ліній шу ліній'
    },
    {
      nmb: '04/',
      title: 'Будуємо на майбутнє',
      text: 'Інструмент, завдяки якому, ми максимально якісно  презентуємо вашу лінійку товарів презентуємо  вашу лінійку товарів шу ліній шу ліній'
    },
    {
      nmb: '05/',
      title: 'Діємо рішуче',
      text: 'Інструмент, завдяки якому, ми максимально якісно  презентуємо вашу лінійку товарів презентуємо  вашу лінійку товарів шу ліній шу ліній'
    },
    {
      nmb: '06/',
      title: 'Пишаємося собою',
      text: 'Інструмент, завдяки якому, ми максимально якісно  презентуємо вашу лінійку товарів презентуємо  вашу лінійку товарів шу ліній шу ліній'
    }
  ]
}
features: [
  {
    icon: 'modeling',
    title: '<span class="underlined"><span>Слідкуємо</span></span> за робочим станом',
    text: 'Ми використовуємо лише якісні графічні елементи: 
логотипи, фірмовий колір, бренд-персонажі і т.п.
Ми працюємо без шаблонів, лише унікальний
та сучасний дизайн, у якому ми впевнені'
  },
  {
    icon: 'computer',
    title: '<span class="underlined"><span>Тестуємо</span></span> під всі пристрої',
    text: 'Вже ні для кого не секрет, що більше 60% користувачів
відвідують сайти з мобільних пристроїв, тому ми дуже 
відповідально ставимося до створення адаптивних 
версій вашого майбутнього сайту'
  },
  {
    icon: 'software',
    title: '<span class="underlined"><span>Налаштовуємо </span></span> усі елементи управління сайтом',
    text: 'Вам не доведеться кожен раз звертатися до нас,
якщо ви захочете змінити контент на вашому
сайті. Ви будете взмозі зробити це самостійно
через зручну систему управління
'
  },
  {
    icon: 'support',
    title: <span class="underlined"><span>Завжди</span></span> на зв’язку з вами та готові допомогти,
    text: 'Ваші клієнти без труднощів зможуть зв’язатися з вами
через онлайн форму зворотнього зв’язку. Таким чином
ви можете бути впевнені, що кожен клієнт потрапить
до вас і зробить замовлення'
  }
]
---
{% extends "layouts/_layout.html" %}

{% block content %}  
  {% include "partials/_hero.html" %}
  {% include "partials/services/_s-hero.html" %}
  {% include "partials/services/_s-features.html" %}
  {% include "partials/sections/_s-order-bg.html" %}

  {% import "./data/_questions.html" as questions %}
  {% set questions = questions.questions %}
  
  {% include "partials/services/_s-faq.html" %}
  {% include "partials/sections/_s-portfolio.html" %}
  {% include "partials/services/_s-features-circle.html" %}
  {% include "partials/sections/_s-order.html" %}
{% endblock %}
