---
title: services-branding-billboard
page: services-branding-billboard
hero: {
  modifications: {
    section: 'hero--content'
  },
  title: '<strong class="glitch" data-text="білборди">білборди</strong>',
  text: 'Створення логотипу та неймінгу компанії - це багатоетапний процес, який включає
в себе такі завдання: дослідження вашого бізнесу, аналіз конкурентів, 
виявлення ваших потреб та побажань. ',
  bgImage: 'bg-hero-services-branding-billboard.jpg',
  btns: {
    yellow: 'замовити лого та неймінг',
    white: 'дивитися проекти'
  },
  breadcrumbs: {
    list: [
      { link: 'Головна' },
      { item: '-' },
      { link: 'послуги' },
      { item: '-' },
      { link: 'Branding' },
      { item: '-' },
      { link: 'білборди', modLink: 'is-active' }
    ]
  },
  scrollToTarget: false
}
sectionLaptop: {
  titleBlock: {
    subttl: 'які завдання виконують',
    title: '<small>білборди</small>у вашому бізнесі?',
    text: 'у вашому',
    titleMod: 'glitch--bottom glitch--xs-none',
    par: 'Правильна назва бренду та логотип повинні відображати суть <br>
бізнесу та його унікальну торгову пропозицію. Користувачі повинні <br>
одразу розуміти, куди та навіщо вони прийшли',
    word: 'Logo',
    innerMod: 'title-block__inner-50'
  },
  simpleImg: 'billboard-1.png'
}
sectionFeatures: {
  img: ''
}
sectionFaq: {
  titleBlock: {
    subttl: 'які етапи ми проробляємо',
    title: '<small>при створенні</small>білборду',
    text: 'білборду',
    titleMod: 'glitch--bottom glitch--xs-none',
    par: 'На шляху до створення вашого нового логотипу та неймінгу ми проходимо багато етапів, такі як: аналіз вашої ніші, оцінка ринку загалом, побудова концепції <br>
та інше. Існує ще багато кроків, які передбачають створення професійного <br>
та статусного логотипу та назви компанії.'
  }
}

sectionPrinciples: {
  titleBlock: {
    subttl: 'ми впевнені, що у вас є як мінімум',
    title: '<small>6 причин замовити</small> білборд',
    text: 'білборд',
    titleMod: 'glitch--bottom glitch--xs-none'
  }
}

principles: {
  img: 'billboard-2.png',
  mod: 'principles--circle',
  list: [
    {
      nmb: '01/',
      title: 'Перетворює просто бізнес на впізнаваний бренд',
      text: 'Інструмент, завдяки якому, ми максимально якісно  презентуємо вашу лінійку товарів презентуємо  вашу лінійку товарів шу ліній шу ліній'
    },
    {
      nmb: '02/',
      title: 'Залучає нових клієнтів',
     text: 'Інструмент, завдяки якому, ми максимально якісно  презентуємо вашу лінійку товарів презентуємо  вашу лінійку товарів шу ліній шу ліній'
    },
    {
      nmb: '03/',
      title: 'Демонструє статус компанії ',
      text: 'Інструмент, завдяки якому, ми максимально якісно  презентуємо вашу лінійку товарів презентуємо  вашу лінійку товарів шу ліній шу ліній'
    },
    {
      nmb: '04/',
      title: 'Допомагає поширенню сарафанного радіо',
      text: 'Інструмент, завдяки якому, ми максимально якісно  презентуємо вашу лінійку товарів презентуємо  вашу лінійку товарів шу ліній шу ліній'
    },
    {
      nmb: '05/',
      title: 'Інвестиція у майбутнє',
      text: 'Інструмент, завдяки якому, ми максимально якісно  презентуємо вашу лінійку товарів презентуємо  вашу лінійку товарів шу ліній шу ліній'
    },
    {
      nmb: '06/',
      title: 'Відповідає на питання ще до першого контакту',
      text: 'Інструмент, завдяки якому, ми максимально якісно  презентуємо вашу лінійку товарів презентуємо  вашу лінійку товарів шу ліній шу ліній'
    }
  ]
}
featuresMod: 'features--three-col'
features: [
  {
    icon: 'money',
    title: '<span class="underlined"><span>Збільшує конверсія</span></span><br> майже одразу',
    text: 'Ми використовуємо лише якісні графічні елементи: 
логотипи, фірмовий колір, бренд-персонажі і т.п.
Ми працюємо без шаблонів, лише унікальний
та сучасний дизайн, у якому ми впевнені'
  },
  {
    icon: 'group',
    title: '<span class="underlined"><span>Працює на широке коло</span></span> користувачів',
    text: 'Вже ні для кого не секрет, що більше 60% користувачів
відвідують сайти з мобільних пристроїв, тому ми дуже 
відповідально ставимося до створення адаптивних 
версій вашого майбутнього сайту'
  },
  {
    icon: 'gift',
    title: '<span class="underlined"><span>Несе основну інформацію</span></span> про товари та послуги',
    text: 'Вже ні для кого не секрет, що більше 60% користувачів
відвідують сайти з мобільних пристроїв, тому ми дуже 
відповідально ставимося до створення адаптивних 
версій вашого майбутнього сайту'
  },
  {
    icon: 'megaphone',
    title: <span class="underlined"><span>Ефективний спосіб реклами</span></span>,
    text: 'Вам не доведеться кожен раз звертатися до нас,
якщо ви захочете змінити контент на вашому
сайті. Ви будете взмозі зробити це самостійно
через зручну систему управління'
  },
  {
    icon: 'clock',
    title: <span class="underlined"><span>Економить час</span></span>,
    text: 'Вам не доведеться кожен раз звертатися до нас,
якщо ви захочете змінити контент на вашому
сайті. Ви будете взмозі зробити це самостійно
через зручну систему управління'
  },
  {
    icon: 'social-care',
    title: <span class="underlined"><span>Працює на цільову аудиторію</span></span>,
    text: 'Ваші клієнти без труднощів зможуть зв’язатися з вами
через онлайн форму зворотнього зв’язку. Таким чином
ви можете бути впевнені, що кожен клієнт потрапить
до вас і зробить замовлення'
  }
]
---
{% extends "layouts/_layout.html" %}

{% block content %}  
  {% include "partials/_hero.html" %}
  {% include "partials/services/_s-hero.html" %}
  {% include "partials/services/_s-features.html" %}
  {% include "partials/sections/_s-order-bg.html" %}

  {% import "./data/_questions.html" as questions %}
  {% set questions = questions.questions %}
  
  {% include "partials/services/_s-faq.html" %}  
  {% include "partials/services/_s-features-circle.html" %}
  {% include "partials/sections/_s-order.html" %}
{% endblock %}
