---
title: services-branding-tranding-style
page: services-branding-tranding-style
mainClass: page-services-branding
hero: {
  modifications: {
    section: 'hero--content'
  },
  title: '<strong class="glitch" data-text="Брендбук">Брендбук</strong> та фірмовий стиль',
  text: 'Фірмовий стиль - це зовнішній образ компанії, який дозволяє клієнтам з першого погляду оцінити статус вашого бізнесу. Унікальний фірмовий стиль зробить
статус вашої компанії на декілька кроків вище.',
  bgImage: 'bg-hero-services-branding-style.jpg',
  btns: {
    yellow: 'замовити фірмовий стиль',
    white: 'дивитися проекти'
  },
  breadcrumbs: {
    list: [
      { link: 'Головна' },
      { item: '-' },
      { link: 'послуги' },
      { item: '-' },
      { link: 'Branding' },
      { item: '-' },
      { link: 'брендбук та фірмовий стиль', modLink: 'is-active' }
    ]
  },
  scrollToTarget: false
}
sectionLaptop: {
  titleBlock: {
    subttl: 'як саме фірмовий стиль та брендбук',
    title: '<small>допоможе виділитися</small>вашому бізнесу?',
    text: 'вашому бізнесу?',
    titleMod: 'glitch--bottom glitch--xs-none',
    par: 'У кожного бізнесу свої індивідуальні потреби, тому перед <br> створенням фірмового стилю ми ретельно досліджуємо цільову <br>
аудиторію, тематику і ваші особисті побажання.',
    word: 'Logo',
    innerMod: 'title-block__inner-50'
  },
  simpleImg: 'style-top.png'
}
sectionFeatures: {
  img: ''
}
sectionFaq: {
  titleBlock: {
    subttl: 'ЩО ВХОДИТЬ',
    title: '<small>У ПОСЛУГУ ПО СТВОРЕННЮ</small>ФІРМОВОГО СТИЛЮ ТА БРЕНДБУКУ',
    text: '',
    titleMod: 'glitch--bottom glitch--xs-none',
    par: "Ми створюємо унікальний образ, який запам'ятовується і викликає потрібні емоції. <br> До послуги входить великий набір елементів айдентики: логотип, візитка, бланк <br> листа та інше. Ми використовуємо лише індивідуальні графічні рішення,<br> підбираємо кольорову гаму безпосередньо під ваші потреби, створюємо образи,<br> які відповідають вашим завданням."
  }
}
sectionPortfolio: {
  titleBlock: {
    subttl: 'дивіться проекти, якими ми пишаємося',
    title: 'фірмовий стиль',
    text: 'фірмовий',
    word: 'projects'
  },
  prevNext: true
}

sectoinPrinciples: {
  titleBlock: {
    subttl: 'ми впевнені, що у вас є як мінімум',
    title: '<small>6 причин замовити брендування</small> фірмовий стиль та брендбук',
    text: '',
    titleMod: 'glitch--bottom glitch--xs-none'
  }
}
portfolioMod: portfolio--short portfolio--reverse
portfolio: [
  {
    subttl: 'Фірмовий стиль',
    nmb: '',
    title: 'Demiweb International',
    text: 'Компанія Demiweb International займається розробкою сайтів будь-якої складності 
для різних бізнес-завдань.  Допомагають реалізувати ідеї в якісний продукт
та займаються підтримкою існуючих веб-проектів.',
    img: '4.jpg',
    logoSvg: 'logo-white.svg',
    logoMod: 'portfolio-item__logo-own'
  }
]

principles: {
  img: 'style-bottom.png',
  mod: 'principles--circle',
  list: [
    {
      nmb: '01/',
      title: 'Перетворює просто бізнес на впізнаваний бренд',
      text: 'Інструмент, завдяки якому, ми максимально якісно  презентуємо вашу лінійку товарів презентуємо  вашу лінійку товарів шу ліній шу ліній'
    },
    {
      nmb: '02/',
      title: 'Залучає нових клієнтів',
     text: 'Інструмент, завдяки якому, ми максимально якісно  презентуємо вашу лінійку товарів презентуємо  вашу лінійку товарів шу ліній шу ліній'
    },
    {
      nmb: '03/',
      title: 'Демонструє статус компанії ',
      text: 'Інструмент, завдяки якому, ми максимально якісно  презентуємо вашу лінійку товарів презентуємо  вашу лінійку товарів шу ліній шу ліній'
    },
    {
      nmb: '04/',
      title: 'Допомагає поширенню сарафанного радіо',
      text: 'Інструмент, завдяки якому, ми максимально якісно  презентуємо вашу лінійку товарів презентуємо  вашу лінійку товарів шу ліній шу ліній'
    },
    {
      nmb: '05/',
      title: 'Інвестиція у майбутнє',
      text: 'Інструмент, завдяки якому, ми максимально якісно  презентуємо вашу лінійку товарів презентуємо  вашу лінійку товарів шу ліній шу ліній'
    },
    {
      nmb: '06/',
      title: 'Відповідає на питання ще до першого контакту',
      text: 'Інструмент, завдяки якому, ми максимально якісно  презентуємо вашу лінійку товарів презентуємо  вашу лінійку товарів шу ліній шу ліній'
    }
  ]
}
featuresMod: 'features--three-col'
features: [
  {
    icon: 'famous',
    title: <span class="underlined"><span>Унікальний образ</span></span>,
    text: 'Ми використовуємо лише якісні графічні елементи: 
логотипи, фірмовий колір, бренд-персонажі і т.п.
Ми працюємо без шаблонів, лише унікальний
та сучасний дизайн, у якому ми впевнені'
  },
  {
    icon: 'handshake',
    title: '<span class="underlined"><span>Правильний імідж</span></span>',
    text: 'Ми використовуємо лише якісні графічні елементи: 
логотипи, фірмовий колір, бренд-персонажі і т.п.
Ми працюємо без шаблонів, лише унікальний
та сучасний дизайн, у якому ми впевнені'
  },
  {
    icon: 'team',
    title: '<span class="underlined"><span>Впізнаваність на ринку</span></span>',
    text: 'Вже ні для кого не секрет, що більше 60% користувачів
відвідують сайти з мобільних пристроїв, тому ми дуже 
відповідально ставимося до створення адаптивних 
версій вашого майбутнього сайту'
  },
  {
    icon: 'jigsaw',
    title: <span class="underlined"><span>Побудова бренду</span></span>,
    text: 'Вам не доведеться кожен раз звертатися до нас,
якщо ви захочете змінити контент на вашому
сайті. Ви будете взмозі зробити це самостійно
через зручну систему управління'
  },
  {
    icon: 'maintenance',
    title: <span class="underlined"><span>Потужний інструмент</span></span>,
    text: 'Вам не доведеться кожен раз звертатися до нас,
якщо ви захочете змінити контент на вашому
сайті. Ви будете взмозі зробити це самостійно
через зручну систему управління'
  },
  {
    icon: 'diamond',
    title: <span class="underlined"><span>Відмінна особливість</span></span>,
    text: 'Ваші клієнти без труднощів зможуть зв’язатися з вами
через онлайн форму зворотнього зв’язку. Таким чином
ви можете бути впевнені, що кожен клієнт потрапить
до вас і зробить замовлення'
  }
]
---
{% extends "layouts/_layout.html" %}

{% block content %}  
  {% include "partials/_hero.html" %}
  {% include "partials/services/_s-hero.html" %}
  {% include "partials/services/_s-features.html" %}
  {% include "partials/sections/_s-order-bg.html" %}

  {% import "./data/_questions.html" as questions %}
  {% set questions = questions.questions %}
  
  {% include "partials/services/_s-faq.html" %}
  {% include "partials/sections/_s-portfolio.html" %}
  {% include "partials/services/_s-features-circle.html" %}
  {% include "partials/sections/_s-order.html" %}
{% endblock %}
