---
title: services-s-a-adwords
page: services-s-a-adwords
mainClass: page-services-s-a
hero: {
  modifications: {
    section: 'hero--content'
  },
  title: '<strong class="glitch" data-text="Google adWords">Google adWords</strong>',
  text: 'Контекстна реклама - це кращий спосіб збільшити кількість потенційних клієнтів і продажів. Віддачу від розміщення оголошень ви побачите вже в перші години після налаштування.',
  bgImage: 'bg-hero-services-s-a-adwords.jpg',
  btns: {
    yellow: 'замовити консультацію',
    white: 'наші послуги'
  },
  breadcrumbs: {
    list: [
      { link: 'Головна' },
      { item: '-' },
      { link: 'послуги' },
      { item: '-' },
      { link: 'Seo +adwords' },
      { item: '-' },
      { link: 'google adwords', modLink: 'is-active' }
    ]
  },
  scrollToTarget: right-img-top
}
sectionLaptop: {
  titleBlock: {
    subttl: 'мі знаємо, як вам потрібні швидкі',
    title: '<small>результати від</small>контекстної реклами',
    text: 'реклами',
    titleMod: 'glitch--bottom glitch--xs-none',
    par: 'Максимальна віддача від кожного переходу на сайт, так як рекламу <br> бачать лише ті, хто є частиною цільової аудиторії. За допомогою <br> контекстної реклами ви можете виділити цільову аудиторію серед <br> великої кількості інтернет-користувачів.',
    word: 'Seoerce',
    innerMod: 'title-block__inner-50'
  },
  simpleImg: 'Ipad.png',
  scrollTarget: true
}
sectionFeatures: {
  img: ''
}
sectionPrinciplesImg: {
  img: 'principles-1.jpg'
}
sectionFaq: {
  titleBlock: {
    subttl: 'ЯКІ ФУНКЦІЇ ВХОДЯТЬ',
    title: '<small>У ПОСЛУГУ ПО СТВОРЕННЮ</small>корпоративного сайту',
    text: 'корпоративного',
    titleMod: 'glitch--bottom glitch--xs-none',
    par: 'Корпоративний сайт містить в собі сторінку з основною <br> інформацією про організацію, її товари / послуги, прайс-листом, і <br> контактними даними. Після того, як сайт готовий, ви отримуєте <br> повністю редагований ресурс, де ви самі можете змінювати <br> інформацію.'
  }
}
sectionPortfolio: {
  titleBlock: {
    subttl: 'ми надали послуги по SEO вже більше, ніж ',
    title: '30 компаніям',
    text: '30 компаніям',
    word: 'projects'
  },
  prevNext: true
}
sectoinPrinciples: {
  titleBlock: {
    subttl: 'чому вам необхідно',
    title: '<small>замовити послугу</small> smm-просування',
    text: 'smm-просування',
    titleMod: 'glitch--bottom glitch--xs-none'
  }
}
portfolioMod: porfolio--short
portfolio: [
  {
    subttl: 'Інтернет-магазин',
    title: 'Olmaks Shop',
    text: 'Інтернет-магазин з найбільшим каталогом нових
та Б/У запчастин, аксесуарів для електромобілів в Україні.',
    img: '5.jpg',
    logo: '1.png',
    logoColor: '#10ad44'
  }
]
principles: {
  mod: principles--two-col-simple,
  list: [
    {
      nmb: '01/',
      title: 'Зріст кількості заявок та звернень у компанію',
      text: 'Після проведення робіт по оптимізації вашого 
сайту у пошукових системах, у вас неодмінно 
зросте кількість заявок'
    },
    {
      nmb: '02/',
      title: 'Ваш сайт знаходиться в топі пошуку Google',
     text: 'Тепер, ваш сайт побачать одним із перших
і про ваші послуги дізнаються вже
тисячі користувачів'
    },
    {
      nmb: '03/',
      title: 'Економія на інших видах реклами та просування',
      text: 'Зявдяки професійній роботі наших SEO-спеціалістів,
вам більше не доведеться витрачати зайвих
грошей та додаткові способи реклами '
    },
    {
      nmb: '04/',
      title: 'Збільшення цільових клієнтів на сайті',
      text: 'Тепер, більшість користувачів, що заходять
до вас на сайт - ваші цільові клієнти, 
які вірогідніше зроблять замовлення'
    },
    {
      nmb: '05/',
      title: 'Загальне збільшення замовлень на сайті',
      text: 'Після проведення професіної роботи збільшиться
кількість прямих замовлень ваших товарів
та послуг на сайті  '
    },
    {
      nmb: '06/',
      title: 'Тепер кількість замовлень не залежить від сезону',
      text: 'Вам більше не доведеться хвилюватися про «простійні»
місяці, коли клієнтів стає менше, або вони взагалі 
перестають залишати заявки'
    }
  ]
}
featuresMod: features--three-col
features: [
  {
    icon: 'modeling',
    title: '<span class="underlined"><span>Правильне налаштування</span></span> рекламної кампанії',
    text: 'Ми використовуємо лише якісні графічні елементи: 
логотипи, фірмовий колір, бренд-персонажі і т.п.
Ми працюємо без шаблонів, лише унікальний
та сучасний дизайн, у якому ми впевнені'
  },
  {
    icon: 'search-engine-optimization',
    title: '<span class="underlined"><span>Ефективні оголошення,</span></span> які продають',
    text: 'Ми використовуємо лише якісні графічні елементи: 
логотипи, фірмовий колір, бренд-персонажі і т.п.
Ми працюємо без шаблонів, лише унікальний
та сучасний дизайн, у якому ми впевнені'
  },
  {
    icon: 'landing',
    title: '<span class="underlined"><span>Заощадження до 85% </span></span> вашого бюджету',
    text: 'Вже ні для кого не секрет, що більше 60% користувачів
відвідують сайти з мобільних пристроїв, тому ми дуже 
відповідально ставимося до створення адаптивних 
версій вашого майбутнього сайту'
  },
  {
    icon: 'collective',
    title: <span class="underlined"><span>Правильно підібрана </span></span> вартість кліка,
    text: 'Вам не доведеться кожен раз звертатися до нас,
якщо ви захочете змінити контент на вашому
сайті. Ви будете взмозі зробити це самостійно
через зручну систему управління'
  },
  {
    icon: 'www',
    title: '<span class="underlined"><span>Використання постійних</span></span> експериментів',
    text: 'Вам не доведеться кожен раз звертатися до нас,
якщо ви захочете змінити контент на вашому
сайті. Ви будете взмозі зробити це самостійно
через зручну систему управління'
  },
  {
    icon: 'edit-text',
    title: '<span class="underlined"><span>Контроль за кількістю</span></span> переходів',
    text: 'Ваші клієнти без труднощів зможуть зв’язатися з вами
через онлайн форму зворотнього зв’язку. Таким чином
ви можете бути впевнені, що кожен клієнт потрапить
до вас і зробить замовлення'
  },
  {
    icon: 'research-1',
    title: '<span class="underlined"><span>Збільшення кількості</span></span> продажів.',
    text: 'Вам не доведеться кожен раз звертатися до нас,
якщо ви захочете змінити контент на вашому
сайті. Ви будете взмозі зробити це самостійно
через зручну систему управління'
  },
  {
    icon: 'link',
    title: <span class="underlined"><span>Оперативні зміни</span></span> у рекламній кампанії,
    text: 'Вам не доведеться кожен раз звертатися до нас,
якщо ви захочете змінити контент на вашому
сайті. Ви будете взмозі зробити це самостійно
через зручну систему управління'
  },
  {
    icon: 'content-1',
    title: <span class="underlined"><span>Максимальна ефективність</span></span> використання коштів,
    text: 'Ваші клієнти без труднощів зможуть зв’язатися з вами
через онлайн форму зворотнього зв’язку. Таким чином
ви можете бути впевнені, що кожен клієнт потрапить
до вас і зробить замовлення'
  }
]
questions: {
  mod: faq--full,
  list: [
    {
      title: 'Индивидуальный и эксклюзивный дизайн',
      text: 'Тепер ви зможете вести на сайті блог або підбірку з новинами вашої
  компанії, а керувати цим процесом тепер зможе навіть дитина, адже
  вся робота ведеться в надзвичайно зручній адміністративній панелі.
  Новини - це відмінний засіб показати вашим клієнтам, що ваша 
  компанія живе насиченим життям та слідкує за подіями'
    },
    {
      title: 'Установка веб-сайта на хостинг',
      text: 'Тепер ви зможете вести на сайті блог або підбірку з новинами вашої
  компанії, а керувати цим процесом тепер зможе навіть дитина, адже
  вся робота ведеться в надзвичайно зручній адміністративній панелі.
  Новини - це відмінний засіб показати вашим клієнтам, що ваша 
  компанія живе насиченим життям та слідкує за подіями'
    },
    {
      title: 'Блог (Новости, Статьи, Публикации)',
      text: 'Тепер ви зможете вести на сайті блог або підбірку з новинами вашої
  компанії, а керувати цим процесом тепер зможе навіть дитина, адже
  вся робота ведеться в надзвичайно зручній адміністративній панелі.
  Новини - це відмінний засіб показати вашим клієнтам, що ваша 
  компанія живе насиченим життям та слідкує за подіями'
    },
    {
      title: 'Техническая поддержка 1 месяц',
      text: 'Тепер ви зможете вести на сайті блог або підбірку з новинами вашої
  компанії, а керувати цим процесом тепер зможе навіть дитина, адже
  вся робота ведеться в надзвичайно зручній адміністративній панелі.
  Новини - це відмінний засіб показати вашим клієнтам, що ваша 
  компанія живе насиченим життям та слідкує за подіями'
    },
    {
      title: 'Поиск',
      text: 'Тепер ви зможете вести на сайті блог або підбірку з новинами вашої
  компанії, а керувати цим процесом тепер зможе навіть дитина, адже
  вся робота ведеться в надзвичайно зручній адміністративній панелі.
  Новини - це відмінний засіб показати вашим клієнтам, що ваша 
  компанія живе насиченим життям та слідкує за подіями'
    }
  ]  
}
---
{% extends "layouts/_layout.html" %}

{% block content %}  
  {% include "partials/_hero.html" %}
  {% include "partials/services/_s-hero.html" %}
  {% include "partials/services/_s-features.html" %}
  {% include "partials/sections/_s-order-bg.html" %}
  {% include "partials/sections/_s-principles-img.html" %}


  {% set 
    sectionLaptop = {
      titleBlock: {
        subttl: 'ви зможете',
        title: '<small>оцінити результати</small>нашої роботи',
        text: 'нашої роботи',
        titleMod: 'glitch--bottom glitch--xs-none',
        par: 'Кожного місяця ви будете отримувати звіт про виконану роботу,<br>
також у вас буде можливість обговорити з нашими <br>
спеціалістами ваші очікування та сгоригувати роботу <br>
так, як ви її бачите.',
        innerMod: 'title-block__inner-50'
      }
    }
  %} 


  {% include "partials/sections/_s-faq-half.html" %}
  {% include "partials/sections/_s-portfolio.html" %}


  {%set
    principles = {
      img: 'phones.png',
      mod: 'principles--circle',
      list: [
        {
          nmb: '01/',
          title: 'Зріст кількості заявок та звернень у компанію',
          text: 'Після проведення робіт по оптимізації вашого 
    сайту у пошукових системах, у вас неодмінно 
    зросте кількість заявок'
        },
        {
          nmb: '02/',
          title: 'Ваш сайт знаходиться в топі пошуку Google',
         text: 'Тепер, ваш сайт побачать одним із перших
    і про ваші послуги дізнаються вже
    тисячі користувачів'
        },
        {
          nmb: '03/',
          title: 'Економія на інших видах реклами та просування',
          text: 'Зявдяки професійній роботі наших SEO-спеціалістів,
    вам більше не доведеться витрачати зайвих
    грошей та додаткові способи реклами '
        },
        {
          nmb: '04/',
          title: 'Збільшення цільових клієнтів на сайті',
          text: 'Тепер, більшість користувачів, що заходять
    до вас на сайт - ваші цільові клієнти, 
    які вірогідніше зроблять замовлення'
        },
        {
          nmb: '05/',
          title: 'Загальне збільшення замовлень на сайті',
          text: 'Після проведення професіної роботи збільшиться
    кількість прямих замовлень ваших товарів
    та послуг на сайті  '
        },
        {
          nmb: '06/',
          title: 'Тепер кількість замовлень не залежить від сезону',
          text: 'Вам більше не доведеться хвилюватися про «простійні»
    місяці, коли клієнтів стає менше, або вони взагалі 
    перестають залишати заявки'
        }
      ]    
    }
  %}
  {% include "partials/services/_s-features-circle.html" %}
  {% include "partials/sections/_s-order.html" %}
{% endblock %}
