---
title: services-smm-smm
page: services-smm-smm
hero: {
  modifications: {
    section: 'hero--content'
  },
  title: '<strong class="glitch" data-text="Smm">Smm</strong>',
  text: 'Присутність у соціальних медіа вже є нормою для кожного бізнесу, який цінує 
своїх клієнтів. Перж за все, важливо визначитися, з якою аудиторією ви 
працюєте, а вже потім планувати ваше просування у соц. медіа.',
  bgImage: 'bg-hero-services-seo-a-words.jpg',
  btns: {
    yellow: 'замовити консультацію',
    white: 'наші послуги'
  },
  breadcrumbs: {
    list: [
      { link: 'Головна' },
      { item: '-' },
      { link: 'послуги' },
      { item: '-' },
      { link: 'Smm', modLink: 'is-active' }
    ]
  },
  scrollToTarget: right-img-top
}

servicesSection: {
  titleBlock: {
    subttl: 'вартість для кожного клієнта розраховується індивідуално, але',
    title: '<small>сми приблизно склали середні</small> тарифи на наші послуги',
    text: '',
    titleMod: '',
    word: '',
    wordMod: 'word-sm'
  }
}

sectionGallery: {
  titleBlock: {
    subttl: 'у нас вже є результати, які ',
    title: '<small>розповідають</small> залишатися на плаву',
    titleMod: 'glitch--bottom glitch--xs-none',
    word: 'progress',
    wordMod: 'word--sm',
    par: 'Ми завжди в курсі останніх технологій та інструментів у SEO та контекстній рекламі, <br>
томузавжди залишаємо своїх конкурентів далеко позаду. Старі способи <br>
не працюють, а про нові знають одиниці, і це дає нам можливість <br>
піднімати бізнес наших клієнтів із року в рік.'
  }  
}
sectionFeatures: {
  titleBlock: {
    title: '<small>використовуємо лише</small> сучасні інструменти',
    titleMod: 'glitch--bottom glitch--xs-none',
    word: 'instruments',
    par: 'Ми відповідаємо за кожне рішення для просування вас в соціальних мережах, так щоб вони працювали на ваш бізнес. <br>
Не використовуємо заїжджені фрази, дешеві трюкі з продажу, не тиснемо на потенційного клієнта. Все це дає нам <br>
можливість презентувати ваш бізнес у найкращому світлі.',
    wordMod: 'word--sm'
  },
  imgRight: 'features-1.jpg',
  imgRightSquare: true
}


sectionPrinciples: {
  titleBlock: {
    subttl: 'за останні декілька років smm-просування',
    title: '<small>стала необхідною частиною</small>вашого бізнесу',
    text: '',
    titleMod: '',
    word: 'necessity',
    wordMod: 'word-sm'
  }
}

services: {
  items: [
    {
      title: 'Instagram',
      text: 'Ми створюємо сайти, які є природним продовженням фірмового стилю компанії, 
  викликають довіру відвідувачів і бажання співпрацювати з компанією.',
      price: '<small>Від </small>3500<small>грн</small>',
      mod: 'service-item--white'
    },
    {
      title: 'Facebook',
      text: 'Ми створимо максимальну віддачу від кожного переходу на сайт, 
  так як вашу рекламу побачать ті, хто є частиною вашої цільової аудиторії',
      price: '<small>Від </small>6500<small>грн</small>',
      mod: 'service-item--white'
    }
  ]
}

principles: {
  list: [
    {
      nmb: '01/',
      title: 'Зріст кількості заявок та звернень у компанію',
      text: 'Після проведення робіт по оптимізації вашого 
сайту у пошукових системах, у вас неодмінно 
зросте кількість заявок'
    },
    {
      nmb: '02/',
      title: 'Ваш сайт знаходиться в топі пошуку Google',
     text: 'Тепер, ваш сайт побачать одним із перших
і про ваші послуги дізнаються вже
тисячі користувачів'
    },
    {
      nmb: '03/',
      title: 'Економія на інших видах реклами та просування',
      text: 'Зявдяки професійній роботі наших SEO-спеціалістів,
вам більше не доведеться витрачати зайвих
грошей та додаткові способи реклами '
    },
    {
      nmb: '04/',
      title: 'Збільшення цільових клієнтів на сайті',
      text: 'Тепер, більшість користувачів, що заходять
до вас на сайт - ваші цільові клієнти, 
які вірогідніше зроблять замовлення'
    },
    {
      nmb: '05/',
      title: 'Загальне збільшення замовлень на сайті',
      text: 'Після проведення професіної роботи збільшиться
кількість прямих замовлень ваших товарів
та послуг на сайті  '
    },
    {
      nmb: '06/',
      title: 'Тепер кількість замовлень не залежить від сезону',
      text: 'Вам більше не доведеться хвилюватися про «простійні»
місяці, коли клієнтів стає менше, або вони взагалі 
перестають залишати заявки'
    }
  ]
}
gallery: {
  simple: true,
  mod: 'gallery--slider',
  slides: [
    {
      img: 'img/gallery/1.jpg',
      title: 'Santay',
      subttl: ' Весільний салон у Вінниці',
      meta: [
        { title: 'Витрати:', price: '<small>До</small> 16 000 <small>грн</small>' },
        { title: 'Залучено клієнтів:', price: '1842' },
        { title: 'Досягнуто конверсій:', price: '291' },
        { title: 'Збільшення доходу:', price: '480%' }
      ]
    },
    {
      img: 'img/gallery/1.jpg',
      title: 'Santay',
      subttl: ' Весільний салон у Вінниці',
      meta: [
        { title: 'Витрати:', price: '<small>До</small> 16 000 <small>грн</small>' },
        { title: 'Залучено клієнтів:', price: '1842' },
        { title: 'Досягнуто конверсій:', price: '291' },
        { title: 'Збільшення доходу:', price: '480%' }
      ]
    }
  ]  
}
features: [
  {
    icon: 'promotion',
    title: '<span class="underlined"><span>Правильне налаштування</span></span> рекламної кампанії',
    text: 'Ми використовуємо лише якісні графічні елементи: 
логотипи, фірмовий колір, бренд-персонажі і т.п.
Ми працюємо без шаблонів, лише унікальний
та сучасний дизайн, у якому ми впевнені'
  },
  {
    icon: 'content',
    title: '<span class="underlined"><span>Ефективні оголошення,</span></span> які продають',
    text: 'Ми використовуємо лише якісні графічні елементи: 
логотипи, фірмовий колір, бренд-персонажі і т.п.
Ми працюємо без шаблонів, лише унікальний
та сучасний дизайн, у якому ми впевнені'
  },
  {
    icon: 'design',
    title: '<span class="underlined"><span>Заощадження до 85% </span></span> вашого бюджету',
    text: 'Вже ні для кого не секрет, що більше 60% користувачів
відвідують сайти з мобільних пристроїв, тому ми дуже 
відповідально ставимося до створення адаптивних 
версій вашого майбутнього сайту'
  },
  {
    icon: 'laptop',
    title: '<span class="underlined"><span>Заощадження до 85% </span></span> вашого бюджету',
    text: 'Вже ні для кого не секрет, що більше 60% користувачів
відвідують сайти з мобільних пристроїв, тому ми дуже 
відповідально ставимося до створення адаптивних 
версій вашого майбутнього сайту'
  }
]
---
{% extends "layouts/_layout.html" %}

{% block content %}  
  {% include "partials/_hero.html" %}
  {% include "partials/sections/_s-principles.html" %}
  {% include "partials/sections/_s-services.html" %}
  {% include "partials/services/_s-features.html" %} 
  {% include "partials/sections/_s-order-bg.html" %}
  {% include "partials/sections/_s-gallery.html" %}
  {% include "partials/sections/_s-order.html" %}  
{% endblock %}
