{%set
table = [
  {
    cols: [
      { text: '<p><strong>Сайт визитка</strong> (до 6 страниц, подходит для презентации себя и своих услуг, уровень дизайна - простой)</p>' },
      { text: '<div class="price price--sm price--medium underlined"><span>от 600$</span></div>' }
    ]
  },
  {
    cols: [
      { text: '<p><strong>Сайт визитка</strong> (корпоративный сайт компании, от 7 страниц, уровень дизайна - сложный)</p>' },
      { text: '<div class="price price--sm price--medium underlined"><span>от 1200$</span></div>' }
    ]
  },
  {
    cols: [
      { text: '<p><strong>Landing Page</strong></p>' },
      { text: '<div class="price price--sm price--medium underlined"><span>от 650$</span></div>' }
    ]
  },
  {
    cols: [
      { text: '<p><strong>Интернет магазин на шаблоне</strong></p>' },
      { text: '<div class="price price--sm price--medium underlined"><span>от 1100$</span></div>' }
    ]
  },
  {
    cols: [
      { text: '<p><strong>Интернет магазин - индивидуальная разработка под ключ</strong></p>' },
      { text: '<div class="price price--sm price--medium underlined"><span>от 2500$</span></div>' }
    ]
  },
  {
    cols: [
      { text: '<p><strong>SEO оптимизация сайта</strong></p>' },
      { text: '<div class="price price--sm price--medium underlined"><span>от 200$</span></div>' }
    ]
  }
]
%}

<!-- begin blog-article -->
<div class="blog-article">
  <blockquote>
    Сколько стоит сделать сайт-визитку, интернет-магазин, интерактивный сайт, корпоративный сайт, сайт под ключ, сайт на вордпресс в Украине. Цена создания сайтов в 2019 году
  </blockquote>

  <article>
    <img class="js-lazy" alt="" src="" data-src="./img/blog/article/price/Your_Screen_Phone.jpg"/>

    <h2>Сколько будет стоить создание сайта, цены в 2020 году?</h2>

    <p>В наше время есть уйма специалистов, которые хотели бы разработать вам сайт. Но то, насколько сильно разнятся цены исполнителей за выполнение одного и того же проекта, не перестает удивлять. Ценовая политика создания сайта стартует от 750 долларов и заканчивается какими-то невообразимыми цифрами. Сегодня вы узнаете все о том, как формируется ценообразование сайтов, о его составляющих и дополнительных опциях.</p>

    <p>Также мы расскажем, к каким уловкам приходится прибегать разработчикам, чтобы клиент согласился сотрудничать именно
      с ними. После прочтения этой статьи вы сможете с легкостью определить стоимость создания сайта, в котором будет все, 
    чего вы ждете от разработчика.</p>
  </article>

  <figure>
    <img class="js-lazy" alt="" src="" data-src="./img/blog/article/price/monitor.png"/>
  </figure>

  <h2>Основные составляющие ценовой политики сайта</h2>

  <p>Чтобы определиться с ценой онлайн ресурса, вам нужно ориентироваться в разновидностях работ, этапах и компонентах, из которых и будет создаваться сайт. Поскольку цена будет напрямую зависеть от времени, потраченного на его разработку и от количества выполненной работы.</p>

  <p>На цену онлайн платформы повлияют следующие составляющие:</p>

  <ul>
    <li>Хостинг</li>
    <li>Домен</li>
    <li>Дизайнерское оформление</li>
    <li>Верстка</li>
    <li>Имплементация</li>
    <li>Программирование</li>
    <li>Тестирование</li>
  </ul>

  <figure>
    <img class="js-lazy" alt="" src="" data-src="./img/blog/article/price/648.jpg"/>
  </figure>

  <div><strong>1. Оплата за хостинг</strong> – это регулярная абонентская плата за размещение и хранение ресурса на онлайн сервере. В 2019-ом году стоимость хостинга стартует от 20 долларов в год, и базируется на том, насколько ваш сайт ресурсоемкий.</div>
  <p><strong>2. Оплата за домен</strong> - регулярная абонентская плата за аренду доменного имени (адреса сайта в сети Интернет), кликнув куда, посетители смогут перейти на хостинг, гдн размещается ваша онлайн платформа.
  На цену доменного адреса может повлиять доменная зона. К примеру, домен в зоне com.ua будет стоить порядка 15 долларов в год, а если мы говорим о зоне .ua, то уже на порядок дороже – 60 долларов в год.</p>

  <figure>
    <img class="js-lazy" alt="" src="" data-src="./img/blog/article/price/01.jpg"/>
  </figure>

  <div><strong>3. Дизайн онлайн ресурса</strong> – проект сайта, представленный в виде макета PSD. Этот макет будет отображать окончательное оформление сайта. Процесс разработки осуществляется в 3 этапа:</div>

  <ul>
    <li>Все начинается с проектирования. Обсуждается функционал, рубрики и контент. Также создаются схемы онлайн платформы.</li>
    <li>Прорисовывается дизайн. Создается PSD файл, после чего выполняется его верстка.</li>
    <li>На третьем этапе все утверждается с клиентом. При необходимости вносятся соответствующие правки.</li>
  </ul>

  <figure>
    <img class="js-lazy" alt="" src="" data-src="./img/blog/article/price/01.png"/>
  </figure>

  <blockquote>
    Ценовая политика вышеперечисленных работ зависит от квалификации и опыта разработчика. Также на цену может повлиять количество типовых страниц. Наше мнение – качественный дизайн должен стоить от 250 долларов, и разрабатываться от 7 дней.
  </blockquote>

  <div><strong>4. Верстка.</strong> Из дизайн-макета при помощи нарезания иконок, картинок, набора и разметки текстовой составляющей, создаются интерактивные страницы. На цену верстки влияют такие параметры, как:</div>

  <ul>
    <li>Объем – количество и сложность страниц сайта.</li>
    <li>Адаптивность – когда страницу можно настроить под габариты любого экрана. Благодаря этому посетители смогут с максимальным удобством просматривать сайт на любом гаджете.</li>
    <li>Качество – отображение согласно макету, правильная оптимизация и разметка.</li>
  </ul>

  <p>Цена верстки за страницу стартует от 40 долларов за страницу. Создание занимает минимум 7 дней.
  Расценки на программирование, имплементацию и тестирование онлайн ресурса базируются на уровне сложности работ и на их количестве. Но если вы нуждаетесь в стандартном сайте по типу блога или в обычного сайта визитки, то данный этап вам обойдется приблизительно в 200-300 долларов. На создание уйдет от 2-х до 3-х недель.</p>

  <figure>
    <img class="js-lazy" alt="" src="" data-src="./img/blog/article/price/Ungroup.jpg"/>
  </figure>

  <h2>Покупка готового проекта, стоимость шаблонного онлайн ресурса</h2>

  <p>Разумеется, стоимость шаблонного сайта будет существенно ниже. Ведь не нужно разрабатывать верстку, дизайнерское оформление и имплементацию.</p>

  <p>Если рассматривать перспективу на будущее, этот вариант не является практичным и пригодным в силу недостаточно качественной реализации. Также вам придется ограничиться только одним шаблоном.
  Помимо этого, из-за применения шаблона могут возникнуть трудности в ходе работы с контентом. Есть риск того, что сайт будет взломан.</p>

  <p>
    {# <ul> #}
      <li>Вы решили создать платный шаблонный сайт. Он характеризуется специфической структурой, которую можно поменять или улучшить, внеся изменения в шаблонные файлы. Если эти шаблоны могут обновляться, это приведет к тому, что изменения не сохранятся. Кроме того, с шаблонами будет трудно работать в силу различных способов защиты их от воровства.</li>
    {# </ul> #}
  </p>

  <p>
    {# <ul> #}
      <li>Сайт будет создаваться на бесплатном шаблоне. Эту разновидность шаблонов обычно разрабатывают новички, поэтому о стабильности функционирования и о качестве верстки можно умолчать и вовсе.
      Если сайт будет создан на взломанном шаблоне, вы можете столкнуться с размещением на нем вредоносного кода (обнаружить который крайне сложно). Обновить такой шаблон не представляется возможным, из-за чего возникают новые риски для взлома сайта.</li>
    {# </ul> #}
  </p>

  <p>Одним словом, разработка сайта на бесплатном шаблоне приведет к тому, что в итоге вы потратите куда больше денег, чем это предполагалось изначально, и на выходе получите жалкое подобие сайта.</p>

  <figure>
    <img class="js-lazy" alt="" src="" data-src="./img/blog/article/price/2122.jpg"/>
  </figure>

  <h2>Цена шаблонного сайта визитки</h2>

  <p>К самому востребованному варианту, из предложенных на рынке, относится создание шаблонной информационной онлайн платформы. Если вам поступают предложения о запуске ресурса за 1-7 дней, это свидетельствует о применении шаблона.  В 2019-ом году цена такого сайта стартует от 100 долларов.</p>

  <h2>Цена интернет-магазина, созданного на шаблоне</h2>

  <p>Разработка шаблонного интернет-магазина – один из самых рискованных проектов, поскольку помимо всех вышеописанных проблем, клиент также столкнется с нюансами области торговли, продукции и т.д. Цена такого онлайн-магазина будет стоить от 1200 долларов.</p>

  {{ mixins.titleBlock(
    subttl = 'узнайте, какая',
    title = '<small>Цена онлайн ресурса</small>под ключ в demiweb',
    text = 'под ключ',
    titleMod = 'glitch--bottom glitch--xs-none'
  ) }}

  <p>Наши квалифицированные специалисты с многолетним опытом работы в этой сфере деятельности уверены, что разработка онлайн ресурса под ключ – единственный правильный выход в создании вашего сайта. Мы предоставляем клиентам индивидуальные разработки, созданные с учетом их требований.</p>

  <p>Забудьте о шаблонных решениях. Мы поможем в создании простого понятного сайта с инновационным удобным дизайнерским оформлением. Создадим продукт европейского качества и гарантируем поддержку на всех этапах разработки онлайн платформы.</p>

  <h2>Цена на создание сайта в 2020 году</h2>

  <table>
    <tr>
      <th>Вид сайта</th>
      <th>Стоимость</th>
    </tr>

    {% for i in table %}
    <tr>
      {% for j in i.cols %}
      <td>{{ j.text | safe }}</td>
      {% endfor %}
    </tr>
    {% endfor %}
  </table>
</div>
<!-- end blog-article -->