<!-- begin blog-article -->
<div class="blog-article">
  <article>
    <h2>Підзаголовок</h2>
  <ul>
    <li>Уникальность. На копипасте «не уехать» лет 10 как. Только авторские тексты либо глубокий, качественный рерайтинг 
      (в крайнем случае). Не можете писать сами – нанимаете опытного копирайтера: на зарплате или с постатейной оплатой
    как вам двоим будет комфортнее;</li>

    <li>Польза. Каждый текст, находящийся в поиске на хороших позициях, должен быть полезным. Условно, я хочу знать ответ 
    на вопрос: «сколько океанов на Земле?». Ответить можно одним предложением, но часто на сайте пишут слишком размыто. Нужно выуживать ответ среди тонн бесполезной информации. Это не значит, что следует писать одно короткое предложение на каждой странице. Просто сначала сообщите пользователю, что у нас ПЯТЬ океанов, а дальше дополняйте информацией.</li>

    <li>Спам. Слишком любите ключевые слова – придется привыкать к фильтрам. Не злоупотребляйте подобным, сейчас не 2009 год, когда добавив в текст больше всех ключевиков, выходишь в ТОП-3 по ним;</li>

    <li>Грамотность. Следует проверять до публикации каждый написанный текст. Пишите в Word, проверяйте по Главреду, Тургеневу и Орфограме и получите больше читателей;</li>

    <li>Заголовки. Вспомните книгу. Заголовки в ней – целая структура для более лёгкого ориентирования человека внутри текста. Заголовки на сайте – тоже! &lt;H1&gt; – заголовок первого уровня – должен использоваться один раз как название статьи/раздела/подраздела, &lt;H2&gt; и последующие – столько, сколько потребуется;</li>

      <li>Форматирование. Не гонитесь за большими, безобразными портянками. Лучше текст в 2 000 знаков, который легко читается и корректно отформатирован, чем в 10 000 знаков и сделанный… в общем, не на совесть.</li>
    </ul>

    <blockquote>
      <ul>
        <li>Польза. Каждый текст, находящийся в поиске на хороших позициях, должен быть полезным. Условно, я хочу знать ответ на вопрос: «сколько океанов на Земле?». Ответить можно одним предло можете писать сами – нанимаете опытного копирайтера: на зарплате или с постатейной оплатой – как вам двоим будет комфортнее;</li>
        <li>Польза. Каждый текст, находящийся в поиске на хороших позициях, должен быть полезным. Условно, я хочу знать ответ на вопрос: «сколько океанов на Земле?». Ответить можно одним предло</li>
      </ul>
    </blockquote>
  </article>

  <article>
    <h2>Підзаголовок</h2>

    <p>Уникальность. На копипасте «не уехать» лет 10 как. Только авторские тексты либо глубокий, качественный рерайтинг (в крайнем случае). Не можете писать сами – нанимаете опытного копирайтера: на зарплате или с постатейной оплатой – как вам двоим будет комфортнее; Каждый текст, находящийся в поиске на хороших позициях, должен быть полезным. Каждый текст, находящийся в поиске на хороших позициях, должен быть полезным. Условно, я хочу знать ответ на вопрос: <i>«сколько океанов на Земле?»</i>. Ответить можно одним предложением, но часто на сайте пишут слишком размыто. Нужно выуживать ответ среди тонн бесполезной информации. </p>
    <p>Это не значит, что следует писать одно короткое предложение на каждой странице. Просто сначала сообщите пользователю, что у нас ПЯТЬ океанов, а дальше дополняйте другой ценной информацией. Каждый текст, находящийся в поиске на хороших позициях, должен быть полезным. Условно, я хочу знать ответ на вопрос: <i>«сколько океанов на Земле?»</i>.</p>

    <img data-src="img/blog/article/content-1.jpg" alt="" class="js-lazy">
  </article>

  <article>
    <h2>Підзаголовок</h2>

    <p>Уникальность. На копипасте «не уехать» лет 10 как. Только авторские тексты либо глубокий, качественный рерайтинг (в крайнем случае). Не можете писать сами – нанимаете опытного копирайтера: на зарплате или с постатейной оплатой – как вам двоим будет комфортнее; Каждый текст, находящийся в поиске на хороших позициях, должен быть полезным. Каждый текст, находящийся в поиске на хороших позициях, должен быть полезным. Условно, я хочу знать ответ на вопрос: <i>«сколько океанов на Земле?»</i>. Ответить можно одним предложением, но часто на сайте пишут слишком размыто. Нужно выуживать ответ среди тонн бесполезной информации. </p>
    <p>Это не значит, что следует писать одно короткое предложение на каждой странице. Просто сначала сообщите пользователю, что у нас ПЯТЬ океанов, а дальше дополняйте другой ценной информацией. Каждый текст, находящийся в поиске на хороших позициях, должен быть полезным. Условно, я хочу знать ответ на вопрос: <i>«сколько океанов на Земле?»</i>.</p>
  </article>
</div>
<!-- end blog-article -->