

<!-- begin clients -->
<div class="clients{% if clients.modifications.wrap %} {{ clients.modifications.wrap }}{% endif %}">
  <div class="container"> 
    <div class="clients__table">
      <!-- begin clients-table -->
      <div class="clients-table{% if clients.modifications.table %} {{ clients.modifications.table }}{% endif %} js-anim-in-vieport-with-gsap">
        {% for i in clients %}
        <div class="clients-table__item{% if i.mod %} {{ i.mod }}{% endif %}">
          {% if i.img %}
          <img data-src="img/logos/{{ i.img }}" alt="" class="js-lazy animated-img">
          {% endif %}
          {% if i.text %}
          {{ i.text | safe }}
          {% endif %}
        </div>
        {% endfor %}
      </div>
      <!-- end clients-table -->
    </div>
  </div>
  
  {% if clients.word %}
  <div class="clients__word word word--sm js-anim-el" data-anim-name="fadeIn">
    <div class="word__inner js-parallax-scroll">Client’s <br> feedback</div>
  </div>
  {% endif %}
</div>
<!-- end clients -->