{%set
questions = [
  {
    title: 'Индивидуальный и эксклюзивный дизайн',
    text: 'Тепер ви зможете вести на сайті блог або підбірку з новинами вашої
компанії, а керувати цим процесом тепер зможе навіть дитина, адже
вся робота ведеться в надзвичайно зручній адміністративній панелі.
Новини - це відмінний засіб показати вашим клієнтам, що ваша 
компанія живе насиченим життям та слідкує за подіями'
  },
  {
    title: 'Установка веб-сайта на хостинг',
    text: 'Тепер ви зможете вести на сайті блог або підбірку з новинами вашої
компанії, а керувати цим процесом тепер зможе навіть дитина, адже
вся робота ведеться в надзвичайно зручній адміністративній панелі.
Новини - це відмінний засіб показати вашим клієнтам, що ваша 
компанія живе насиченим життям та слідкує за подіями'
  },
  {
    title: 'Блог (Новости, Статьи, Публикации)',
    text: 'Тепер ви зможете вести на сайті блог або підбірку з новинами вашої
компанії, а керувати цим процесом тепер зможе навіть дитина, адже
вся робота ведеться в надзвичайно зручній адміністративній панелі.
Новини - це відмінний засіб показати вашим клієнтам, що ваша 
компанія живе насиченим життям та слідкує за подіями'
  },
  {
    title: 'Техническая поддержка 1 месяц',
    text: 'Тепер ви зможете вести на сайті блог або підбірку з новинами вашої
компанії, а керувати цим процесом тепер зможе навіть дитина, адже
вся робота ведеться в надзвичайно зручній адміністративній панелі.
Новини - це відмінний засіб показати вашим клієнтам, що ваша 
компанія живе насиченим життям та слідкує за подіями'
  },
  {
    title: 'Поиск',
    text: 'Тепер ви зможете вести на сайті блог або підбірку з новинами вашої
компанії, а керувати цим процесом тепер зможе навіть дитина, адже
вся робота ведеться в надзвичайно зручній адміністративній панелі.
Новини - це відмінний засіб показати вашим клієнтам, що ваша 
компанія живе насиченим життям та слідкує за подіями'
  },
  {
    title: 'Инструкция по управлению сайтом',
    text: 'Тепер ви зможете вести на сайті блог або підбірку з новинами вашої
компанії, а керувати цим процесом тепер зможе навіть дитина, адже
вся робота ведеться в надзвичайно зручній адміністративній панелі.
Новини - це відмінний засіб показати вашим клієнтам, що ваша 
компанія живе насиченим життям та слідкує за подіями'
  },
  {
    title: 'Комментарии',
    text: 'Тепер ви зможете вести на сайті блог або підбірку з новинами вашої
компанії, а керувати цим процесом тепер зможе навіть дитина, адже
вся робота ведеться в надзвичайно зручній адміністративній панелі.
Новини - це відмінний засіб показати вашим клієнтам, що ваша 
компанія живе насиченим життям та слідкує за подіями'
  },
  {
    title: 'Мультиязычность',
    text: 'Тепер ви зможете вести на сайті блог або підбірку з новинами вашої
компанії, а керувати цим процесом тепер зможе навіть дитина, адже
вся робота ведеться в надзвичайно зручній адміністративній панелі.
Новини - це відмінний засіб показати вашим клієнтам, що ваша 
компанія живе насиченим життям та слідкує за подіями'
  },
  {
    title: 'Живой поиск',
    text: 'Тепер ви зможете вести на сайті блог або підбірку з новинами вашої
компанії, а керувати цим процесом тепер зможе навіть дитина, адже
вся робота ведеться в надзвичайно зручній адміністративній панелі.
Новини - це відмінний засіб показати вашим клієнтам, що ваша 
компанія живе насиченим життям та слідкує за подіями'
  },
  {
    title: 'Онлайн чат',
    text: 'Тепер ви зможете вести на сайті блог або підбірку з новинами вашої
компанії, а керувати цим процесом тепер зможе навіть дитина, адже
вся робота ведеться в надзвичайно зручній адміністративній панелі.
Новини - це відмінний засіб показати вашим клієнтам, що ваша 
компанія живе насиченим життям та слідкує за подіями'
  },
  {
    title: 'Корпоративная почта',
    text: 'Тепер ви зможете вести на сайті блог або підбірку з новинами вашої
компанії, а керувати цим процесом тепер зможе навіть дитина, адже
вся робота ведеться в надзвичайно зручній адміністративній панелі.
Новини - це відмінний засіб показати вашим клієнтам, що ваша 
компанія живе насиченим життям та слідкує за подіями'
  },
  {
    title: 'Адаптивная версия сайта',
    text: 'Тепер ви зможете вести на сайті блог або підбірку з новинами вашої
компанії, а керувати цим процесом тепер зможе навіть дитина, адже
вся робота ведеться в надзвичайно зручній адміністративній панелі.
Новини - це відмінний засіб показати вашим клієнтам, що ваша 
компанія живе насиченим життям та слідкує за подіями'
  }
]
%}

<!-- begin faq -->
<div class="faq js-accordion js-stagger">
  {% for i in questions %}
  <div class="question__wrap">
    <!-- begin question -->
    <div class="question js-stagger-el">
      <a href="#" class="question__title js-accordion-title">
        <span class="underlined underlined--sm underlined--hover">
          <span>{{ i.title | safe }}</span>
        </span>        
        <span class="question__icon"></span>
      </a>
      <div class="question__text text text--blue-100 js-accordion-content">{{ i.text | safe }}</div>
    </div>
    <!-- end question -->
  </div>
  {% endfor %}
</div>
<!-- end faq -->