<!-- begin faq -->
<div class="faq{% if questions.mod %} {{ questions.mod }}{% endif %} js-accordion js-stagger">
  {% for i in questions.list %}
  <div class="question__wrap">
    <!-- begin question -->
    <div class="question js-stagger-el">
      <a href="#" class="question__title js-accordion-title">
        <span class="underlined underlined--sm underlined--hover">
          <span>{{ i.title | safe }}</span>
        </span>        
        <span class="question__icon"></span>
      </a>
      <div class="question__text text text--blue-100 js-accordion-content">{{ i.text | safe }}</div>
    </div>
    <!-- end question -->
  </div>
  {% endfor %}
</div>
<!-- end faq -->