<!-- begin footer -->
<footer class="footer">
  <div class="container">
    <div class="footer__logo">
      <img data-src="img/logo-footer.png" alt="" class="js-lazy">
    </div>

    <div class="footer__meta">
      <p><a href="#">Веб студія "Demiweb International"</a> Всі права захищені &copy; 2019</p>
      <p>При копіюванні матеріалу посилання на першоджерело demiweb.pro обов'язкове.</p>
    </div>

    <div class="scroll-top">
      {{ mixins.icon('arrow') }}
    </div>
  </div>
</footer>
<!-- end footer -->