<!-- begin footer -->
<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__logo">
        {{ mixins.icon('D') }}
      </div>

      <div class="footer__meta">
        <p><a href="#">Веб студія "Demiweb International"</a> Всі права захищені &copy; 2019</p>
        <p>При копіюванні матеріалу посилання на першоджерело demiweb.pro обов'язкове.</p>
      </div>

      <div class="footer__scroll-top">
        <a href="hero" class="scroll-to scroll-to--up js-scroll-to-btn">
          {{ mixins.icon('arrow') }}
        </a>
      </div>      
    </div>
  </div>
</footer>
<!-- end footer -->