
<!-- begin gallery -->
<div class="gallery{% if gallery.mod %} {{ gallery.mod }}{% endif %} js-gallery js-anim-in-vieport-with-gsap">  

  <div class="gallery__inner">
    <div class="gallery__square gallery-cover"></div>

    
    <div class="gallery__img-wrap  js-lightgallery">
      {% if gallery.simple %}
        {% for i in gallery.slides %}
        <a href="#" class="gallery__img gallery-img js-lazy" data-background-image="{{ i.img }}">
          <span class="gallery__caption">
            <span class="gallery__title">
              <span class="title title--ttn">{{ i.title }}</span>
            </span>

            <span class="gallery__subttl">{{ i.subttl }}</span>
          </span>

          <span class="gallery__meta">
            <!-- begin gallery-meta -->
            <span class="gallery-meta">
              {% for j in i.meta %}
              <span class="gallery-meta-item">
                <span class="gallery-meta-item__title">{{ j.title | safe }}</span>
                <span class="gallery-meta-item__price price price--sm">{{ j.price | safe }}</span>
              </span>
              {% endfor %}
            </span>
            <!-- end gallery-meta -->
          </span>
        </a>
        {% endfor %}

        {% else %}

        {% for i in gallery.slides %}
        <a
          class="gallery__img gallery-img js-lazy"
          href="{{ i.img }}"
          data-exthumbimage="{{ i.img }}"
          data-background-image="{{ i.img }}">
          <span class="gallery__caption">
            <span class="gallery__title h4 h4--ttn h4--bold">{{ i.title }}</span>

            <span class="gallery__subttl">{{ i.date }}</span>
          </span>
        </a>
        {% endfor %}
      {% endif %}
    </div>    
    
    
    

    <div class="gallery__btns">
      <button class="gallery__prev slider-btn slider-btn--prev slider-btn--two-svg js-prev">
        <span class="slider-btn__front-svg">
          {{ mixins.icon('arrow') }}
        </span>
        <span class="slider-btn__back-svg">
          {{ mixins.icon('arrow') }}
        </span>
      </button>
      <button class="gallery__next slider-btn slider-btn--next slider-btn--two-svg js-next">
        <span class="slider-btn__front-svg">
          {{ mixins.icon('arrow') }}
        </span>
        <span class="slider-btn__back-svg">
          {{ mixins.icon('arrow') }}
        </span>
      </button>
    </div>
  </div>  
</div>
<!-- end gallery -->