<!-- begin header -->
<header class="header{% if header.mod %} {{ header.mod }}{% endif %} js-header">
  <div class="header__logo">
    <a href="/" class="logo">
      {{ mixins.icon('logo') }}
    </a>
  </div>

  <div class="header__phone">
    <!-- begin header-phone -->
    <div class="header-phone">
      <div class="header-phone__inner">

        <div class="header-phone__title js-tooltip">0 800 337 167</div>

        <div class="header-phone__list">
          <a href="tel:0800337167" class="header-phone__phone">0 800 337 167</a>
          <a href="tel:0800337167" class="header-phone__phone">0 800 337 167</a>
        </div>
      </div>

      <div class="header-phone__subttl">(Безкоштовно по всій Україні)</div>
    </div>
    <!-- end header-phone -->
  </div>

  <div class="header__nav">
    {% include "partials/_nav.html" %}
    <a href="#" class="header__nav-close js-menu-close"></a>
  </div>

  <div class="header__burger">
    <a href="#" class="burger js-burger"><span></span></a>
  </div>
</header>
<!-- end header -->