<!-- begin hero -->
<section class="hero{% if hero.modifications.section %} {{ hero.modifications.section }}{% endif %} js-lazy" {% if hero.bgImage %}data-background-image="img/hero/{{ hero.bgImage }}"{% endif %}>
  <div class="container">
    <div class="hero__inner">
      {% if hero.breadcrumbs %}
      <div class="hero__breadcrumbs">
        {{ mixins.list(
          name = 'breadcrumbs',
          modifications = hero.breadcrumbs.modifications,
          list = hero.breadcrumbs.list
        ) }}
      </div>
      {% endif %}

      <div class="hero__content{% if hero.modifications.content %} {{ hero.modifications.content }}{% endif %}">
        {% if hero.subttl %}
        <div class="hero__subttl{% if hero.subtitleMod  %} {{ hero.subtitleMod }}{% endif %}">{{ hero.subttl | safe }}</div>
        {% endif %}
        
        {% if hero.title %}
          
          <div class="hero__title overlayed">
            {% if hero.titleH1 %}
            <h1 class="title{% if hero.titleMod  %} {{ hero.titleMod }}{% endif %}">{{ hero.title | safe }}</h1>
            {% else %}
            <div class="title{% if hero.titleMod  %} {{ hero.titleMod }}{% endif %}">{{ hero.title | safe }}</div>
            {% endif %}
          </div>          
        {% endif %}

        {% if hero.text %}
        <div class="hero__text">{{ hero.text }}</div>
        {% endif %}

        {% if hero.meta %}
        <div class="hero__blog-meta">
          {{ mixins.meta() }}
        </div>
        {% endif %}

        {% if hero.btns %}          
        <div class="hero__btns">
          {% if hero.btns.yellow or hero.btns.white %}
            {% if hero.btns.yellow %}
            <div class="hero__btn">
              {{ mixins.btn(
                title = hero.btns.yellow,
                mod = 'js-popup-open',
                attributes = { 'data-popup-target': 'call' }
              ) }}
            </div>
            {% endif %}
            {% if hero.btns.white %}
            <div class="hero__btn">
              {{ mixins.btn(
                title = hero.btns.white,
                mod = 'btn--transp-white'
              ) }}
            </div>
            {% endif %}

          {% else %}

          <div class="hero__btn">
            {{ mixins.btn(
              title = 'замовити консультацію',
              mod = 'js-popup-open',
              attributes = { 'data-popup-target': 'call' }
            ) }}
          </div>
          <div class="hero__btn">
            {{ mixins.btn(
              title = 'наші послуги',
              mod = 'btn--transp-white'
            ) }}
          </div>

          {% endif %}          
        </div>
        {% endif %}

      </div>

      {% if hero.letter %}

      <div class="hero__img">
        <div class="hero__img-in js-parallax-scene">
          <div data-depth="0.1">
            {{ mixins.icon('D') }}
          </div>
            <svg data-depth="0.2" width="1em" height="1em" viewBox="0 0 2834.65 2834.65" class="letter-shadow">
              <defs>
                <pattern x="0" y="0" width="20" height="20" patternUnits="userSpaceOnUse" id="mypattern">
                  <path fill="rgba(255, 255, 255, .6)" d="M4,0.990777969 C4,0.443586406 4.44386482,0 5,0 C5.55228475,0 6,0.45097518 6,0.990777969 L6,5.00922203 C6,5.55641359 5.55613518,6 5,6 C4.44771525,6 4,5.54902482 4,5.00922203 L4,0.990777969 Z M10,8.99077797 C10,8.44358641 10.4438648,8 11,8 C11.5522847,8 12,8.45097518 12,8.99077797 L12,13.009222 C12,13.5564136 11.5561352,14 11,14 C10.4477153,14 10,13.5490248 10,13.009222 L10,8.99077797 Z"></path>
                </pattern>
              </defs>
              <g fill="url(#mypattern)">
                <path d="M2277.478 452.18C2004.532 191.052 1652.85 60.488 1222.475 60.488H147.778v1693.604h606.261V607.661h468.436c246.699 0 446.796 77.456 600.331 232.271 153.487 154.864 230.278 354.34 230.278 598.382 0 246.7-76.127 446.789-228.333 600.324-152.205 153.536-352.967 230.279-602.276 230.279H147.778v547.173h1074.696c427.765 0 778.782-131.181 1053.009-393.638 274.228-262.457 411.389-590.506 411.389-984.139 0-396.294-136.497-725.005-409.394-986.133z"/>
              </g>
            </svg>
        </div>       
      </div>
      {% endif %}    
    </div>
    
  </div>

  {% if hero.bgImageRight %}
  <div class="hero__bg js-lazy" data-background-image="img/hero/{{ hero.bgImageRight }}"></div>
  {% endif %}

  {% if hero.scrollToTarget %}
  <div class="hero__scroll-down{% if hero.modifications.scrollTo %} {{ hero.modifications.scrollTo }}{% endif %}">
    <a href="#" class="scroll-to scroll-to--down js-scroll-to-next">
      {{ mixins.icon('arrow') }}
    </a>
  </div>
  {% endif %}

  <div class="hero__texture js-noise"></div>
</section>
<!-- end hero -->
