<!-- begin hero -->
<section class="hero js-lazy" data-background-image="img/bg-hero.jpg" data-scroll-to-target="hero">
  <div class="container">
    <div class="hero__inner">
      <div class="hero__content">
        <div class="hero__subttl">Створення та розробка сайтів в Україні</div>

        <div class="hero__title overlayed">
          <div class="title"><small>Допоможемо</small> реалізувати ваші ідеї <small>у якісний продукт</small></div>
        </div>

        <div class="hero__btns">
          <div class="hero__btn">
            {{ mixins.btn(
              title = 'замовити консультацію',
              mod = ''
            ) }}
          </div>
          <div class="hero__btn">
            {{ mixins.btn(
              title = 'наші послуги',
              mod = 'btn--transp-white'
            ) }}
          </div>
        </div>

      </div>

      <div class="hero__img">
        <div class="hero__img-in js-parallax-scene">
          <img data-src="img/logo-lg-pattern.png" alt="" class="js-lazy" data-depth="0.1">
          <div data-depth="0.2">
            {{ mixins.icon('D') }}
          </div>
          
        </div>        
      </div>      
    </div>
    
  </div>

  <div class="hero__scroll-down">
    <a href="more" class="scroll-to scroll-to--down js-scroll-to-btn">
      {{ mixins.icon('arrow') }}
    </a>
  </div>
</section>
<!-- end hero -->