{%set
articles = [
  {
    meta: mixins.meta('Маркетинг'),
    title: '16 вересня відбудеться<strong>IT-конференція у Стокгольмі</strong>',
    text: '!6 вересня нас з вами чекає неймовірна подія, яка точно буде цікава всім тим, кого цікавть веб-дизайн...',
    img: 'articles-1.jpg'
  },
  {
    meta: mixins.meta('Поради'),
    title: '16 вересня відбудеться<strong>IT-конференція у Стокгольмі</strong>',
    text: '!6 вересня нас з вами чекає неймовірна подія, яка точно буде цікава всім тим, кого цікавть веб-дизайн...',
    img: 'articles-2.jpg'
  },
  {
    meta: mixins.meta(),
    title: '16 вересня відбудеться<strong>IT-конференція у Стокгольмі</strong>',
    text: '!6 вересня нас з вами чекає неймовірна подія, яка точно буде цікава всім тим, кого цікавть веб-дизайн...',
    img: 'articles-3.jpg'
  }
]
%}

<!-- begin recommend -->
<div class="recommend">
  {% for i in articles %}
  <div class="recommend__article">
    <a href="#" class="article article--sm">
      <span class="article__img">
        <span class="article-img js-vieport-related-el" data-delay="700">
          <span class="article-img__inner overlayed js-anim-el" data-anim-name="overlayedLeft">
            <span class="article-img__img js-lazy js-anim-el" data-anim-name="fadeIn" data-anim-duration="1.5s" data-background-image="img/blog/article/{{ i.img }}"></span>
          </span>
        </span>
      </span>
      
      <span class="article__content js-anim-el" data-anim-name="fadeInBottomSm">
        <span class="article__meta">
          {{ i.meta | safe }}
        </span>

        <span class="article__title">
          <span class="h4">{{ i.title | safe }}</span>
        </span>

        <span class="article__text">{{ i.text | safe }}</span>

        <span class="article__btn">
          <span class="link-arrow">
            <span class="link-arrow__title">ЧИТАТИ НОВИНУ</span>
            <span class="link-arrow__arrow">
              {{ mixins.icon('arrow-long') }}
            </span>
          </span>
        </span>
        
      </span>      
    </a>
  </div>
  {% endfor %}
</div>
<!-- end recommend -->