<!-- begin portfolio -->
<div class="portfolio{% if portfolioMod %} {{ portfolioMod }}{% endif %}">
  {% for i in portfolio %}
  <!-- begin portfolio-item -->
  <div class="portfolio-item js-vieport-related-el"  data-threshold="0.4">
    <div class="portfolio-item__inner">
      <div class="container">
        <div class="portfolio-item__content">
          <div class="portfolio-item__content-inner">
          <div class="portfolio-item__subttl">{{ i.subttl }}</div>

          <div class="portfolio-item__block">
            {% if i.nmb %}
            <div class="portfolio-item__nmb">{{ i.nmb }}</div>
            {% endif %}
            
            <div class="portfolio-item__title">
              <div class="title title--medium title--ttn">{{ i.title }}</div>
            </div>

            <div class="portfolio-item__text">{{ i.text | safe }}</div>

            <div class="portfolio-item__link">
              <a href="#" class="link-arrow">
                <span class="link-arrow__title">Дивитися проект</span>
                <span class="link-arrow__arrow">
                  {{ mixins.icon('arrow-long') }}
                </span>
              </a>
            </div>
          </div>        
        </div>
        </div>
      </div>

      <div class="portfolio-item__right">
        <div class="portfolio-item__right-inner">

          <div class="portfolio-item__logo{% if i.logoMod %} {{ i.logoMod }}{% endif %}" {% if i.logoColor %}style="background-color: {{ i.logoColor }};"{% endif %}>
            {% if i.logoSvg %}
            <img data-src="img/{{ i.logoSvg }}" alt="" class="js-lazy">
            {% else %}
            <img data-src="img/logos/{{ i.logo }}" alt="" class="js-lazy">
            {% endif %}
          </div>
          <div class="portfolio-item__img js-lazy" data-background-image="img/portfolio/{{ i.img }}"></div>
        </div>
      </div>
    </div>
  </div>
  <!-- end portfolio-item -->
  {% endfor %}
</div>
<!-- end portfolio -->