{%set
principles = [
  { nmb: '01/', title: 'Відповідаємо за якість', text: 'Ми не прагнемо «сдати» проект поскоріше,
нам важливо, щоб продукт працював
і ви розповідали про нас друзям' },
  { nmb: '02/', title: 'Чуємо клієнта', text: 'Перед початком роботи, ми уважно вислухаємо
усі ваші побажання та зробимо усе, 
щоб втілити їх у життя' },
  { nmb: '03/', title: 'Підходимо з розумом ', text: 'Спочатку ми продумуємо, аналізуємо та плануємо, 
а вже потім починаємо розробляти, проектувати
та впроваджувати' },
  { nmb: '04/', title: 'Будуємо на майбутнє', text: 'Нам цікаво працювати з вами на постійній основі, 
тому ми вкладаємося у кожний проект, 
як у довгострокову інвестицію' },
  { nmb: '05/', title: 'Діємо рішуче', text: 'Ми завжди орієнтуємося на розробку найкращого
проекту в Україні за вашою тематикою, а це
потребує сміливих ідей' },
  { nmb: '06/', title: 'Пишаємося собою', text: 'Після кожного проекту ми стаємо на декілька 
пунктів щасливішими, адже ми знову
створили продукт, який цінують' }
]
%}

<!-- begin principles -->
<div class="principles">
  {% for i in principles %}
  <!-- begin principle -->
  <div class="principle">
    <div class="principle__nmb">{{ i.nmb | safe }}</div>

    <div class="principle__title">{{ i.title | safe }}</div>

    <div class="principle__text">{{ i.text | safe }}</div>
  </div>
  <!-- end principle -->
  {% endfor %}
</div>
<!-- end principles -->