{%set
reviews = [
  {
    photo: 'photo-1.jpg',
    logo: 'logo-1.png',
    text: 'Веб-студія «Demiweb International» розробляла для нас сайт-каталог. Ми, навіть, не очікували, що можна отримати сайт такого рівня, який не лише буде виглядати стильно
та сучасно, але й стане практичним та зручним засобом
залучення нових клієнтів. Окрім сайту, ми вирішили замовити ще й розробку фірмового стилю для нашої компанії і отримали знижку на послугу 10%. Ми дуже вдячні спеціалістам
з «Demiweb International» за їх професійну роботу, тому ми вирішили абсолютно точно, що звернемося до цієї веб-студії знову! Ще одною перевагою звернення до «Demiweb International» стало те, що вони надають безкоштовне технічне обслуговування нашого сайту впродовж року!',
    author: {
      name: 'Максим Олмаксенко',
      text: 'Генеральний директор компанії «Olmaks»'
    }
  },
  {
    photo: 'photo-2.jpg',
    logo: 'logo-2.png',
    text: 'Веб-студія «Demiweb International» розробляла для нас сайт-каталог. Ми, навіть, не очікували, що можна отримати сайт такого рівня, який не лише буде виглядати стильно
та сучасно, але й стане практичним та зручним засобом
залучення нових клієнтів. Окрім сайту, ми вирішили замовити ще й розробку фірмового стилю для нашої компанії і отримали знижку на послугу 10%. Ми дуже вдячні спеціалістам
з «Demiweb International» за їх професійну роботу, тому ми вирішили абсолютно точно, що звернемося до цієї веб-студії знову! Ще одною перевагою звернення до «Demiweb International» стало те, що вони надають безкоштовне технічне обслуговування нашого сайту впродовж року!',
    author: {
      name: 'Марія Осипенченко',
      text: 'Генеральний директор компанії «Monbat»'
    }
  },
  {
    photo: 'photo-3.jpg',
    logo: 'logo-3.png',
    text: 'Веб-студія «Demiweb International» розробляла для нас сайт-каталог. Ми, навіть, не очікували, що можна отримати сайт такого рівня, який не лише буде виглядати стильно
та сучасно, але й стане практичним та зручним засобом
залучення нових клієнтів. Окрім сайту, ми вирішили замовити ще й розробку фірмового стилю для нашої компанії і отримали знижку на послугу 10%. Ми дуже вдячні спеціалістам
з «Demiweb International» за їх професійну роботу, тому ми вирішили точно, що звернемося до цієї веб-студії знову! ',
    author: {
      name: 'Марія Осипенченко',
      text: 'Генеральний директор компанії «ABS»'
    }
  },
  {
    photo: 'photo-4.jpg',
    logo: 'logo-4.png',
    text: 'Веб-студія «Demiweb International» розробляла для нас сайт-каталог. Ми, навіть, не очікували, що можна отримати сайт такого рівня, який не лише буде виглядати стильно
та сучасно, але й стане практичним та зручним засобом
залучення нових клієнтів. Окрім сайту, ми вирішили замовити ще й розробку фірмового стилю для нашої компанії і отримали знижку на послугу 10%. Ми дуже вдячні спеціалістам
з «Demiweb International» за їх професійну роботу, тому ми вирішили абсолютно точно, що звернемося до цієї веб-студії знову! Ще одною перевагою звернення до «Demiweb International» стало те, що вони надають безкоштовне технічне обслуговування нашого сайту впродовж року.
Окрім сайту, ми вирішили замовити ще й розробку фірмового стилю для нашої компанії і отримали знижку на послугу 10%. Ми дуже вдячні спеціалістам з «Demiweb International» 
за їх професійну роботу, тому ми вирішили абсолютно точно, що звернемося до цієї веб-студії знову! Ми, навіть, 
не очікували, що можна отримати сайт такого рівня, який не лише буде виглядати стильно та сучасно, але й стане практичним та зручним засобом залучення нових клієнтів. ',
    author: {
      name: 'Іван Назаренко',
      text: 'Генеральний директор компанії «Mario»'
    }
  },
  {
    photo: 'photo-5.jpg',
    logo: 'logo-5.png',
    text: 'Веб-студія «Demiweb International» розробляла для нас сайт-каталог. Ми, навіть, не очікували, що можна отримати сайт такого рівня, який не лише буде виглядати стильно
та сучасно, але й стане практичним та зручним засобом
залучення нових клієнтів. Окрім сайту, ми вирішили замовити ще й розробку фірмового стилю для нашої компанії і отримали знижку на послугу 10%. Ми дуже вдячні спеціалістам
з «Demiweb International» за їх професійну роботу, тому ми вирішили абсолютно точно, що звернемося до цієї веб-студії знову! Ще одною перевагою звернення до «Demiweb International» стало те, що вони надають безкоштовне технічне обслуговування нашого сайту впродовж року.Окрім сайту, ми вирішили замовити ще й розробку фірмового стилю для нашої компанії і отримали знижку на послугу 10%. Ми дуже вдячні спеціалістам з «Demiweb International» 
за їх професійну роботу, тому ми вирішили абсолютно точно, що звернемося до цієї веб-студії знову! Ми, навіть, 
не очікували, що можна отримати сайт такого рівня, який не лише буде виглядати стильно та сучасно, але й стане практичним та зручним засобом залучення нових клієнтів.
Ми дуже вдячні спеціалістам з «Demiweb International» 
за їх професійну роботу, тому ми вирішили абсолютно точно, що звернемося до цієї веб-студії знову! Веб-студія «Demiweb International» розробляла для нас сайт-каталог. Ми, навіть, не очікували, що можна отримати сайт такого рівня, який не лише буде виглядати стильно та сучасно, але й стане практичним та зручним засобом залучення нових клієнтів.  ',
    author: {
      name: 'Валерій Колосенко',
      text: 'Генеральний директор компанії «Євроколесо»'
    }
  },
  {
    photo: 'photo-4.jpg',
    logo: 'logo-4.png',
    text: 'Веб-студія «Demiweb International» розробляла для нас сайт-каталог. Ми, навіть, не очікували, що можна отримати сайт такого рівня, який не лише буде виглядати стильно
та сучасно, але й стане практичним та зручним засобом
залучення нових клієнтів. Окрім сайту, ми вирішили замовити ще й розробку фірмового стилю для нашої компанії і отримали знижку на послугу 10%. Ми дуже вдячні спеціалістам
з «Demiweb International» за їх професійну роботу, тому ми вирішили абсолютно точно, що звернемося до цієї веб-студії знову! Ще одною перевагою звернення до «Demiweb International» стало те, що вони надають безкоштовне технічне обслуговування нашого сайту впродовж року.
Окрім сайту, ми вирішили замовити ще й розробку фірмового стилю для нашої компанії і отримали знижку на послугу 10%. Ми дуже вдячні спеціалістам з «Demiweb International» 
за їх професійну роботу, тому ми вирішили абсолютно точно, що звернемося до цієї веб-студії знову! Ми, навіть, 
не очікували, що можна отримати сайт такого рівня, який не лише буде виглядати стильно та сучасно, але й стане практичним та зручним засобом залучення нових клієнтів. ',
    author: {
      name: 'Іван Назаренко',
      text: 'Генеральний директор компанії «Mario»'
    }
  },
  {
    photo: 'photo-3.jpg',
    logo: 'logo-3.png',
    text: 'Веб-студія «Demiweb International» розробляла для нас сайт-каталог. Ми, навіть, не очікували, що можна отримати сайт такого рівня, який не лише буде виглядати стильно
та сучасно, але й стане практичним та зручним засобом
залучення нових клієнтів. Окрім сайту, ми вирішили замовити ще й розробку фірмового стилю для нашої компанії і отримали знижку на послугу 10%. Ми дуже вдячні спеціалістам
з «Demiweb International» за їх професійну роботу, тому ми вирішили точно, що звернемося до цієї веб-студії знову! ',
    author: {
      name: 'Марія Осипенченко',
      text: 'Генеральний директор компанії «ABS»'
    }
  },
  {
    photo: 'photo-5.jpg',
    logo: 'logo-5.png',
    text: 'Веб-студія «Demiweb International» розробляла для нас сайт-каталог. Ми, навіть, не очікували, що можна отримати сайт такого рівня, який не лише буде виглядати стильно
та сучасно, але й стане практичним та зручним засобом
залучення нових клієнтів. Окрім сайту, ми вирішили замовити ще й розробку фірмового стилю для нашої компанії і отримали знижку на послугу 10%. Ми дуже вдячні спеціалістам
з «Demiweb International» за їх професійну роботу, тому ми вирішили абсолютно точно, що звернемося до цієї веб-студії знову! Ще одною перевагою звернення до «Demiweb International» стало те, що вони надають безкоштовне технічне обслуговування нашого сайту впродовж року.Окрім сайту, ми вирішили замовити ще й розробку фірмового стилю для нашої компанії і отримали знижку на послугу 10%. Ми дуже вдячні спеціалістам з «Demiweb International» 
за їх професійну роботу, тому ми вирішили абсолютно точно, що звернемося до цієї веб-студії знову! Ми, навіть, 
не очікували, що можна отримати сайт такого рівня, який не лише буде виглядати стильно та сучасно, але й стане практичним та зручним засобом залучення нових клієнтів.
Ми дуже вдячні спеціалістам з «Demiweb International» 
за їх професійну роботу, тому ми вирішили абсолютно точно, що звернемося до цієї веб-студії знову! Веб-студія «Demiweb International» розробляла для нас сайт-каталог. Ми, навіть, не очікували, що можна отримати сайт такого рівня, який не лише буде виглядати стильно та сучасно, але й стане практичним та зручним засобом залучення нових клієнтів.  ',
    author: {
      name: 'Валерій Колосенко',
      text: 'Генеральний директор компанії «Євроколесо»'
    }
  },
  {
    photo: 'photo-5.jpg',
    logo: 'logo-5.png',
    text: 'Веб-студія «Demiweb International» розробляла для нас сайт-каталог. Ми, навіть, не очікували, що можна отримати сайт такого рівня, який не лише буде виглядати стильно
та сучасно, але й стане практичним та зручним засобом
залучення нових клієнтів. Окрім сайту, ми вирішили замовити ще й розробку фірмового стилю для нашої компанії і отримали знижку на послугу 10%. Ми дуже вдячні спеціалістам
з «Demiweb International» за їх професійну роботу, тому ми вирішили абсолютно точно, що звернемося до цієї веб-студії знову! Ще одною перевагою звернення до «Demiweb International» стало те, що вони надають безкоштовне технічне обслуговування нашого сайту впродовж року.Окрім сайту, ми вирішили замовити ще й розробку фірмового стилю для нашої компанії і отримали знижку на послугу 10%. Ми дуже вдячні спеціалістам з «Demiweb International» 
за їх професійну роботу, тому ми вирішили абсолютно точно, що звернемося до цієї веб-студії знову! Ми, навіть, 
не очікували, що можна отримати сайт такого рівня, який не лише буде виглядати стильно та сучасно, але й стане практичним та зручним засобом залучення нових клієнтів.
Ми дуже вдячні спеціалістам з «Demiweb International» 
за їх професійну роботу, тому ми вирішили абсолютно точно, що звернемося до цієї веб-студії знову! Веб-студія «Demiweb International» розробляла для нас сайт-каталог. Ми, навіть, не очікували, що можна отримати сайт такого рівня, який не лише буде виглядати стильно та сучасно, але й стане практичним та зручним засобом залучення нових клієнтів.  ',
    author: {
      name: 'Валерій Колосенко',
      text: 'Генеральний директор компанії «Євроколесо»'
    }
  }
]
%}

<!-- begin review -->
<div class="reviews">
  {% for i in reviews %}
  <!-- begin review -->
  <div class="review js-anim-el" data-anim-name="fadeInBottomSm">
    <div class="review__img">
      <div class="review__photo js-lazy" data-background-image="img/review/{{ i.photo }}"></div>
      <div class="review__logo">
        <img data-src="img/review/{{ i.logo }}" alt="" class="js-lazy">
      </div>
    </div>

    <div class="review__content">
      <div class="review__icon">{{ mixins.icon('left-quote') }}</div>

      <div class="review__text">{{ i.text | safe }}</div>

      <div class="review__content-bottom">
        <div class="review__link">
          <a href="#" class="link-arrow">
            <span class="link-arrow__title">Дивитися проект</span>
            <span class="link-arrow__arrow">
              {{ mixins.icon('arrow-long') }}
            </span>
          </a>
        </div>

        <div class="review__author">
          <!-- begin author -->
          <div class="author">
            <div class="author__name">{{ i.author.name | safe }}</div>
            <div class="author__text">{{ i.author.text | safe }}</div>
          </div>
          <!-- end author -->
        </div>
      </div>
    </div>
  </div>
  <!-- end review -->
  {% endfor %}
</div>
<!-- end review -->