{%set
services = [
  {
    title: 'Web site development',
    text: 'Ми створюємо сайти, які є природним продовженням фірмового стилю компанії, 
викликають довіру відвідувачів і бажання співпрацювати з компанією.'
  },
  {
    title: 'Seo + Adwords',
    text: 'Ми створимо максимальну віддачу від кожного переходу на сайт, 
так як вашу рекламу побачать ті, хто є частиною вашої цільової аудиторії'
  },
  {
    title: 'Branding',
    text: 'Ми створимо максимальну віддачу від кожного переходу на сайт, 
так як вашу рекламу побачать ті, хто є частиною вашої цільової аудиторії'
  },
  {
    title: 'Smm',
    text: 'Ми створимо максимальну віддачу від кожного переходу на сайт, 
так як вашу рекламу побачать ті, хто є частиною вашої цільової аудиторії'
  }
]
%}

<!-- begin services -->
<div class="services">
  {% for i in services %}
  <!-- begin service-item -->
  <div class="service-item__wrap js-vieport-related-el">
    <a href="#" class="service-item">
      <span class="container">
        <span class="service-item__inner">
          <span class="service-item__block">
            <span class="service-item__title">
              <span class="title title--ttn">{{ i.title | safe }}</span>
            </span>

            <span class="service-item__text">{{ i.text | safe }}</span>
          </span>

          <span class="service-item__link">{{ mixins.icon('arrow') }}</span>
        </span>
      </span>
    </a>
  </div>
  <!-- end service-item -->
  {% endfor %}
</div>
<!-- end services -->