<!-- begin services -->
<div class="services{% if services.mod %} {{ services.mod }}{% endif %}">
  {% for i in services.items %}
  <!-- begin service-item -->
  <div class="service-item__wrap js-vieport-related-el">
    <a href="#" class="service-item{% if i.mod %} {{ i.mod }}{% endif %}">
      <span class="container">
        <span class="service-item__inner">
          <span class="service-item__block">
            <span class="service-item__title">
              <span class="title title--ttn">{{ i.title | safe }}</span>
            </span>

            <span class="service-item__text">{{ i.text | safe }}</span>
          </span>

          <span class="service-item__link">{{ mixins.icon('arrow') }}</span>
        </span>
      </span>
    </a>
  </div>
  <!-- end service-item -->
  {% endfor %}
</div>
<!-- end services -->