{%set
team = [
  { title: 'Олександра Сандюк', subttl: 'Project Manager' },
  { title: 'Євгеній Кроха', subttl: 'Web designer' },
  { title: 'Юрій Прізвище', subttl: 'Front-end developer' },
  { title: 'Інна Прізвище', subttl: 'Marketing Manager' }
]
%}

<!-- begin team -->
<div class="team">
  {% for i in team %}
  <!-- begin specialist -->
  <div class="specialist__wrap">
    <div class="specialist">
      <div class="specialist__img-wrap overlayed">
        <div class="specialist__img js-lazy" data-background-image="img/team/1.jpg"></div>
      </div>

      <div class="specialist__bottom">
        <div class="specialist__title h4 h4--ttn h4--medium">{{ i.title | safe }}</div>

        <div class="specialist__subttl text--gray-light">{{ i.subttl | safe }}</div>
      </div>
    </div>
  </div>
  <!-- end specialist -->
  {% endfor %}
</div>
<!-- end team -->