{%set
testimonials = [
  {
    img: '28-reviews_1.jpg',
    title: 'Шатилов А.С.',
    subttl: 'Керівник інформаціонно-рекламного відділу "100 ШИН"',
    text: 'Наша студія веб дизайну по розробці сайтів під ключ в Києві пропонує вам розробку сайтів будь-якої складності і тематики. Нашої компанії під силу виготовлення сайтів будь-якого типу: створення інтернет-магазину, сайт візитка, корпоративний сайт, сайт для бізнесу, сайт каталог, створення Лендінгем (landing page). Так, ви можете замовити у нас сайт будь-якого призначення в Вінниці, Києві та по всій Україні. У нас в команді працюють кращі розробники з усієї країни по веб-програмуванню, у яких більше 5 років досвіду і навичок створення якісного продукту.'
  },
  {
    img: '28-reviews_1.jpg',
    title: 'Шатилов А.С.',
    subttl: 'Керівник інформаціонно-рекламного відділу "100 ШИН"',
    text: 'Наша студія веб дизайну по розробці сайтів під ключ в Києві пропонує вам розробку сайтів будь-якої складності і тематики. Нашої компанії під силу виготовлення сайтів будь-якого типу: створення інтернет-магазину, сайт візитка, корпоративний сайт, сайт для бізнесу, сайт каталог, створення Лендінгем (landing page). Так, ви можете замовити у нас сайт будь-якого призначення в Вінниці, Києві та по всій Україні. У нас в команді працюють кращі розробники з усієї країни по веб-програмуванню, у яких більше 5 років досвіду і навичок створення якісного продукту.'
  },
  {
    img: '28-reviews_1.jpg',
    title: 'Шатилов А.С.',
    subttl: 'Керівник інформаціонно-рекламного відділу "100 ШИН"',
    text: 'Наша студія веб дизайну по розробці сайтів під ключ в Києві пропонує вам розробку сайтів будь-якої складності і тематики. Нашої компанії під силу виготовлення сайтів будь-якого типу: створення інтернет-магазину, сайт візитка, корпоративний сайт, сайт для бізнесу, сайт каталог, створення Лендінгем (landing page). Так, ви можете замовити у нас сайт будь-якого призначення в Вінниці, Києві та по всій Україні. У нас в команді працюють кращі розробники з усієї країни по веб-програмуванню, у яких більше 5 років досвіду і навичок створення якісного продукту.'
  },
  {
    img: '28-reviews_1.jpg',
    title: 'Шатилов А.С.',
    subttl: 'Керівник інформаціонно-рекламного відділу "100 ШИН"',
    text: 'Наша студія веб дизайну по розробці сайтів під ключ в Києві пропонує вам розробку сайтів будь-якої складності і тематики. Нашої компанії під силу виготовлення сайтів будь-якого типу: створення інтернет-магазину, сайт візитка, корпоративний сайт, сайт для бізнесу, сайт каталог, створення Лендінгем (landing page). Так, ви можете замовити у нас сайт будь-якого призначення в Вінниці, Києві та по всій Україні. У нас в команді працюють кращі розробники з усієї країни по веб-програмуванню, у яких більше 5 років досвіду і навичок створення якісного продукту.'
  }
]
%}

<!-- begin testimonials-slider -->
<div class="testimonials-slider js-slider-custom">
  <div class="container">
    <div class="testimonials-slider__left">
      <div class="testimonials-slider__imgs">
        {% for i in testimonials %}
        <div class="testimonials-slider__img js-lazy" data-background-image="img/testimonials/{{ i.img }}"></div>
        {% endfor %}
      </div>

      <div class="testimonials-slider__captions">
        {% for i in testimonials %}
        <div class="testimonials-slider__title">
          <h5 class="h5 h5--ttn">{{ i.title }}</h5>
        </div>
        <div class="testimonials-slider__subttl">{{ i.subttl }}</div>
        {% endfor %}
      </div>

      <div class="testimonials-slider__btns">
        <button class="testimonials-slider__prev js-prev">{{ mixins.icon('arrow') }}</button>
        <button class="testimonials-slider__next js-next">{{ mixins.icon('arrow') }}</button>
      </div>
    </div>

    <div class="testimonials-slider__right">
      <div class="testimonials-slider__texts">
        {% for i in testimonials %}
        <div class="testimonials-slider__text">{{ i.text | safe }}</div>
        {% endfor %}
      </div>
    </div>
  </div>
  
</div>
<!-- end testimonials-slider -->