{% set name = 'call' %}
{% set mod = '' %}

{% if popup.call %}
  {% set active = true %}
{% endif %}

{%set
form = [
  { name: 'input', type: 'text', placeholder: 'Введіть ваше ім’я', icon: mixins.icon('man-user', false), mod: 'input--has-icon', fieldClass: 'js-input' },
  { name: 'input', type: 'tel', placeholder: 'tel', icon: mixins.icon('man-user', false), mod: 'input--has-icon', fieldClass: 'js-input js-mask', fieldAttributes: { 'data-mask-input': 'phone' } },
  { name: 'textarea', type: '', placeholder: 'Коротко опишіть ваше питання', icon: mixins.icon('pencil-edit-button', false), mod: 'textarea--has-icon', fieldClass: 'js-textarea js-input' }
]
%}

{% extends "layouts/_popup.html" %}

{% block content %}

  <!-- begin form -->
  <div class="form form--sm form--center">
    <form>
      <div class="form__inner">
        <div class="popup__title">
          <div class="h4 h4--bold">З’явилися питання?</div>
        </div>

        <div class="popup__subttl">Залиште ваші дані внизу та ми зв’яжемося з вами у найближчий час</div>

        {% for i in form %}
        <div class="form__field">
          {{ mixins.input(
            name = i.name,
            mod = i.mod,
            type = i.type,
            placeholder = i.placeholder,
            value = '',
            fieldClass = i.fieldClass,
            label = { first: i.icon },
            fieldAttributes = i.fieldAttributes
          ) }}
        </div>
        {% endfor %}

         <div class="form__field form__btn">
            {{ mixins.btn(
              title = 'замовити дзвінок',
              mod = 'btn--full',
              href = false
            ) }}
          </div>
          <div class="form__checkbox form__field">
            {{ mixins.input(
              name = 'checkbox',
              mod = '',
              type = 'checkbox',
              placeholder = '',
              value = '',
              fieldClass = '',
              fieldAttributes = { 'checked': '' },
              label = { last: 'Ви погоджуєтеся з умовами обробки персональних даних.<br> <a href="#">Політика конфеденційності.</a>', span: true }
            ) }}
          </div>
        </div>
    </form>
  </div>
  <!-- end form -->

{% endblock %}