{%set
types = [
  {
    img: 'Laptop-2.png',
    id: 'project-type-1',
    title: 'Сайт-візитка',
    text: 'Оптимальний рекламний майданчик 
для представників малого та середнього бізнесу',
    fieldAttributes: { 'name': 'project_type', 'id': 'project-type-1', 'checked': '' }
  },
  {
    img: 'land-p.png',
    id: 'project-type-2',
    title: 'Landing Page',
    text: 'Дієвий сучасний інструмент 
для підвищення продажів у бізнесі',
fieldAttributes: { 'name': 'project_type', 'id': 'project-type-2' }
  },
  {
    img: 'Laptop.png',
    id: 'project-type-3',
    title: 'Інтернет-магазин',
    text: 'Ми спеціалізуємося на розробці великих
технічно складних інтернет-магазинів',
fieldAttributes: { 'name': 'project_type', 'id': 'project-type-3' }
  }
]
%}

{%set
design = [
  {
    id: 'design-type-1',
    title: 'Індивідуальний дизайн',
    text: 'Після детального дослідження вашої галузі, конкурентів
та особливостей вашого бізнесу, створюємо
індивідуальні рішення, які виведуть
ваш бізнес на топові позиції',
    fieldAttributes: { 'name': 'project_type', 'id': 'design-type-1' }
  },
  {
    id: 'design-type-2',
    title: 'WOW-дизайн',
    text: 'Підбираємо найкращі графічні елементи, використовуємо найсучасніші методи анімації та впроваджуємо
останні технології веб-дизайну ',
fieldAttributes: { 'name': 'project_type', 'id': 'design-type-2', 'checked': '' }
  },
  {
    id: 'design-type-3',
    title: 'В мене свій дизайн',
    text: 'Якщо у вас вже є готовий дизайн, який б ви хотіли
застосувати у вашому проекті, ми
з радістю допоможемо вам',
fieldAttributes: { 'name': 'project_type', 'id': 'design-type-3' }
  }
]
%}

{%set
checkboxes = [
  { label: 'Каталог товарів' },
  { label: 'Мультивалютність' },
  { label: 'Пошукові фільтри' },
  { label: 'Фотогалерея' },
  { label: 'Кошик товарів' },
  { label: 'Калькулятор' },
  { label: 'Підключення розсилки' },
  { label: 'Відео на головний екран' },
  { label: 'Онлайн оплата' },
  { label: 'Рекомендовані товари' },
  { label: 'Зворотній зв’язок' },
  { label: 'Анімація' },
  { label: 'Блог' },
  { label: 'Багатомовність' },
  { label: 'Відеогалерея' },
  { label: 'Форум' }
]
%}

{%set
functions = [
  {
    img: 'promo.png',
    id: 'functions-branding',
    title: 'Logo+Branding',
    text: 'Після детального дослідження вашої галузі, конкурентів та особливостей
вашого бізнесу, створюємо індивідуальні рішення, які
виведуть ваш бізнес на топові позиції',
    fieldAttributes: { 'id': 'functions-branding' }
  },
  {
    img: 'ipad-1.png',
    id: 'functions-crm',
    title: 'CRM інтеграція',
    text: 'Підбираємо найкращі графічні елементи, використовуємо найсучасніші 
методи анімації та впроваджуємо останні технології веб-дизайну. 
Відвідувачі вашого сайту точно запам’ятаюсть вас надовго',
    fieldAttributes: { 'id': 'functions-crm' }
  },
  {
    img: 'ipad-2.png',
    id: 'functions-translate',
    title: 'Переклад',
    text: 'Після детального дослідження вашої галузі, конкурентів та особливостей
вашого бізнесу, створюємо індивідуальні рішення, які
виведуть ваш бізнес на топові позиції',
    fieldAttributes: { 'id': 'functions-translate' }
  },
  {
    img: 'ipad-3.png',
    id: 'functions-seo',
    title: 'Seo+Adwords',
    text: 'Підбираємо найкращі графічні елементи, використовуємо найсучасніші 
методи анімації та впроваджуємо останні технології веб-дизайну. 
Відвідувачі вашого сайту точно запам’ятаюсть вас надовго',
    fieldAttributes: { 'id': 'functions-seo' }
  },
  {
    img: 'Laptop-3.png',
    id: 'functions-copy',
    title: 'Копірайтинг',
    text: 'Після детального дослідження вашої галузі, конкурентів та особливостей
вашого бізнесу, створюємо індивідуальні рішення, які
виведуть ваш бізнес на топові позиції',
    fieldAttributes: { 'id': 'functions-copy' }
  },
  {
    img: 'Laptop-4.png',
    id: 'functions-fill',
    title: 'Наповнення',
    text: 'Підбираємо найкращі графічні елементи, використовуємо найсучасніші 
методи анімації та впроваджуємо останні технології веб-дизайну. 
Відвідувачі вашого сайту точно запам’ятаюсть вас надовго',
    fieldAttributes: { 'id': 'functions-fill' }
  }
]
%}