{%set
video = [
  {
    mod: 'feature--block',
    nmb: '01',
    icon: 'diagram',
    title: 'Увеличивает продажи',
    text: 'Ми не прагнемо «сдати» проект поскоріше,
    нам важливо, щоб продукт працював
    і ви розповідали про нас друзям'
  },
  {
    mod: 'feature--block',
    nmb: '02',
    icon: 'podium',
    title: 'Выделяет от конкурентов',
    text: 'Ми не прагнемо «сдати» проект поскоріше,
    нам важливо, щоб продукт працював
    і ви розповідали про нас друзям'
  },
  {
    mod: 'feature--block',
    nmb: '03',
    icon: 'memory',
    title: 'Усваивается информация',
    text: 'Ми не прагнемо «сдати» проект поскоріше,
    нам важливо, щоб продукт працював
    і ви розповідали про нас друзям'
  },
  {
    mod: 'feature--block',
    nmb: '04',
    icon: 'watching-tv',
    title: 'Смотрят перед покупкой',
    text: 'Ми не прагнемо «сдати» проект поскоріше,
    нам важливо, щоб продукт працював
    і ви розповідали про нас друзям'
  },
  {
    mod: 'feature--block',
    nmb: '05',
    icon: 'clock-2',
    title: 'Клиенты дольше на сайте',
    text: 'Ми не прагнемо «сдати» проект поскоріше,
    нам важливо, щоб продукт працював
    і ви розповідали про нас друзям'
  },
  {
    mod: 'feature--block',
    nmb: '06',
    icon: 'piggy-bank',
    title: 'Дешевле видеорекламы',
    text: 'Ми не прагнемо «сдати» проект поскоріше,
    нам важливо, щоб продукт працював
    і ви розповідали про нас друзям'
  }
]
%}