<!-- begin pi-section -->
<section class="pi-section">
  <div class="pi-section__word word word--sm js-anim-el" data-anim-name="fadeInLeft">
    <div class="word__inner">colours</div>
  </div>

  <div class="container">
    {{ mixins.piTitleBlock(
      title = 'ми ретельно підбираємо кольори та шрифти до кожного сайту',
      titleMod = 'pi-section__title-lg',
      subttl = 'Ми з великою відповідальністю поставилися до вибору кольорів та шрифтів, адже перед нами стояла важлива задача: донести усю цінність
      електромобілів до споживача'
    ) }}

    <img data-src="img/portfolio-item/colours.jpg" alt="" class="js-lazy animated-img">    
  </div>

  <div class="pi-section__right-img">
    <img data-src="img/portfolio-item/car-colours.png" alt="" class="js-lazy animated-img">
  </div>


</section>
<!-- end pi-section -->