<!-- begin pi-hero -->
<section class="pi-hero pt-lgl">
  <div class="pi-hero__bg">
    <img data-src="img/portfolio-item/bg-hero.jpg" alt="" class="js-lazy animated-img">
  </div>

  <div class="container">
    <div class="pi-hero__content">
      <div class="pi-hero__logo js-anim-el" data-anim-name="fadeInBottomSm">
        <img data-src="img/olmaks-white.svg" alt="" class="js-lazy">
      </div>

      <div class="pi-hero__content-text">
        <div class="pi-hero__title-block js-anim-el" data-anim-name="fadeInRightSm">
          <div class="pi-hero__title">
            <div class="title">первый</div>
          </div>

          <div class="pi-hero__subttl">
            <div class="h2">мультибрендовый салон электромобилей в Украине</div>
          </div>
        </div>

        <div class="pi-hero__descr js-anim-el" data-anim-name="fadeInRightSm">
          <div class="pi-hero__descr-title">
            <div class="h6">Наша цель при создании сайта:</div>
          </div>

          <div class="pi-hero__descr-text text--reg">
            <p>Максимально раскрыть все преимущества электромобилей, 
            представить товарную линейку «Olmaks»  подробно и эффектно.</p> 
            <p>Мы постарались сделать так, чтобы при первом знакомстве пользователя
            с сайтом он определил для себя, что электрокар от «Olmaks» — это то, что ему нужно.</p></div>
          </div>
        </div>
      </div>    
  </div>
  
</section>
<!-- end pi-hero -->