<!-- begin pi-section -->
<section class="pi-section">
  <div class="pi-section__word word word--sm js-anim-el" data-anim-name="fadeInLeft">
    <div class="word__inner">pages of the</div>
  </div>

  <div class="container">
    {{ mixins.piTitleBlock(
      title = 'до кожної сторінки сайту ми підходимо, як до головної',
      subttl = 'Під час розробки сайту для «Olmaks Group» ми опрацьовували кожну 
      сторінку максимально детально, щоб кожен користувач зміг 
      знайти те, за чим прийшов'
    ) }}
  </div>

  <div class="pi-section__img-center">
    <img data-src="img/portfolio-item/project.png" alt="" class="js-lazy animated-img">
  </div>  
</section>
<!-- end pi-section -->