<!-- begin pi-section -->
<section class="pi-section">
  <div class="pi-section__word word word--sm js-anim-el" data-anim-name="fadeInLeft">
    <div class="word__inner">adaptive</div>
  </div>

  <div class="container">
    {{ mixins.piTitleBlock(
      title = 'ми приділяємо велику увагу адаптивним версіям сайту',
      subttl = 'Збільшення кількості запитів із мобільних телефонів у 2019 році показала приріст у 61%, До 2025 року сидіти в інтернеті через телефон будуть
 вчетверо більше користувачів, ніж зараз'
    ) }}

  <div class="pi-section__img-center">
    <img data-src="img/portfolio-item/tablets.png" alt="" class="js-lazy animated-img">
  </div>  
</div>

  
</section>
<!-- end pi-section -->