<!-- begin pi-section -->
<section class="pi-section">
  <div class="pi-section__word word word--sm js-anim-el" data-anim-name="fadeInLeft">
    <div class="word__inner">main page</div>
  </div>

  <div class="container">
    {{ mixins.piTitleBlock(
      title = 'Головна сторінка - це візитна картка сайту',
      subttl = 'Тому, під час розробки головної сторінки сайту для «Olmaks Group»
ми приділяли увагу не лише її зовнішньому вигляду, 
але і її практичності та зручності'
    ) }}
  </div>

  <!-- begin preview -->
  <div class="preview">
    <div class="preview__inner">
      <img data-src="img/portfolio-item/laptop.png" alt="" class="js-lazy">
      <div class="preview__scroll-word">Потягніть</div>
      <div class="preview__img js-scrollbar">
        <img data-src="img/portfolio-item/preview-img.jpg" alt="" height="2000" class="js-lazy">
      </div>
    </div>    
  </div>
  <!-- end preview -->
</section>
<!-- end pi-section -->
