<!-- begin blog-article -->
<section class="s-blog-article pt-lg pb-mdl">
  <div class="container">
    <div class="s-blog-article__inner">
      <div class="s-blog-article__content">
        {% if page === 'blog-article' %}
        {% include "partials/_blog-article.html" %}
        {% elseif page === 'blog-article-2' %}
        {% include "partials/_blog-article-2.html" %}
        {% elseif page === 'blog-article-3' %}
        {% include "partials/_blog-article-3.html" %}
        {% endif %}
      </div>

      <div class="s-blog-article__aside">
        {% include "partials/_blog-aside.html" %}
      </div>
    </div>
  </div>
</section>
<!-- end blog-article -->