<!-- begin section -->
<section class="section s-gallery pt-md pb-lg overflow-hidden">
  <div class="section__title-block s-gallery__title-block">
    {{ mixins.titleBlock(
      title = '<small>у нашій власній</small> фотогалереї',
      titleMod = 'glitch--bottom',
      text = 'фотогалереї',
      subttl = 'ми завжди відкриті до вас і показуємо це',
      word = 'Gallery',
      wordMod = 'word--sm'
    ) }}
  </div>

  <div class="section__gallery s-gallery__gallery">
    <div class="container">
      {% include "partials/_gallery.html" %}
    </div>
  </div>
</section>
<!-- end section -->