<!-- begin section -->
<section class="section s-more overflow-hidden pt-xll pb-lg" data-scroll-to-target="more">
  <div class="word js-anim-el" data-anim-name="fadeInLeft">DEMIWEB</div>

  <div class="container">
    <div class="s-more__title js-anim-el" data-anim-name="fadeInRight">
      <div class="h3">для компаній, які прагнуть більше</div>
    </div>

    <div class="s-more__block overlayed js-anim-el" data-anim-name="overlayedLeft">
      <div class="s-more__block-title js-anim-el" data-anim-name="fadeInBottomSm">
        <div class="h4 h4--ttn">Мы — веб студія комплексних рішень для ваших задач, і це означає, що ми повністю формуємо ваш BRAND на ринку України.</div>
      </div>

      <div class="s-more__text js-anim-el" data-anim-name="fadeInBottomSm" data-anim-delay='0.3s'>Наша студія веб дизайну по розробці сайтів під ключ в Києві пропонує вам розробку сайтів будь-якої складності і тематики. Нашої компанії під силу виготовлення сайтів будь-якого типу: створення інтернет-магазину, сайт візитка, корпоративний сайт, сайт для бізнесу, сайт каталог, створення Лендінгем (landing page). Так, ви можете замовити у нас сайт будь-якого призначення в Вінниці, Києві та по всій Україні. У нас в команді працюють кращі розробники з усієї країни по веб-програмуванню, у яких більше 5 років досвіду і навичок створення якісного продукту.</div>

      <div class="s-more__title-lg js-anim-el" data-anim-name="fadeInBottomSm" data-anim-delay='0.6s'>
        <div class="title">7 років на ринку IT 100+ реалізованих проектів +150% середній приріст конверсій</div>
      </div>

      <div class="s-more__btn js-anim-el" data-anim-name="fadeInBottomSm" data-anim-delay='0.9s'>
        {{ mixins.btn(
          title = '<span class="btn__title">детальніше про нашу компанію</span>',
          mod = 'btn--half'
        ) }}
      </div>

      <a href="portfolio" class="s-more__arrow js-scroll-to-btn">
        {{ mixins.icon('arrow') }}
      </a>
    </div>
  </div>  
  
</section>
<!-- end section -->