<!-- begin section -->
<section class="section s-more pt-xll pb-lg">
  <div class="word">DEMIWEB</div>

  <div class="container">
    <div class="s-more__title">
      <h3 class="h3">для компаній, які прагнуть більше</h3>
    </div>

    <div class="s-more__block">
      <a href="#" class="s-more__arrow">
        {{ mixins.icon('arrow') }}
      </a>

      <div class="s-more__block-title">
        <h4 class="h4 h4--ttn">Мы — веб студія комплексних рішень для ваших задач, і це означає, що ми повністю формуємо ваш BRAND на ринку України.</h4>
      </div>

      <div class="s-more__text">Наша студія веб дизайну по розробці сайтів під ключ в Києві пропонує вам розробку сайтів будь-якої складності і тематики. Нашої компанії під силу виготовлення сайтів будь-якого типу: створення інтернет-магазину, сайт візитка, корпоративний сайт, сайт для бізнесу, сайт каталог, створення Лендінгем (landing page). Так, ви можете замовити у нас сайт будь-якого призначення в Вінниці, Києві та по всій Україні. У нас в команді працюють кращі розробники з усієї країни по веб-програмуванню, у яких більше 5 років досвіду і навичок створення якісного продукту.</div>

      <div class="s-more__title-lg">
        <h2 class="title">7 років на ринку IT 100+ реалізованих проектів +150% середній приріст конверсій</h2>
      </div>

      <div class="s-more__btn">
        {{ mixins.btn(
          title = '<span class="btn__title">детальніше про нашу компанію</span>',
          mod = 'btn--half'
        ) }}
      </div>
    </div>
  </div>  
  
</section>
<!-- end section -->