<!-- begin section -->
<section class="section s-numbers pt-lg pb-sml overflow-hidden">
  {% if not sectionNumbers.titleBlockHidden %}
  <div class="section__title-block s-numbers__title-block">
    {{ mixins.titleBlock(
      subttl = 'нам є чим пишатися',
      title = '<small>і ми доведемо</small>це цифрами',
      text = 'це цифрами',
      titleMod = 'glitch--bottom',
      word = 'numbers'
    ) }}
  </div>
  {% endif %}

  <div class="s-numbers__numbers">
    <div class="container">
      {% include "partials/_numbers.html" %}
    </div>    
  </div>
</section>
<!-- end section -->