<!-- begin section -->
<section class="section s-order s-order--bg pt-md pb-md js-lazy" data-background-image="img/about/bg-order.jpg">
  <div class="container">
    <div class="s-order__inner">
      <div class="s-order__left">
        <div class="s-order__title overlayed js-anim-el" data-anim-name="overlayedLeft">
          <div class="title title--ttn glitch js-anim-el" data-anim-name="fadeIn" data-text="Це - Олександра.">Це - Олександра. Вона знає, 
як зробити крутий проект 
для вашого бізнесу</div>
        </div>

        <div class="s-order__contacts js-anim-el" data-anim-name="fadeInBottomSm">
          <!-- begin order-contacts -->
          <div class="order-contacts">
            <div class="order-contacts__mail">
              <a href="mailto:order@demiweb.pro" class="">order@demiweb.pro</a>
            </div>
            <div class="order-contacts__phone">
              <a href="tel:0800337167" class="">0 800 337 167</a>
            </div>
            <div class="order-contacts__phone">
              <a href="tel:0443338538" class="">0 800 337 167</a>
            </div>
            
            <div class="order-contacts__text">м. Київ, вул. бульвар марії приймаченко 1/27     |      м. дружби народів</div>
          </div>
          <!-- end order-contacts -->
        </div>

        <div class="s-order__btns js-anim-el" data-anim-name="fadeInBottomSm">
          <div class="s-order__btn">
            {{ mixins.btn(
              title = 'ДІЗНАТИСЯ ВАРТІСТЬ',
              mod = 'btn--lg btn--full'
            ) }}
          </div>
          <div class="s-order__btn">
            {{ mixins.btn(
              title = 'ДИВИТИСЯ СХОЖІ ПРОЕКТИ',
              mod = 'btn--lg btn--transp-black btn--full'
            ) }}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end section -->