<!-- begin section -->
<section class="section s-consult pb-lg">
  <div class="container">
    <div class="s-consult__inner">
      <div class="s-consult__title overlayed js-anim-el" data-anim-name="overlayedLeft">
        <div class="title title--ttn"><strong class="glitch" data-text="А ви хочете,">А ви хочете,</strong> щоб ваша історія стала наступною?</div>
      </div>

      <div class="s-consult__subttl js-anim-el" data-anim-name="fadeInBottomSm">Замовте консультацію нашого менеджера та станьте наступним щасливчиком, який отримає найкращий цифровий продукт в Україні!</div>

      <div class="s-consult__btn js-anim-el" data-anim-name="fadeInBottomSm">
        {{ mixins.btn(
          title = 'замовити консультацію',
          mod = 'btn--lg'
        ) }}
      </div>
    </div>
  </div>
</section>
<!-- end section -->