<!-- begin section -->
<section class="section section--black section--white-color s-order pt-lgl pb-xl">
  <div class="container">
    <div class="s-order__inner">
      <div class="s-order__left">
        <div class="s-order__title">
          <div class="title title--ttn">А ви готові розробити <br> по справжньому крутий проект?</div>
        </div>

        <div class="s-order__contacts">
          <!-- begin order-contacts -->
          <div class="order-contacts">
            <div class="order-contacts__mail">
              <a href="mailto:order@demiweb.pro" class="">order@demiweb.pro</a>
            </div>
            <div class="order-contacts__phone">
              <a href="tel:0800337167" class="">0 800 337 167</a>
            </div>
            <div class="order-contacts__phone">
              <a href="tel:0443338538" class="">0 800 337 167</a>
            </div>
            
            <div class="order-contacts__text">м. Київ, вул. бульвар марії приймаченко 1/27     |      м. дружби народів</div>
          </div>
          <!-- end order-contacts -->
        </div>

        <div class="s-order__btns">
          <div class="s-order__btn">
            {{ mixins.btn(
              title = 'замовити консультацію',
              mod = 'btn--lg btn--full'
            ) }}
          </div>
          <div class="s-order__btn">
            {{ mixins.btn(
              title = 'презентація компанії',
              mod = 'btn--lg btn--transp-white btn--full'
            ) }}
          </div>
        </div>
      </div>

      <div class="s-order__right">
        {% include "partials/_seo-text.html" %}        
      </div>
    </div>
  </div>
</section>
<!-- end section -->