<!-- begin section -->
<section class="section section--black section--white-color s-order pt-lgl pb-xl">
  <div class="container">
    <div class="s-order__inner">
      <div class="s-order__left">
        <div class="s-order__title">
          <h2 class="title title--ttn">А ви готові розробити <br> по справжньому крутий проект?</h2>
        </div>

        <div class="s-order__contacts">
          <!-- begin order-contacts -->
          <div class="order-contacts">
            <div class="order-contacts__mail">
              <a href="mailto:order@demiweb.pro" class="">order@demiweb.pro</a>
            </div>
            <div class="order-contacts__phone">
              <a href="tel:0800337167" class="">0 800 337 167</a>
            </div>
            <div class="order-contacts__phone">
              <a href="tel:0443338538" class="">0 800 337 167</a>
            </div>
            
            <div class="order-contacts__text">м. Київ, вул. бульвар марії приймаченко 1/27     |      м. дружби народів</div>
          </div>
          <!-- end order-contacts -->
        </div>

        <div class="s-order__btns">
          <div class="s-order__btn">
            {{ mixins.btn(
              title = 'замовити консультацію',
              mod = 'btn--lg btn--full'
            ) }}
          </div>
          <div class="s-order__btn">
            {{ mixins.btn(
              title = 'презентація компанії',
              mod = 'btn--lg btn--transp-white btn--full'
            ) }}
          </div>
        </div>
      </div>

      <div class="s-order__right">
        <!-- begin scrolled-text -->
        <div class="scrolled-text js-scrollbar">
          <h6 class="h6">СТУДИЯ ВЕБ ДИЗАЙНА "DEMIWEB INTERNATIONAL"</h6>

          <p>Наша студия веб дизайна по разработке сайтов под ключ в Киеве предлагает вам разработку сайтов любой сложности и тематики. Нашей компании под силу изготовление сайтов любого типа: создание интернет-магазина, сайт визитка, корпоративный сайт, сайт для бизнеса, сайт каталог, создание лендинг (landing page). Так, вы можете заказать у нас сайт любого назначения в Виннице, Киеве и по всей Украине. У нас в команде работают лучшие разработчики со всей страны по веб-программированию, у которых более 5 лет опыта и навыков создания качественного продукта.</p>
          <p>Если вас интересует web разработка сайтов, цена которой будет весьма доступна и оправдана, обращайтесь к специалистам веб студии «Demiweb International». За годы успешной работы они реализовали десятки эффективных и действенных веб-проектов, и сегодня в числе их довольных клиентов можно увидеть как крупные организации различной сферы деятельности, так и частных лиц и компании, которые только начали свой путь в мире интернет-бизнеса. Вне зависимости от сложности и объемов заказа, вы получите комплексный и профессиональный подход.</p>

          <h6 class="h6 h6--ttn h6--lg">Каким требованиям должен соответствовать веб-разработчик?</h6>

          <p>Выбирая подрядчика для создания ресурса, который сможет помочь Вам реализовать Ваши цели в бизнесе, следует учитывать несколько важных моментов:</p>
          <p>Веб-студия должна иметь солидное портфолио, опыт работы с разнообразными сферами бизнеса; Собственный web ресурс компании должен соответствовать качеству их работы, </p>


          <h6 class="h6 h6--ttn h6--lg">Каким требованиям должен соответствовать веб-разработчик?</h6>

          <p>Выбирая подрядчика для создания ресурса, который сможет помочь Вам реализовать Ваши цели в бизнесе, следует учитывать несколько важных моментов:</p>
          <p>Веб-студия должна иметь солидное портфолио, опыт работы с разнообразными сферами бизнеса; Собственный web ресурс компании должен соответствовать качеству их работы, </p>


          <h6 class="h6 h6--ttn h6--lg">Каким требованиям должен соответствовать веб-разработчик?</h6>

          <p>Выбирая подрядчика для создания ресурса, который сможет помочь Вам реализовать Ваши цели в бизнесе, следует учитывать несколько важных моментов:</p>
          <p>Веб-студия должна иметь солидное портфолио, опыт работы с разнообразными сферами бизнеса; Собственный web ресурс компании должен соответствовать качеству их работы, </p>

        </div>
        <!-- end scrolled-text -->
      </div>
    </div>
  </div>
</section>
<!-- end section -->