<!-- begin section -->
<section class="section s-principles pt-sml pb-mdl overflow-hidden">
  <div class="section__title-block s-principles__title-block">
    {% if sectionPrinciples.titleBlock %}
      {{ mixins.titleBlock(
        subttl = sectionPrinciples.titleBlock.subttl | safe,
        title = sectionPrinciples.titleBlock.title | safe,
        titleMod = sectionPrinciples.titleBlock.titleMod,
        text = sectionPrinciples.titleBlock.text,
        par = sectionPrinciples.titleBlock.par | safe,
        word = sectionPrinciples.titleBlock.word
      ) }}
    {% endif %}
  </div>

  <div class="container">
    {% include "partials/_principles.html" %}
  </div>
</section>
<!-- end section -->