<!-- begin section -->
<section class="section s-portfolio pb-lg">
  <div class="s-portfolio__title title-block">
    <div class="title-block__square-wrap"></div>
    
    <div class="container">
      <h2 class="title">роботи, якими<br> ми пишаємося</h2>
    </div>

    <div class="title-block__word word">portfolio</div>
  </div>


    <div class="s-portfolio__portfolio">
      {% include "partials/_portfolio.html" %}
    </div> 

    <div class="container">
      <a href="#" class="s-portfolio__link">
        {{ mixins.icon('web-design') }}
        Дивитися портфоліо
      </a>
    </div>  
  
</section>
<!-- end section -->