<!-- begin section -->
<section class="section s-principles pt-sml pb-mdl overflow-hidden">
  <div class="section__title-block s-principles__title-block">
    {{ mixins.titleBlock(
      subttl = 'ми завжди керуємося',
      title = '<small>єдиними та непохитними</small> принципами роботи',
      titleMod = 'glitch--bottom',
      text = 'принципами роботи',
      par = 'Ніякі договори та контракти не гарантують вам вдалої співпраці.<br> Тільки, якщо у компанії є свої власні норми та правила, <br>
      виковані роками — ви можете бути впевнені у результаті.',
      word = 'principles'
    ) }}
  </div>

  <div class="container">
    {% include "partials/_principles.html" %}
  </div>
</section>
<!-- end section -->