<!-- begin section -->
<section class="section s-portfolio pb-lg">

  {{ mixins.titleBlock(
    mod = 's-portfolio__title',
    title = 'роботи, якими<br> ми пишаємося',
    word = 'portfolio'
  ) }}


    <div class="s-portfolio__portfolio">
      {% include "partials/_portfolio.html" %}
    </div> 

    <div class="container">
      <div class="s-portfolio__link-wrap">
        <a href="#" class="s-portfolio__link">
          {{ mixins.icon('web-design') }}
          Дивитися портфоліо
        </a>
      </div>      
    </div>  
  
</section>
<!-- end section -->