<!-- begin section -->
<section class="section s-review pt-sml pb-md">
  <div class="section__title-block">
    {{ mixins.titleBlock(
      subttl = 'за більше, ніж 7 років',
      title = '<small>ми отримали безліч</small>позитивних відгуків',
      text = 'позитивних відгуків',
      titleMod = 'glitch--bottom glitch--xs-none',
      word = 'review'
    ) }}
  </div>

  <div class="container">
    {% include "partials/_review.html" %}
    {% include "partials/_review-sertificats.html" %}
  </div>
</section>
<!-- end section -->