<!-- begin section -->
<section class="section s-we-know pb-lg">
  <div class="s-we-know__title-block title-block title-block--btn">
    <div class="container">
      <div class="title-block__title">
        <div class="title">ми знаємо, що потрібно саме вам</div>
      </div>
      <div class="title-block__word word">we know</div>
      <div class="title-block__btn">
        {{ mixins.btn(
          title = 'замовити консультацію',
          mod = 'btn--xl'
        ) }}
      </div>
    </div>
  </div>

  <div class="container">
    <div class="s-we-know__content">
      <div class="s-we-know__content">
        <div class="s-we-know__title">
          <div class="title title--ttn">Ми працюємо для вас,<br> і ділимося своїм досвідом</div>
        </div>

        <div class="s-we-know__text">Наша студія веб дизайну по розробці сайтів під ключ в Києві пропонує вам розробку сайтів будь-якої складності і тематики. Нашої компанії під силу виготовлення сайтів будь-якого типу: створення інтернет-магазину, сайт візитка, корпоративний сайт, сайт для бізнесу, сайт каталог, створення Лендінгем (landing page). Так, ви можете замовити у нас сайт будь-якого призначення в Вінниці, Києві та по всій Україні. У нас в команді працюють кращі розробники з усієї країни по веб-програмуванню, у яких більше 5 років досвіду і навичок створення якісного продукту.</div>
      </div>
    </div>
  </div>

    <div class="s-we-know__clients">
      {% include "partials/_clients.html" %}
    </div>
  
</section>
<!-- end section -->