{% from 'mixins/_list.html' import list %}
{% set list = list %}

{% from 'mixins/_btn.html' import btn %}
{% set btn = btn %}

{% from 'mixins/_icon.html' import icon %}
{% set icon = icon %}

{% from 'mixins/_input.html' import input %}
{% set input = input %}

{% from 'mixins/_title-block.html' import titleBlock %}
{% set titleBlock = titleBlock %}

{% from 'mixins/_pi-title-block.html' import piTitleBlock %}
{% set piTitleBlock = piTitleBlock %}

{% from 'mixins/_meta.html' import meta %}
{% set meta = meta %}
