{% macro titleBlock(mod, title, text, word, subttl, par, titleMod, subttlBottom) %}
<!-- begin title-block -->
<div class="title-block{% if mod %} {{ mod }}{% endif %}">
  <div class="title-block__square-wrap js-anim-el" data-anim-name="slideBeforeRight"></div>

  <div class="container">
    {% if subttl %}
    <div class="title-block__subttl">{{ subttl | safe }}</div>
    {% endif %}
    <div class="title-block__title js-anim-el" data-anim-name="fadeInBottomSm">
      <div class="title glitch{% if titleMod %} {{ titleMod }}{% endif %}" data-text="{{ text }}">{{ title | safe }}</div>
    </div>
    {% if subttlBottom %}
    <div class="title-block__subttl title-block__subttl-bottom">{{ subttlBottom | safe }}</div>
    {% endif %}
    {% if par %}
    <div class="title-block__text">{{ par | safe }}</div>
    {% endif %}  
  </div>

  <div class="title-block__word word js-anim-el" data-anim-name="fadeInLeft">
    <div class="word__inner js-parallax-scroll">{{ word | safe }}</div>
  </div>
</div>
<!-- end title-block -->
{% endmacro %}