<!-- begin section -->
<section class="section s-features overflow-hidden pt-sml pb-lg">
  <div class="container">
    <div class="s-features__inner">
      <div class="s-features__img section--img__img">
        <div class="section-img">
          <div class="section-img__inner overlayed js-anim-el" data-anim-name="overlayedLeft">
            <div class="section-img__img js-lazy js-anim-el" data-anim-name="fadeIn" data-anim-duration="1.5s" data-background-image="img/services/{{ sectionFeatures.img }}"></div>
          </div>          
        </div>
      </div>

      <div class="s-features__content">
        {% include "partials/_features.html" %}
      </div>
    </div>
  </div>
</section>
<!-- end section -->