<!-- begin section -->
<section class="section s-features overflow-hidden pt-sml pb-lg">
  {% if sectionFeatures.titleBlock %}
    <div class="section__title-block">
      {{ mixins.titleBlock(
        subttl = sectionFeatures.titleBlock.subttl | safe,
        title = sectionFeatures.titleBlock.title | safe,
        text = sectionFeatures.titleBlock.text,
        titleMod = sectionFeatures.titleBlock.titleMod,
        word = sectionFeatures.titleBlock.word
      ) }}
    </div>
  {% endif %}

  <div class="container">
    <div class="s-features__inner">
      {% if sectionFeatures.img %}
      <div class="s-features__img section--img__img">
        <div class="section-img">
          <div class="section-img__inner overlayed js-anim-el" data-anim-name="overlayedLeft">
            <div class="section-img__img js-lazy js-anim-el" data-anim-name="fadeIn" data-anim-duration="1.5s" data-background-image="img/services/{{ sectionFeatures.img }}"></div>
          </div>          
        </div>
      </div>

      <div class="s-features__content">
        {% include "partials/_features.html" %}
      </div>
      
      {% elseif sectionFeatures.imgRight %}

      <div class="s-features__content">
        {% include "partials/_features.html" %}
      </div>
      
      <div class="s-features__img section--img__img">
        <img data-src="img/services/{{ sectionFeatures.imgRight }}" alt="" class="js-lazy animated-img">
      </div>      

      {% else %}

      {% include "partials/_features.html" %}
      {% endif %}
    </div>
  </div>
</section>
<!-- end section -->