.btn
  $this: &
  display: inline-block
  text-align: center
  background-color: $yellow
  border: 1px solid  $yellow
  padding: 12px 40px
  text-transform: uppercase
  color: $black
  position: relative
  overflow: hidden
  +light
  +tr(color .3s, background-color .3s, border-color .3s)
  +hover
    background-color: transparent
    color: $yellow
  +lg
    padding-left: 30px
    padding-right: 30px
  +md
    padding-left: 20px
    padding-right: 20px
    padding-top: 10px
    padding-bottom: 10px
  +sm
    padding-left: 10px
    padding-right: 10px
  +xs
    width: 100%
  .icon
    vertical-align: middle
    font-size: 1.3em
    margin-right: 5px

  &--transp-white
    border-color: $white
    background-color: transparent
    color: $white
    +hover
      background-color: $white
      color: $black
  &--transp-black
    border-color: $black
    background-color: transparent
    // color: $white
    +hover
      background-color: $black
      color: $white
  &--half
    background-color: transparent
    border-top-color: transparent
    border-bottom-color: transparent
    border-left-color: transparent
    overflow: hidden
    +xs
      border-color: $yellow
    +bold
    +before
      width: 100%
      height: 100%
      position: absolute
      pointer-events: none
      z-index: 0
      border-top: 1px solid  $yellow
      border-bottom: 1px solid  $yellow
      border-left: 1px solid  $yellow
      right: 0
      top: 0
      transform: translate(30%, 0)
      +tr(transform .3s, background-color .3s)
      +xs
        display: none
    +hover
      color: $black
      +before
        transform: translate(0, 0)
        background-color: $yellow
    #{$this}__title
      position: relative
      z-index: 1
  &--half-white
    color: $white
    +hover
      color: $white
  &--half-sm
    font-size: $fz
    padding-left: 80px
    padding-right: 80px
  &--xl
    font-size: 24px
    padding: 23px 105px
    +css-lock(16, 24, 320, 1499, font-size)
    +lg
      padding-left: 50px
      padding-right: 50px
      padding-top: 18px
      padding-bottom: 18px
    +md
      padding-left: 30px
      padding-right: 30px
      padding-top: 16px
      padding-bottom: 16px
    +sm
      padding-left: 20px
      padding-right: 20px
      padding-top: 12px
      padding-bottom: 12px
    +xs
      padding-left: 10px
      padding-right: 10px

  &--lg
    font-size: 18px
    padding-top: 21px
    padding-bottom: 21px
    +md
      font-size: 16px
    +sm
      font-size: $fz
  &--full
    width: 100%
    padding-left: 15px
    padding-right: 15px


