.clients
  overflow: hidden
  position: relative
  &__table
    position: relative
    z-index: 1
  &__word
    top: 50%
    transform: translate(0, -50%)
    +md
      top: auto
      transform: translate(0, 0)
      bottom: 0


.clients-table
  $this: &
  // +flex(flex-start, normal, row, wrap)
  width: percentage(8/12)
  position: relative
  +lg
    width: percentage(10/12)
  +md
    width: 100%
    +before
      display: none
  +before
    height: 1px
    background-color: $c-border
    position: absolute
    top: 50%
    left: 100%
    transform: translate(0, -50%)
    width: 100vw
  +clr
  &__item
    float: left
    background-color: $white
    width: 25%
    +flex(center, center)
    height: 170px
    border: 1px solid $c-border
    padding: 10px
    opacity: 0
    +md
      width: 33.33333%
    +xs
      width: 50%
  &__item-lg
    width: 50%
    height: 340px
    +css-lock(40, 160, 320, 1499, font-size)
    +bold
    +md
      width: 100%
      height: auto
    +xs
      width: 100%

  &--full
    width: 100%
    +before
      background-color: $white
      transform: translate(0, 0)
      left: 0
      bottom: 0
      top: auto
      width: 100%
      z-index: 1
    +lg
      width: 100%
    #{$this}__item
      border: 0
      border-right: 1px dashed  $c-border
      border-bottom: 1px dashed  $c-border
      &:nth-child(4n - 4)
        border-right-width: 0
      +md
        width: 25%
      +sm
        width: 33.33333%
        &:nth-child(3n - 3)
          border-right-width: 0
        &:nth-child(4n - 4)
          border-right-width: 1px
      +xs
        width: 50%
        &:nth-child(3n - 3)
          border-right-width: 1px
        &:nth-child(even)
          border-right-width: 0