.contacts
  &__btn
    margin-left: -80px
    +lg
      margin-left: -30px
    +sm
      margin-left: 0

.contact
  position: relative
  color: $white
  padding-left: 23px
  margin-bottom: 35px
  +md
    margin-bottom: 25px
  +sm
    margin-bottom: 15px
  &__icon
    position: absolute
    top: 0
    left: 0
    .icon
      font-size: $fz
  &__text
    a
      display: block
      +tr(color .3s)
      +hover
        color: $gray

  &--lg
    font-size: 20px

.contacts-list
  +flex(flex-start, normal, row, wrap)
  &__item
    width: 50%
    margin-bottom: 35px
    &:last-child
      width: 100%
    +md
      margin-bottom: 25px
    +sm
      margin-bottom: 10px
    small
      display: block
      font-size: 10px
      color: $gray-light
    a
      +tr(color .3s)
      +hover
        color: $gray
  &__phone
    @extend .h4
  &__item-title
    color: $gray-light
    text-transform: uppercase
    margin-bottom: 10px
    font-size: 11px
    +sm
      margin-bottom: 5px