.contacts
  &__btn
    margin-left: -80px
    +lg
      margin-left: -30px
    +sm
      margin-left: 0

.contact
  position: relative
  color: $white
  padding-left: 23px
  margin-bottom: 35px
  +md
    margin-bottom: 25px
  +sm
    margin-bottom: 15px
  &__icon
    position: absolute
    top: 0
    left: 0
    .icon
      font-size: $fz
  &__text
    a
      display: block
      +tr(color .3s)
      +hover
        color: $gray

  &--lg
    font-size: 20px