.no-touch
  .no-scroll
    .header
      right: 17px

.header
  $this: &
  opacity: 0
  background-color: $black
  color: $white
  position: relative
  z-index: 15
  height: $header-height
  +flex(flex-start, center)
  padding-left: 30px
  padding-right: 30px
  padding-top: 10px
  padding-bottom: 10px
  +sm
    height: $header-height-sm
    padding-top: 10px
    padding-left: 15px
    padding-right: 15px
  &.is-fixed
    position: fixed
    left: 0
    right: 0
    top: 0
    background-color: $white
    color: $black
    padding-top: 10px
    padding-bottom: 10px
    box-shadow: 0 0 10px rgba($gray, .3)
    #{$this}__nav
      display: none
      &.is-active
        display: block
    #{$this}__burger
      flex-grow: 1
  &__logo
    padding-right: 25px
    +xs
      padding-right: 10px
  &__phone
    padding-left: 25px
    padding-right: 25px
    position: relative
    &::before,
    &::after
      content: ''
      position: absolute
      background-color: $gray
      width: 1px
      height: 38px
      top: 50%
      transform: translate(0, -50%)
    &::before
      left: 0
    &::after
      right: 0
    +xs
      padding-left: 10px
      padding-right: 10px
  &__nav
    padding-left: 25px
    flex-grow: 1
    +lg
      display: none
  &__nav-close    
    +icon-close(20, 2, $black)
    position: absolute
    top: 20px
    right: 20px
    z-index: 1
    display: none
    +lg
      display: block
  &__burger
    +lg
      flex-grow: 1

  &--transparent
    background-color: transparent

.header-phone
  $this: &
  +light
  &__inner
    position: relative
    &:hover
      #{$this}__list
        visibility: visible
        opacity: 1

  &__phone
    display: block
  &__list
    position: absolute
    top: 100%
    padding-top: 25px
    left: 0
    z-index: 1
    visibility: hidden
    opacity: 0
    +tr(visibility .3s, opacity .3s)
  &__subttl
    color: $gray
    font-size: 10px
  &__title
    +tr(color .3s)
    position: relative
    display: inline-block
    padding-right: 15px
    font-size: 19px
    +bold
    +hover
      color: $gray
    +before
      +icon-arrow(8, 8, 1, currentColor, -45)
      position: absolute
      top: .6em
      right: 0
    +xs
      font-size: $fz
  &__phone
    +tr(color .3s)
    +hover
      color: $gray
  &--menu
    #{$this}__subttl
      color: $gray-light
    #{$this}__title
      +before
        display: none

.burger
  display: block
  width: 39px
  height: 18px
  margin-left: auto
  +xs
    // width: 30px
    padding-left: 9px
    // margin-left: 10px
  span:after, span:before 
    content: ""
    position: absolute
    left: 0
    top: 9px
  span:after
    top: 18px
  span 
    position: relative
    display: block
  span, span:after, span:before
    width: 100%
    height: 2px
    background-color: currentColor
    transition: transform 0.3s
    backface-visibility: hidden
    border-radius: 2px
  // &.is-active span 
  //   background-color: transparent
  // &.is-active span:before 
  //   transform: rotate(45deg) translate(-1px, 0px)
  // &.is-active span:after 
  //   transform: rotate(-45deg) translate(6px, -7px)
