.hero
  $this: &
  background-color: $purple-dark  
  overflow: hidden
  color: $white
  position: relative
  margin-top: -$header-height  
  +cover
  // +before
    // +coverdiv
    // +image('white-transp-pattern.png')
    // background-repeat: repeat
    // background-size: auto
    // z-index: 0
  +sm
    margin-top: -$header-height-sm
  &__texture
    +coverdiv
    z-index: 0
    opacity: .2
    overflow: hidden
  &__inner
    +flex(flex-start, center, row, wrap)
    position: relative
    padding-top: $padding-lg
    padding-bottom: $padding-lg
    height: 100vh
    height: calc(var(--vh, 1vh) * 100)
    z-index: 1
    +xl
      padding-top: $padding-mdl
      padding-bottom: $padding-mdl
    +lg
      padding-top: $padding-md + 15px
      padding-bottom: $padding-md + 15px
    +xs
      padding-top: $padding-sml + 10px
      padding-bottom: $padding-sml + 10px
  &__content
    width: 50%
    position: relative
    overflow: hidden
    +md
      width: 70%
    +sm
      width: 100%

  &__img
    width: 50%
    text-align: right
    margin-right: -10%
    // margin-top: 5%
    opacity: 0
    transform: translate(-100%, 0)  
    +md
      width: 30%
    +sm
      display: none

  &__img-in
    position: relative
    display: inline-block
    +css-lock(200, 600, 320, 1499, font-size)
    line-height: .9
    +rmix(1499, 640)
      font-size: 400px
    +rmix(1499, 540)
      font-size: 350px
    +rmix(1199, 540)
      font-size: 300px
    .icon
      position: relative
      z-index: 1
      html:not(.is-ie) &
        fill: transparent
        &.is-animate
          stroke: $white
          stroke-width: 5px
          stroke-dasharray: 15000
          stroke-dashoffset: 15000
          animation: logo 1s forwards
    .letter-shadow
      &:nth-child(2)
        fill: $white
        position: absolute
        margin-top: .05em
        margin-left: -.05em
        top: 0
        left: 0
        z-index: 0
  &__title
    margin-bottom: 60px
    opacity: 0
    .title
      opacity: 0
      small
        display: block
    +xl
      margin-bottom: 50px
    +lg
      margin-bottom: 40px
    +md
      margin-bottom: 30px
    +sm
      margin-bottom: 15px
  &__title-mb-sm
    margin-bottom: 20px
    +xl
      margin-bottom: 20px
    +lg
      margin-bottom: 20px
    +md
      margin-bottom: 15px
  &__subttl
    text-transform: uppercase
    opacity: 0
    +light
    margin-bottom: 20px
    +md
      margin-bottom: 10px
  &__subttl-ttn
    text-transform: none
  &__btns
    +flex
    +xs
      display: block
  &__blog-meta
    opacity: 0
  &__btn
    opacity: 0
    +notlast
      margin-right: 30px
      +md
        margin-right: 15px
      +xs
        margin-right: 0
        margin-bottom: 10px
  &__scroll-down
    position: absolute
    opacity: 0
    left: 50%
    transform: translate(-50%, 0)
    bottom: 0
    z-index: 1
  &__text
    opacity: 0
    margin-bottom: 50px
    +xl
      margin-bottom: 40px
    +lg
      margin-bottom: 30px
    +md
      margin-bottom: 20px
    +sm
      margin-bottom: 15px
  &__bg
    +cover
    background-size: contain
    position: absolute
    top: 0
    bottom: 0
    z-index: 0
    right: 0
    width: percentage(1065/1920)
  &__nav
    max-width: 420px
    li
      opacity: 0
  &__contacts
    max-width: 450px


  &--content
    overflow: visible
    #{$this}__inner
      flex-direction: column
      align-items: normal
      justify-content: flex-start
    #{$this}__content
      flex-grow: 1
      +flex(center, normal, column)
    #{$this}__scroll-down
      transform: translate(0, 0)
      left: percentage(375/1920)
      bottom: -15px
    #{$this}__content
      width: percentage(7/12)
      +md
        width: 70%
      +sm
        width: 100%
    #{$this}__text
      max-width: 465px

  &--gray
    background-color: $gray-lighten
    color: $black
    .scroll-to
      color: $black
    +before
      display: none
    #{$this}__texture
      opacity: .1
  &--content-center
    #{$this}__content
      width: 100%
      text-align: center
    #{$this}__btns
      justify-content: center
      margin-left: -15px
      margin-right: -15px
    #{$this}__btn
      margin-left: 15px
      margin-right: 15px
      +notlast
        margin-right: 15px
    #{$this}__text
      margin-left: auto
      margin-right: auto
  &--single
    #{$this}__inner
      // height: auto
      height: calc(100vh - #{$footer-height})
      height: calc((var(--vh, 1vh) * 100) - #{$footer-height})
      +sm
        height: calc(100vh - #{$footer-height-sm})
        height: calc((var(--vh, 1vh) * 100) - #{$footer-height-sm})
      +xs
        height: auto
        padding-top: 30%
        padding-bottom: 30%
  &--half
    #{$this}__inner
      display: block
      padding-top: 0
      padding-bottom: 0
      height: auto
      +md
        padding-bottom: 0
      +sm
        height: auto
      +xs
        height: auto
        padding-bottom: 0
        padding-top: 20%
    #{$this}__left
      height: 100%
    #{$this}__left-in
      height: 100%
      +flex(center, normal, column)
      min-height: calc(100vh - #{$footer-height})
      min-height: calc((var(--vh, 1vh) * 100) - #{$footer-height})
      padding-top: $padding-lg
      padding-bottom: $padding-lg
      padding-right: calc(50% + 30px)
      +xl
        padding-top: $padding-mdl
        padding-bottom: $padding-mdl
        padding-right: calc(50% + 15px)
      +lg
        padding-top: $padding-md + 15px
        padding-bottom: $padding-md + 15px
      +md
        display: block
        margin-bottom: 25px
        padding-right: 0
        padding-bottom: 0
        min-height: 0
      +sm
        
      +xs
        padding-top: 0
      .s-order__btns
        margin-left: -15px
        margin-right: -15px
        +xl
          margin-left: 0
          margin-right: 0
      .s-order__btn
        width: calc(50% - 30px)
        margin-left: 15px
        margin-right: 15px
        +xl
          width: 100%
          margin-left: 0
          margin-right: 0
      
    #{$this}__right
      width: 50%
      position: absolute
      z-index: 1
      right: 0
      top: $header-height
      bottom: 0
      iframe
        +coverdiv
      +md
        position: relative
        top: auto
        padding-top: 50%
        width: 100%
        margin-left: 0
        margin-right: 0

  @keyframes logo
    0%
      fill: transparent
    50%
      fill: transparent
      stroke-dashoffset: 0
    100%
      fill: $white
      stroke-dashoffset: 0