.hero
  $this: &
  background-color: $purple-dark  
  overflow: hidden
  color: $white
  position: relative
  margin-top: -$header-height  
  +cover
  +before
    +coverdiv
    +image('white-transp-pattern.png')
    background-repeat: repeat
    background-size: auto
    z-index: 0
  +sm
    margin-top: -$header-height-sm
  &__inner
    +flex(flex-start, center)
    position: relative
    padding-top: $padding-lg
    padding-bottom: $padding-lg
    height: 100vh
    height: calc(var(--vh, 1vh) * 100)
    z-index: 1
    +xl
      padding-top: $padding-mdl
      padding-bottom: $padding-mdl
    +lg
      padding-top: $padding-md
      padding-bottom: $padding-md
  &__content
    width: 50%
    position: relative
    overflow: hidden
    +md
      width: 70%
    +sm
      width: 100%

  &__img
    width: 50%
    text-align: right
    margin-right: -10%
    margin-top: 5%
    opacity: 0
    transform: translate(-100%, 0)  
    +md
      width: 30%
    +sm
      display: none

  &__img-in
    position: relative
    display: inline-block
    +css-lock(200, 600, 320, 1499, font-size)
    line-height: .9
    +rmix(1499, 640)
      font-size: 400px
    +rmix(1499, 540)
      font-size: 350px
    +rmix(1199, 540)
      font-size: 300px
    .icon
      position: relative
      z-index: 1
      fill: transparent
      &.is-animate
        stroke: $white
        stroke-width: 5px
        stroke-dasharray: 15000
        stroke-dashoffset: 15000
        animation: logo 1s forwards
    .letter-shadow
      &:nth-child(2)
        fill: $white
        position: absolute
        margin-top: .05em
        margin-left: -.05em
        top: 0
        left: 0
        z-index: 0
  &__title
    margin-bottom: 60px
    opacity: 0
    .title
      opacity: 0
      small
        display: block
    +xl
      margin-bottom: 50px
    +lg
      margin-bottom: 40px
    +md
      margin-bottom: 30px
    +sm
      margin-bottom: 15px
  &__subttl
    text-transform: uppercase
    opacity: 0
    +light
    margin-bottom: 20px
    +md
      margin-bottom: 10px
  &__subttl-ttn
    text-transform: none
  &__btns
    +flex
    +xs
      display: block
  &__btn
    opacity: 0
    +notlast
      margin-right: 30px
      +md
        margin-right: 15px
      +xs
        margin-right: 0
        margin-bottom: 10px
  &__scroll-down
    position: absolute
    opacity: 0
    left: 50%
    transform: translate(-50%, 0)
    bottom: 0
    z-index: 1
  &__text
    opacity: 0
    margin-bottom: 50px
    +xl
      margin-bottom: 40px
    +lg
      margin-bottom: 30px
    +md
      margin-bottom: 20px
    +sm
      margin-bottom: 15px
  &__bg
    +cover
    background-size: contain
    position: absolute
    top: 0
    bottom: 0
    z-index: 0
    right: 0
    width: percentage(1065/1920)


  &--content
    overflow: visible
    #{$this}__inner
      flex-direction: column
      align-items: normal
      justify-content: flex-start
    #{$this}__content
      flex-grow: 1
      +flex(center, normal, column)
    #{$this}__scroll-down
      transform: translate(0, 0)
      left: percentage(375/1920)
      bottom: -15px
    #{$this}__content
      width: percentage(7/12)
      +md
        width: 70%
      +sm
        width: 100%
    #{$this}__text
      max-width: 465px

  &--gray
    background-color: $gray-lighten
    color: $black
    .scroll-to
      color: $black
    +before
      display: none
  &--content-center
    #{$this}__content
      width: 100%
      text-align: center
    #{$this}__btns
      justify-content: center
      margin-left: -15px
      margin-right: -15px
    #{$this}__btn
      margin-left: 15px
      margin-right: 15px
      +notlast
        margin-right: 15px
    #{$this}__text
      margin-left: auto
      margin-right: auto

  @keyframes logo
    0%
      fill: transparent
    50%
      fill: transparent
      stroke-dashoffset: 0
    100%
      fill: $white
      stroke-dashoffset: 0