.nav
  $this: &
  +light
  +lg
    color: $black
    font-size: 24px
    text-align: center
    display: inline-block
    vertical-align: middle
  li
    display: inline-block
    position: relative
    +notlast
      margin-right: 45px
    +lg
      display: block
      +notlast
        margin-right: 0
        margin-bottom: 15px
    &.has-dropdown  
      a
        position: relative
        padding-right: 15px
        +before
          +icon-arrow(8, 8, 1, currentColor, -45)
          position: absolute
          top: .2em
          right: 0
          +lg
            top: .5em
      &:hover
        #{$this}--dropdown
          visibility: visible
          opacity: 1 
          +lg
            max-height: 400px
            overflow: visible     
  a
    +tr(color .3s)
    text-transform: uppercase
    display: inline-block
    +hover
      color: $gray

  &--dropdown
    visibility: hidden
    opacity: 0
    position: absolute
    z-index: 1
    top: calc(100%)
    padding-top: 25px
    left: 0
    color: $gray
    white-space: nowrap
    +tr(opacity .3s, visibility .3s)
    +lg
      position: static
      visibility: visible
      opacity: 1
      display: block
      max-height: 0
      padding: 0
      overflow: hidden
      +tr(max-height .3s)
    li
      display: block
      +notlast
        margin-bottom: 15px
    a
      text-transform: none
      +before
        display: none
      +hover
        color: $white