.numbers
  +flex(flex-start, normal, row, wrap)

.number
  width: 25%
  text-align: center
  padding-left: 15px
  padding-right: 15px
  &__title
    margin-bottom: 15px
    +sm
      margin-bottom: 10px