.section
  $this: &
  position: relative
  &__title-block
    +css-lock(30, 100, 320, 1499, margin-bottom)
  &__faq
    width: percentage(11/12)
    +lg
      width: auto
  &__nav
    text-align: center
    margin-bottom: 55px
    opacity: 0
    +xl
      margin-bottom: 45px
    +lg
      margin-bottom: 35px
    +md
      margin-bottom: 25px
    +sm
      margin-bottom: 15px
  &--white-color
    color: $white
  &--black
    background-color: $black
  &--gray-lighten
    background-color: $gray-lighten
  &--img
    &__inner
      +flex(flex-start, normal, row, wrap)
    &__content
      width: percentage(7/12)
      +flex(center, normal, column)
      .title-block
        +r(1410)
          margin-left: -15px
      +xs
        width: 100%
        margin-bottom: 15px
        .title-block--no-container
          padding-left: 15px
          padding-right: 15px
    &__img
      width: percentage(5/12)
      text-align: right
      +xs
        width: 100%
        .section-img
          // padding-top: 40%
          width: 100%
    &__img-left
      text-align: left

.section-img
  $this: &
  display: inline-block
  width: percentage(4/5)
  position: relative
  &__img
    +cover
    background-color: $gray
    position: relative
    z-index: 1
    padding-top: 150%
    opacity: 0
  +before
    +coverdiv
    z-index: 0
    top: 8%
    left: -10%
    background-color: $gray-lighten

  &--reverse
    +before
      left: auto
      right: -10%

.s-more
  .word
    left: 0
    +css-lock(30, 125, 320, 1499, top)
  .container
    position: relative
    z-index: 1
  &__title
    +css-lock(20, 175, 320, 1499, margin-bottom)
    max-width: 720px
    .h3
      opacity: 0
  &__block
    width: percentage(8/12)
    margin-left: percentage(4/12)
    position: relative
    +md
      width: percentage(10/12)
      margin-left: percentage(2/12)
    +xs
      width: auto
      margin-left: 0
  &__block-title
    margin-bottom: 30px
    +lg
      margin-bottom: 20px
    +md
      margin-bottom: 15px
    +sm
      margin-bottom: 10px
  &__text
    margin-bottom: 50px
    +lg
      margin-bottom: 30px
    +md
      margin-bottom: 20px
    +sm
      margin-bottom: 15px
  &__title-lg
    margin-bottom: 90px
    +xl
      margin-bottom: 70px
    +lg
      margin-bottom: 50px
    +md
      margin-bottom: 30px
    +sm
      margin-bottom: 20px
  &__btn
    text-align: right
  &__arrow
    position: absolute
    bottom: 0
    left: 0% - percentage(360/930)
    color: $c-border    
    .icon
      font-size: $fz-arrow
      +rotate(90)
      +sm
        font-size: $fz-arrow-sm
    +md
      left: -16%
    +xs
      position: static
      display: block
      width: 40px
      margin-top: 10px
      margin-bottom: 10px
      margin-left: auto
      margin-right: auto


.s-portfolio
  .word
    right: -5%
    +sm
      right: -10%
    +xs
      right: -20%
    +xss
      right: -30%
  &__link
    text-transform: uppercase
    display: inline-block
    text-align: center
    +bold
    .icon
      display: block
      margin-left: auto
      margin-right: auto
      font-size: 30px
      margin-bottom: 5px
  &__link-wrap
    text-align: center
    padding-top: 50px
    +lg
      padding-top: 30px
    +md
      padding-top: 20px
    +sm
      padding-top: 15px

.s-services
  .word
    right: -7%

.s-we-know
  overflow: hidden
  .word
    right: -13%
  &__title-block
    +css-lock(30, 240, 320, 1499, margin-bottom)
  &__title
    max-width: 650px
    +css-lock(15, 80, 320, 1499, margin-bottom)
    .title
      opacity: 0
  &__content
    max-width: 930px
    +css-lock(15, 95, 320, 1499, margin-bottom)
  &__text
    opacity: 0

.s-testimonials
  position: relative
  +before
    position: absolute
    width: 100%
    height: 50%
    left: 0
    top: 0
    z-index: 0
    background-image: linear-gradient( 0deg, rgb(46,5,56) 0%, rgb(2,2,2) 100%)
  &__title
    position: relative
    z-index: 1
    margin-bottom: 95px
    max-width: 1000px
    .title
      opacity: 0
    +xl
      margin-bottom: 75px
    +lg
      margin-bottom: 50px
    +md
      margin-bottom: 30px
    +sm
      margin-bottom: 20px
  &__slider
    position: relative
    z-index: 1

.s-order
  $this: &
  &__inner
    +flex(flex-start, normal, row, wrap)
    overflow: hidden
  &__left
    width: percentage(8/12)
    padding-right: 15px
    +md
      width: 60%
    +sm
      width: 100%
      margin-bottom: 15px
      padding-right: 0
  &__right
    width: percentage(4/12)
    opacity: 0
    +md
      width: 40%
    +sm
      width: 100%
  &__title
    margin-bottom: 55px
    .title
      opacity: 0
    +xl
      margin-bottom: 45px
    +lg
      margin-bottom: 35px
    +md
      margin-bottom: 25px
    +sm
      margin-bottom: 15px
  &__contacts
    margin-bottom: 50px
    opacity: 0
    +xl
      margin-bottom: 40px
    +lg
      margin-bottom: 30px
    +md
      margin-bottom: 20px
    +sm
      margin-bottom: 10px
  &__btns
    +flex(flex-start, normal, row, wrap)
    opacity: 0
    +xl
      display: block
  &__btn
    width: percentage(3/8)
    +notlast
      margin-right: 30px
    +xl
      width: 50%
      +notlast
        margin-right: 0
        margin-bottom: 15px
    +lg
      width: 60%
    +md
      width: 70%
    +sm
      width: auto

  &--bg
    +cover
    #{$this}__title
  &--sm
    #{$this}__left
      margin-left: percentage(2/12)
      text-align: center
      +lg
        width: percentage(10/12)
        margin-left: percentage(1/12)
      +sm
        width: 100%
        margin-left: 0
    #{$this}__btns
      justify-content: center
      margin-left: -15px
      margin-right: -15px
      +xl
        margin-left: 0
        margin-right: 0
    #{$this}__btn
      margin-left: 15px
      margin-right: 15px
      +notlast
        margin-right: 15px
      +xl
        margin-left: auto
        margin-right: auto
        +notlast
          margin-right: auto
  &--subscribe
    #{$this}__left
      width: 50%
      +lg
        // width: percentage(7/12)
      +sm
        width: 100%
        padding-right: 0
    #{$this}__right
      width: 50%
      padding-left: 15px
      +sm
        padding-left: 0
        width: 100%
    #{$this}__subttl
      text-transform: uppercase
      margin-bottom: 20px
      // opacity: 0
      +sm
        margin-bottom: 10px
    #{$this}__title
      strong
        display: block
    #{$this}__text
      max-width: 450px
    #{$this}__text,
    #{$this}__title
      margin-bottom: 30px
      +md
        margin-bottom: 20px
      +sm
        margin-bottom: 10px
    #{$this}__img
      position: absolute
      z-index: 0
      bottom: 0
      top: -5%
      right: 0
      width: 50%
      +sm
        display: none


.order-contacts
  &__mail
    text-transform: uppercase
    font-size: 18px
    margin-bottom: 10px
    a
      +tr(color .3s)
      +hover
        color: $gray
    +sm
      font-size: $fz
  &__phone
    @extend .title
    +reg    
    a
      +tr(color .3s)
      +hover
        color: $gray
  &__text
    text-transform: uppercase
    margin-top: 10px

.s-numbers
  .word
    margin-bottom: .2em
    right: -5%

.s-team
  .word
    margin-bottom: .15em
    right: 0
    left: 35%

.s-principles
  .word
    bottom: auto
    top: 0
    right: -12%

.s-feedbacks
  .word
    bottom: auto
    top: 0
    right: -18%

.s-gallery
  .word
    right: auto
    left: 35%
    bottom: -.3em

.s-blog-article
  &__inner
    +flex(flex-start, normal, row, wrap)
  &__content
    width: percentage(8/12)
    margin-right: percentage(1/12)
    padding-right: 15px
    +lg
      margin-right: 0
    +sm
      width: 100%
      padding-right: 0
  &__aside
    width: percentage(3/12)
    padding-left: 15px
    +lg
      width: percentage(4/12)
    +sm
      display: none

.s-consult
  &__inner
    max-width: 690px
    margin-left: auto
    margin-right: auto
    text-align: center
  &__title
    margin-bottom: 15px
    +md
      margin-bottom: 10px
    +sm
      margin-bottom: 5px
  &__subttl
    margin-bottom: 20px
    +md
      margin-bottom: 15px
    +sm
      margin-bottom: 10px

.s-img-right
  .word
    bottom: auto
    top: 10%
    right: -25%
  &__inner
    +flex(flex-start, center)
    +md
      display: block
  &__title-block
    flex: 0 0 100%
  &__img
    position: relative
    margin-left: -50%
    z-index: 1
    margin-top: -5%
    // +css-lock(30, 125, 320, 1499, top)
    right: 5%
    width: 50%
    text-align: center
    img
      display: inline-block
    +md
      margin-left: 0
      margin-top: 0
      width: 100%
      right: 0

.s-features
  .word
    bottom: auto
    top: 15px
    right: -30%
  &__inner
    +flex(flex-start, normal, row, wrap)
    margin-left: -15px
    margin-right: -15px
    +sm
      margin-left: -5px
      margin-right: -5px

  &__img
    width: percentage(4/12)
    padding-right: 15px
    padding-left: 15px
    +sm
      padding-left: 5px
      padding-right: 5px
    +xs
      width: 100%
      // padding-right: 0
      margin-bottom: 30px
      order: 1
  &__content
    width: percentage(8/12)
    padding-left: 15px
    padding-right: 15px
    +sm
      padding-left: 5px
      padding-left: 5px
    +xs
      width: 100%
      // padding-left: 0
      order: 0
